Repository tumma72/mlx-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, svelte-check, backend-tests, frontend-tests

.pre-commit-config.yaml:

# Pre-commit hooks for MLX Model Manager
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # Python - Ruff (linting + formatting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Python - Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        files: ^backend/mlx_manager/
        additional_dependencies:
          - types-psutil
          - pydantic
          - sqlmodel
        args: [--ignore-missing-imports]

  # Frontend - Prettier
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: ^frontend/
        types_or: [javascript, typescript, svelte, css, json]
        additional_dependencies:
          - prettier
          - prettier-plugin-svelte

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(js|ts|svelte)$
        pass_filenames: false

      - id: svelte-check
        name: svelte-check
        entry: bash -c 'cd frontend && npm run check'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

  # Run tests
  - repo: local
    hooks:
      - id: backend-tests
        name: backend-tests
        entry: bash -c 'cd backend && source .venv/bin/activate && pytest -x -q'
        language: system
        files: ^backend/
        pass_filenames: false
        stages: [pre-push]

      - id: frontend-tests
        name: frontend-tests
        entry: bash -c 'cd frontend && npm run test'
        language: system
        files: ^frontend/
        pass_filenames: false
        stages: [pre-push]

# Configuration
default_stages: [pre-commit]

feat(03-02): register auth router in FastAPI app
  backend/mlx_manager/main.py
  backend/mlx_manager/routers/__init__.py
Due: backend-tests

docs(03-02): complete auth API endpoints plan
  .planning/STATE.md
  .planning/phases/03-user-authentication/03-02-SUMMARY.md
Due: none

feat(03-03): add auth dependencies to all backend routers
  backend/mlx_manager/routers/models.py
  backend/mlx_manager/routers/profiles.py
  backend/mlx_manager/routers/servers.py
  backend/mlx_manager/routers/system.py
Due: backend-tests

feat(03-03): create frontend auth store and types
  frontend/src/lib/api/types.ts
  frontend/src/lib/stores/auth.svelte.ts
  frontend/src/lib/stores/index.ts
Due: eslint, svelte-check, frontend-tests

feat(03-03): add auth headers and 401 handling to API client
  frontend/src/lib/api/client.ts
Due: eslint, svelte-check, frontend-tests

docs(03-03): complete frontend auth integration plan
  .planning/STATE.md
  .planning/phases/03-user-authentication/03-03-SUMMARY.md
Due: none

feat(03-04): create public route group with login page
  frontend/src/routes/(public)/+layout.svelte
  frontend/src/routes/(public)/+layout.ts
  frontend/src/routes/(public)/login/+page.svelte
Due: eslint, svelte-check, frontend-tests

feat(03-04): create protected route group and move pages
  frontend/src/routes/(protected)/+layout.svelte
  frontend/src/routes/(protected)/+layout.ts
  frontend/src/routes/(protected)/+page.svelte
  frontend/src/routes/(protected)/chat/+page.svelte
  frontend/src/routes/(protected)/models/+page.svelte
  frontend/src/routes/(protected)/profiles/+page.svelte
  frontend/src/routes/(protected)/profiles/[id]/+page.svelte
  frontend/src/routes/(protected)/profiles/new/+page.svelte
  frontend/src/routes/(protected)/servers/+page.svelte
  frontend/src/routes/+layout.svelte
Due: eslint, svelte-check, frontend-tests

feat(03-04): auto-initialize auth store on client-side
  frontend/src/lib/stores/auth.svelte.ts
Due: eslint, svelte-check, frontend-tests

fix(03-04): remove old route files after move to (protected)
  frontend/src/routes/+page.svelte
  frontend/src/routes/chat/+page.svelte
  frontend/src/routes/models/+page.svelte
  frontend/src/routes/profiles/+page.svelte
  frontend/src/routes/profiles/[id]/+page.svelte
  frontend/src/routes/profiles/new/+page.svelte
  frontend/src/routes/servers/+page.svelte
Due: eslint, svelte-check, frontend-tests

feat(03-05): create admin user management page
  frontend/src/routes/(protected)/users/+page.svelte
Due: eslint, svelte-check, frontend-tests

feat(03-05): add admin Users link and logout to Navbar
  frontend/src/lib/components/layout/Navbar.svelte
Due: eslint, svelte-check, frontend-tests

fix(03-04): improve auth store safety and login path handling
  frontend/src/lib/stores/auth.svelte.ts
  frontend/src/routes/(public)/login/+page.svelte
Due: eslint, svelte-check, frontend-tests

test(03-04): fix API client tests to expect auth headers
  frontend/src/lib/api/client.test.ts
Due: eslint, svelte-check, frontend-tests

docs(03-05): complete admin UI pages plan
  .planning/STATE.md
  .planning/phases/03-user-authentication/03-05-SUMMARY.md
Due: none

docs(03-04): complete auth UI pages plan
  .planning/STATE.md
  .planning/phases/03-user-authentication/03-04-SUMMARY.md
Due: none

docs(03): complete user-based authentication phase
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/03-user-authentication/03-VERIFICATION.md
Due: none

fix(03): login redirect loop and last admin disable protection
  backend/mlx_manager/routers/auth.py
  frontend/src/routes/(public)/login/+page.svelte
Due: eslint, svelte-check, backend-tests, frontend-tests

test(03): complete UAT - 14 passed, 2 issues (both blockers fixed)
  .planning/phases/03-user-authentication/03-UAT.md
Due: none

test(phase-3): fix auth tests and restore coverage to 98%
  .planning/STATE.md
  .planning/todos/pending/2026-01-20-fix-auth-tests-and-coverage.md
  .planning/todos/pending/2026-01-20-local-model-characteristics-not-shown.md
  .planning/todos/pending/2026-01-20-standardize-profile-server-tile-buttons.md
  backend/tests/conftest.py
  backend/tests/test_auth.py
  backend/tests/test_models.py
  backend/tests/test_profiles.py
  backend/tests/test_routers_auth_direct.py
  backend/tests/test_routers_profiles_direct.py
  backend/tests/test_routers_servers_direct.py
  backend/tests/test_servers.py
  backend/tests/test_system.py
  frontend/src/lib/api/client.test.ts
  frontend/src/lib/stores/auth.svelte.test.ts
  frontend/src/lib/stores/profiles.svelte.test.ts
  frontend/src/lib/stores/system.svelte.test.ts
Due: eslint, svelte-check, backend-tests, frontend-tests

docs: remove stale todos (tests fixed in 43fa4d8)
  .planning/STATE.md
Due: none

docs(04): capture phase context
  .planning/phases/04-model-discovery-badges/04-CONTEXT.md
Due: none

docs(04): research phase domain
  .planning/phases/04-model-discovery-badges/04-RESEARCH.md
Due: none

docs(04): create phase plan
  .planning/ROADMAP.md
  .planning/phases/04-model-discovery-badges/04-01-PLAN.md
  .planning/phases/04-model-discovery-badges/04-02-PLAN.md
  .planning/phases/04-model-discovery-badges/04-03-PLAN.md
Due: none

feat(04-01): add ModelCharacteristics type and extraction logic
  backend/mlx_manager/types.py
  backend/mlx_manager/utils/model_detection.py
Due: backend-tests

feat(04-01): add config endpoint and characteristics to local models
  backend/mlx_manager/models.py
  backend/mlx_manager/routers/models.py
  backend/mlx_manager/services/hf_api.py
  backend/mlx_manager/services/hf_client.py
  backend/mlx_manager/types.py
Due: backend-tests

test(04-01): add tests for model characteristics extraction
  backend/tests/test_model_detection.py
Due: backend-tests

docs(04-01): complete backend characteristics API plan
  .planning/STATE.md
  .planning/phases/04-model-discovery-badges/04-01-SUMMARY.md
Due: none

feat(04-03): add ModelToggle component for local/online mode selection
  frontend/src/lib/components/models/ModelToggle.svelte
  frontend/src/lib/components/models/index.ts
Due: eslint, svelte-check, frontend-tests

feat(04-02): add types and API method for model config
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/types.ts
Due: eslint, svelte-check, frontend-tests

feat(04-03): add FilterModal and FilterChips components
  frontend/src/lib/components/models/FilterChips.svelte
  frontend/src/lib/components/models/FilterModal.svelte
  frontend/src/lib/components/models/index.ts
Due: eslint, svelte-check, frontend-tests

feat(04-02): add badge components and ModelSpecs
  frontend/src/lib/components/models/ModelBadges.svelte
  frontend/src/lib/components/models/ModelSpecs.svelte
  frontend/src/lib/components/models/badges/ArchitectureBadge.svelte
  frontend/src/lib/components/models/badges/MultimodalBadge.svelte
  frontend/src/lib/components/models/badges/QuantizationBadge.svelte
Due: eslint, svelte-check, frontend-tests

feat(04-03): update models page with toggle and filter UX
  frontend/src/routes/(protected)/models/+page.svelte
Due: eslint, svelte-check, frontend-tests

feat(04-02): add config store and integrate badges into ModelCard
  frontend/src/lib/components/models/ModelCard.svelte
  frontend/src/lib/stores/index.ts
  frontend/src/lib/stores/models.svelte.ts
Due: eslint, svelte-check, frontend-tests

docs(04-03): complete Filter Toggle & Modal UI plan
  .planning/STATE.md
  .planning/phases/04-model-discovery-badges/04-03-SUMMARY.md
Due: none

docs(04-02): complete frontend badge components plan
  .planning/phases/04-model-discovery-badges/04-02-SUMMARY.md
Due: none

docs(04): complete model discovery & badges phase
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/04-model-discovery-badges/04-VERIFICATION.md
Due: none

test(04): add ModelConfigStore tests for coverage
  frontend/src/lib/stores/models.svelte.test.ts
Due: eslint, svelte-check, frontend-tests

fix(04): move filter types to separate file and fix test type errors
  frontend/src/lib/api/client.test.ts
  frontend/src/lib/components/models/FilterChips.svelte
  frontend/src/lib/components/models/FilterModal.svelte
  frontend/src/lib/components/models/filter-types.ts
  frontend/src/lib/components/models/index.ts
  frontend/src/lib/stores/auth.svelte.test.ts
  frontend/src/lib/stores/models.svelte.test.ts
  frontend/src/lib/stores/profiles.svelte.test.ts
Due: eslint, svelte-check, frontend-tests

fix(04): replace structuredClone with manual clone for Svelte 5 proxies
  .planning/phases/04-model-discovery-badges/04-UAT.md
  frontend/src/lib/components/models/FilterModal.svelte
Due: eslint, svelte-check, frontend-tests
