Repository tumma72/mlx-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, svelte-check, backend-tests, frontend-tests

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

svelte-check:
  name: svelte-check
  entry: bash -c 'cd frontend && npm run check'
  language: system
  pass_filenames: false

backend-tests:
  name: backend-tests
  entry: bash -c 'cd backend && source .venv/bin/activate && pytest -x -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: frontend-tests
  entry: bash -c 'cd frontend && npm run test'
  language: system
  pass_filenames: false
  stages:
  - pre-push

chore: update uv.lock
  backend/uv.lock
Due: backend-tests

chore: add README symlink for PyPI, simplify make release
  Makefile
  backend/README.md
Due: backend-tests

docs: add changelog entry for v1.2.3
  CHANGELOG.md
Due: none

chore: release v1.2.3
  Formula/mlx-manager.rb
  VERSION
  backend/mlx_manager/__init__.py
  backend/pyproject.toml
  frontend/package.json
Due: backend-tests, frontend-tests

chore(homebrew): update formula sha256 for v1.2.3
  Formula/mlx-manager.rb
Due: none

fix(homebrew): use stable transformers and fix first-install PATH linking
  Formula/mlx-manager.rb
  backend/pyproject.toml
  backend/uv.lock
Due: backend-tests

docs: add changelog entry for v1.2.4
  CHANGELOG.md
Due: none

chore: release v1.2.4
  Formula/mlx-manager.rb
  VERSION
  backend/mlx_manager/__init__.py
  backend/pyproject.toml
  frontend/package.json
Due: backend-tests, frontend-tests

chore(homebrew): update formula sha256 for v1.2.4
  Formula/mlx-manager.rb
Due: none

fix: bundle alembic migrations in package and modernize launchctl API
  CHANGELOG.md
  backend/alembic.ini
  backend/mlx_manager/alembic/README
  backend/mlx_manager/alembic/env.py
  backend/mlx_manager/alembic/script.py.mako
  backend/mlx_manager/alembic/versions/9fc5d838420b_initial_schema_with_parser_fields.py
  backend/mlx_manager/alembic/versions/a1b2c3d4e5f6_fix_enum_value_casing.py
  backend/mlx_manager/alembic/versions/b3f7a2c91d4e_phase3_capability_polymorphism.py
  backend/mlx_manager/alembic/versions/c7e4a1b2d3f5_phase4_profile_polymorphism.py
  backend/mlx_manager/alembic/versions/d8e3f5a7b912_add_template_params_and_model_options.py
  backend/mlx_manager/alembic/versions/e1a2b3c4d5f6_add_missing_tables_for_existing_users.py
  backend/mlx_manager/alembic/versions/f2a3b4c5d6e7_add_profile_id_to_backend_mappings.py
  backend/mlx_manager/database.py
  backend/mlx_manager/services/launchctl_utils.py
  backend/mlx_manager/services/launchd.py
  backend/mlx_manager/services/manager_launchd.py
  backend/pyproject.toml
  backend/tests/test_coverage_gaps.py
  backend/tests/test_database.py
  backend/tests/test_main.py
  backend/tests/test_services_hf_client.py
  backend/tests/test_services_launchctl_utils.py
  backend/tests/test_services_launchd.py
  backend/tests/test_services_manager_launchd.py
  frontend/src/lib/stores/probe.svelte.test.ts
  frontend/src/lib/stores/servers.svelte.test.ts
Due: eslint, svelte-check, backend-tests, frontend-tests

chore: release v1.2.5
  Formula/mlx-manager.rb
  VERSION
  backend/mlx_manager/__init__.py
  backend/pyproject.toml
  frontend/package.json
Due: backend-tests, frontend-tests

chore(homebrew): update formula sha256 for v1.2.5
  Formula/mlx-manager.rb
Due: none

fix: lint import ordering in test_coverage_gaps and add quality gates to release script
  backend/tests/test_coverage_gaps.py
  scripts/release.sh
Due: backend-tests

fix: format test_database.py for ruff compliance
  backend/tests/test_database.py
Due: backend-tests

docs: add changelog entry for v1.2.6, mark v1.2.5 as yanked
  CHANGELOG.md
Due: none

chore: release v1.2.6
  Formula/mlx-manager.rb
  VERSION
  backend/mlx_manager/__init__.py
  backend/pyproject.toml
  frontend/package.json
Due: backend-tests, frontend-tests

chore(homebrew): update formula sha256 for v1.2.6
  Formula/mlx-manager.rb
Due: none

fix: pre-loaded profile links navigate to correct edit page
  frontend/src/lib/components/settings/ModelPoolSettings.svelte
Due: eslint, svelte-check, frontend-tests

chore: gitignore .config/ directory
  .gitignore
Due: none

docs: add changelog entry for v1.2.7
  CHANGELOG.md
Due: none

chore: release v1.2.7
  Formula/mlx-manager.rb
  VERSION
  backend/mlx_manager/__init__.py
  backend/pyproject.toml
  frontend/package.json
Due: backend-tests, frontend-tests

chore(homebrew): update formula sha256 for v1.2.7
  Formula/mlx-manager.rb
Due: none

fix: update test expectation for profile link URL pattern
  frontend/src/lib/components/settings/ModelPoolSettings.test.ts
Due: eslint, svelte-check, frontend-tests

docs: add changelog entry for v1.2.8
  CHANGELOG.md
Due: none

chore: release v1.2.8
  Formula/mlx-manager.rb
  VERSION
  backend/mlx_manager/__init__.py
  backend/pyproject.toml
  frontend/package.json
Due: backend-tests, frontend-tests

chore(homebrew): update formula sha256 for v1.2.8
  Formula/mlx-manager.rb
Due: none

fix: patch importlib.metadata to handle broken dist-info in Homebrew
  CHANGELOG.md
  backend/mlx_manager/main.py
  backend/uv.lock
Due: backend-tests

chore: release v1.2.9
  Formula/mlx-manager.rb
  VERSION
  backend/mlx_manager/__init__.py
  backend/pyproject.toml
  frontend/package.json
Due: backend-tests, frontend-tests

chore(homebrew): update formula sha256 for v1.2.9
  Formula/mlx-manager.rb
Due: none

fix: isolate Homebrew venv from system site-packages
  CHANGELOG.md
  Formula/mlx-manager.rb
  backend/mlx_manager/main.py
Due: backend-tests

chore: release v1.2.10
  Formula/mlx-manager.rb
  VERSION
  backend/mlx_manager/__init__.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/package.json
Due: backend-tests, frontend-tests

chore(homebrew): update formula sha256 for v1.2.10
  Formula/mlx-manager.rb
Due: none

fix: stabilize pytest-xdist parallel execution and eliminate mock warnings
  backend/pyproject.toml
  backend/tests/test_probe_base.py
Due: backend-tests

fix: eliminate AsyncMock warnings by fixing root causes instead of filtering
  backend/pyproject.toml
  backend/tests/conftest.py
  backend/tests/test_probe_coverage_new.py
Due: backend-tests

chore: sync uv.lock version to 1.2.10
  backend/uv.lock
Due: backend-tests

docs: pre-populate changelog for v1.2.11
  CHANGELOG.md
Due: none

chore: release v1.2.11
  Formula/mlx-manager.rb
  VERSION
  backend/mlx_manager/__init__.py
  backend/pyproject.toml
  frontend/package.json
Due: backend-tests, frontend-tests

chore(homebrew): update formula sha256 for v1.2.11
  Formula/mlx-manager.rb
Due: none

fix: add return type annotation to probe SSE generator
  backend/mlx_manager/routers/models.py
Due: backend-tests

fix: add pytest-xdist to dev dependencies for CI parallel tests
  backend/pyproject.toml
  backend/uv.lock
Due: backend-tests

Path conditions:
  eslint: any of: ^frontend/.*\.(js|ts|svelte)$
  svelte-check: any of: ^frontend/.*\.(ts|svelte)$
  backend-tests: any of: ^backend/
  frontend-tests: any of: ^frontend/
