Repository tumma72/mlx-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, svelte-check, backend-tests, frontend-tests

.pre-commit-config.yaml:

# Pre-commit hooks for MLX Model Manager
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # Python - Ruff (linting + formatting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Python - Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        files: ^backend/mlx_manager/
        additional_dependencies:
          - types-psutil
          - pydantic
          - sqlmodel
        args: [--ignore-missing-imports]

  # Frontend - Prettier
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: ^frontend/
        types_or: [javascript, typescript, svelte, css, json]
        additional_dependencies:
          - prettier
          - prettier-plugin-svelte

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(js|ts|svelte)$
        pass_filenames: false

      - id: svelte-check
        name: svelte-check
        entry: bash -c 'cd frontend && npm run check'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

  # Run tests
  - repo: local
    hooks:
      - id: backend-tests
        name: backend-tests
        entry: bash -c 'cd backend && source .venv/bin/activate && pytest -x -q'
        language: system
        files: ^backend/
        pass_filenames: false
        stages: [pre-push]

      - id: frontend-tests
        name: frontend-tests
        entry: bash -c 'cd frontend && npm run test'
        language: system
        files: ^frontend/
        pass_filenames: false
        stages: [pre-push]

# Configuration
default_stages: [pre-commit]

refactor(probe): adopt probe_step context manager across all probe strategies
  backend/mlx_manager/services/probe/audio.py
  backend/mlx_manager/services/probe/coordinator.py
  backend/mlx_manager/services/probe/embeddings.py
  backend/mlx_manager/services/probe/vision.py
  docs/plans/PROBE_REFACTORING_PLAN.md
Due: backend-tests

test(15-16): add failing tests for family-aware parser prioritization
  backend/tests/test_probe_parser_priority.py
Due: backend-tests

feat(15-16): family-aware parser selection for probe system
  backend/mlx_manager/mlx_server/models/adapters/registry.py
  backend/mlx_manager/services/probe/base.py
  backend/mlx_manager/services/probe/coordinator.py
Due: backend-tests

docs(15-17): complete family-aware parser selection plan
  .planning/STATE.md
  .planning/phases/15-code-cleanup-integration-tests/15-17-SUMMARY.md
Due: none

refactor(probe): consolidate KV cache estimation and config reading helpers
  backend/mlx_manager/services/probe/base.py
  backend/mlx_manager/services/probe/embeddings.py
  backend/mlx_manager/services/probe/text_gen.py
  backend/mlx_manager/services/probe/vision.py
  backend/tests/test_probe_coverage_new.py
  backend/tests/test_probe_package.py
Due: backend-tests

refactor: extract sweep_thinking/sweep_tools from ProbingCoordinator into sweeps.py
  backend/mlx_manager/services/probe/coordinator.py
  backend/mlx_manager/services/probe/sweeps.py
  backend/tests/test_probe_coverage_new.py
  backend/tests/test_probe_package.py
Due: backend-tests

docs: update probe refactoring plan status (phases 1-4 complete)
  docs/plans/PROBE_REFACTORING_PLAN.md
Due: none

test(15-18): add failing tests for GenerativeProbe.sweep_capabilities()
  backend/tests/test_probe_sweep_capabilities.py
Due: backend-tests

feat(15-18): move sweep_capabilities from coordinator into GenerativeProbe
  backend/mlx_manager/services/probe/base.py
  backend/mlx_manager/services/probe/coordinator.py
Due: backend-tests

refactor(15-18): update existing tests to call strategy.sweep_capabilities()
  backend/tests/test_probe_coverage_new.py
  backend/tests/test_probe_package.py
Due: backend-tests

docs(15-18): complete GenerativeProbe.sweep_capabilities plan
  .planning/STATE.md
  .planning/phases/15-code-cleanup-integration-tests/15-18-SUMMARY.md
Due: none

test(6a-01): add failing tests for generation timeout in GenerativeProbe
  backend/tests/test_probe_generation_timeout.py
Due: backend-tests

feat(6a-01): add timeout protection to GenerativeProbe._generate()
  backend/mlx_manager/services/probe/base.py
  backend/mlx_manager/services/probe/vision.py
  backend/tests/test_probe_generation_timeout.py
Due: backend-tests

docs(6a-01): complete generation timeout plan
  .planning/STATE.md
  .planning/phases/15-code-cleanup-integration-tests/15-19-SUMMARY.md
Due: none

test(6b-01): add failing tests for verbose flag utilization in probe pipeline
  backend/tests/test_probe_verbose.py
Due: backend-tests

feat(6b-01): thread verbose flag through probe pipeline for debug details
  backend/mlx_manager/services/probe/coordinator.py
  backend/mlx_manager/services/probe/steps.py
  backend/mlx_manager/services/probe/sweeps.py
  backend/tests/test_probe_sweep_capabilities.py
Due: backend-tests

docs(15-20): complete verbose flag utilization plan
  .planning/STATE.md
  .planning/phases/15-code-cleanup-integration-tests/15-20-SUMMARY.md
Due: none

test(6e-01): add failing tests for probe --audit command
  backend/tests/test_probe_audit.py
Due: backend-tests

test(6d-01): add failing tests for include_report probe API parameter
  backend/tests/test_probe_report_api.py
Due: backend-tests

feat(6d-01): add include_report query parameter to probe API endpoint
  backend/mlx_manager/routers/models.py
Due: backend-tests

feat(6e-01): add probe --audit command for parser selection verification
  backend/mlx_manager/cli.py
Due: backend-tests

docs: mark all probe refactoring phases complete
  docs/plans/PROBE_REFACTORING_PLAN.md
Due: none

chore: updated dependencies
  backend/uv.lock
Due: backend-tests

feat: add HuggingFace token management to Settings
  backend/mlx_manager/routers/settings.py
  backend/mlx_manager/services/hf_api.py
  backend/mlx_manager/services/hf_client.py
  frontend/src/lib/api/client.ts
  frontend/src/lib/components/settings/HuggingFaceSettings.svelte
  frontend/src/lib/components/settings/index.ts
  frontend/src/routes/(protected)/settings/+page.svelte
Due: eslint, svelte-check, backend-tests, frontend-tests

feat: detect and adopt orphaned HF downloads, prevent probe hang on partial models
  backend/mlx_manager/database.py
  backend/mlx_manager/main.py
  backend/mlx_manager/services/hf_client.py
  backend/mlx_manager/services/probe/base.py
  backend/mlx_manager/services/probe/coordinator.py
Due: backend-tests

fix: family-aware parser prioritization in probe Phase 4 + informative completion log
  backend/mlx_manager/services/probe/coordinator.py
  backend/mlx_manager/services/probe/sweeps.py
Due: backend-tests

feat: add DevstralArgsParser and fix Mistral single-quote tool calls
  backend/mlx_manager/mlx_server/models/adapters/registry.py
  backend/mlx_manager/mlx_server/parsers/__init__.py
  backend/mlx_manager/mlx_server/parsers/registry.py
  backend/mlx_manager/mlx_server/parsers/tool_call.py
  backend/tests/mlx_server/test_parsers.py
  backend/tests/test_probe_base.py
Due: backend-tests

fix: unify vision prepare_input to support tools alongside images
  backend/mlx_manager/mlx_server/models/adapters/composable.py
  backend/tests/mlx_server/test_composable_adapters.py
  backend/tests/mlx_server/test_composable_coverage.py
Due: backend-tests

feat: architecture-based family fallback and tighter tool hint diagnostics
  backend/mlx_manager/mlx_server/models/adapters/registry.py
  backend/mlx_manager/mlx_server/models/pool.py
  backend/mlx_manager/services/probe/base.py
  backend/mlx_manager/services/probe/sweeps.py
  backend/tests/mlx_server/test_adapters.py
  backend/tests/test_probe_coverage_new.py
  backend/tests/test_probe_sweep_capabilities.py
  backend/tests/test_probe_tool_evidence.py
Due: backend-tests

refactor: migrate chat.py to IR-centric flow (Phase D)
  backend/mlx_manager/mlx_server/api/v1/chat.py
  backend/tests/mlx_server/api/v1/test_chat_routing.py
Due: backend-tests

refactor: cloud backends support same-protocol passthrough and cross-protocol IR conversion (Phase E)
  backend/mlx_manager/mlx_server/services/cloud/anthropic.py
  backend/mlx_manager/mlx_server/services/cloud/client.py
  backend/mlx_manager/mlx_server/services/cloud/openai.py
  backend/tests/mlx_server/services/cloud/test_anthropic.py
  backend/tests/mlx_server/services/cloud/test_client.py
  backend/tests/mlx_server/services/cloud/test_openai.py
Due: backend-tests

refactor: IR-centric cloud routing with tests and architecture docs
  backend/mlx_manager/ARCHITECTURE.md
  backend/mlx_manager/mlx_server/ARCHITECTURE.md
  backend/mlx_manager/mlx_server/api/v1/messages.py
  backend/mlx_manager/mlx_server/models/ir.py
  backend/mlx_manager/mlx_server/services/__init__.py
  backend/mlx_manager/mlx_server/services/cloud/openai.py
  backend/mlx_manager/mlx_server/services/cloud/router.py
  backend/mlx_manager/mlx_server/services/formatters/__init__.py
  backend/mlx_manager/mlx_server/services/formatters/anthropic.py
  backend/mlx_manager/mlx_server/services/formatters/base.py
  backend/mlx_manager/mlx_server/services/formatters/openai.py
  backend/mlx_manager/mlx_server/services/inference.py
  backend/tests/e2e/test_vision_e2e.py
  backend/tests/mlx_server/api/v1/test_messages.py
  backend/tests/mlx_server/api/v1/test_messages_routing.py
  backend/tests/mlx_server/models/test_ir.py
  backend/tests/mlx_server/services/cloud/test_router.py
  backend/tests/mlx_server/services/formatters/test_anthropic_protocol.py
  backend/tests/mlx_server/services/formatters/test_base.py
  backend/tests/mlx_server/test_formatters.py
  backend/tests/mlx_server/test_inference.py
  docs/ARCHITECTURE.md
Due: backend-tests

test: cover cloud routing internals (_route_local, _route_cloud, refresh_rules, IR stream SSE)
  backend/tests/mlx_server/api/v1/test_chat_routing.py
  backend/tests/mlx_server/services/cloud/test_router.py
Due: backend-tests

feat: always-on routing with profile-based local rules
  backend/alembic/versions/f2a3b4c5d6e7_add_profile_id_to_backend_mappings.py
  backend/mlx_manager/database.py
  backend/mlx_manager/mlx_server/api/v1/chat.py
  backend/mlx_manager/mlx_server/api/v1/messages.py
  backend/mlx_manager/mlx_server/config.py
  backend/mlx_manager/mlx_server/services/cloud/router.py
  backend/mlx_manager/models/dto/settings.py
  backend/mlx_manager/routers/settings.py
  backend/mlx_manager/shared/cloud_entities.py
  backend/tests/mlx_server/api/v1/test_chat_routing.py
  backend/tests/mlx_server/api/v1/test_messages_routing.py
  backend/tests/mlx_server/services/cloud/test_router.py
  backend/tests/test_settings_router.py
  frontend/src/lib/api/types.ts
  frontend/src/lib/components/settings/RoutingRulesSection.svelte
  frontend/src/lib/components/settings/RuleCard.svelte
  frontend/src/lib/components/settings/RuleForm.svelte
  frontend/src/lib/components/settings/RuleForm.test.ts
Due: eslint, svelte-check, backend-tests, frontend-tests

fix: resolve all lint, format, and type errors across backend and frontend
  backend/mlx_manager/cli.py
  backend/tests/mlx_server/test_anthropic_formatter_coverage.py
  backend/tests/mlx_server/test_inference.py
  backend/tests/mlx_server/test_parsers.py
  backend/tests/mlx_server/test_pool_coverage.py
  backend/tests/test_probe_audit.py
  backend/tests/test_probe_generation_timeout.py
  backend/tests/test_probe_parser_priority.py
  backend/tests/test_probe_report_api.py
  backend/tests/test_probe_step_context.py
  backend/tests/test_probe_verbose.py
  backend/tests/test_profiles.py
  backend/tests/test_servers.py
  frontend/eslint.config.js
  frontend/src/lib/components/profiles/ProfileForm.svelte
  frontend/src/lib/components/settings/ModelPoolSettings.svelte
  frontend/src/lib/stores/servers-ssr.test.ts
Due: eslint, svelte-check, backend-tests, frontend-tests

feat: MLX Server hardening P0+P1 — security, performance, and DRY refactoring
  backend/mlx_manager/main.py
  backend/mlx_manager/mlx_server/api/v1/admin.py
  backend/mlx_manager/mlx_server/api/v1/chat.py
  backend/mlx_manager/mlx_server/api/v1/completions.py
  backend/mlx_manager/mlx_server/api/v1/embeddings.py
  backend/mlx_manager/mlx_server/api/v1/messages.py
  backend/mlx_manager/mlx_server/config.py
  backend/mlx_manager/mlx_server/models/pool.py
  backend/mlx_manager/mlx_server/schemas/anthropic.py
  backend/mlx_manager/mlx_server/schemas/openai.py
  backend/mlx_manager/mlx_server/services/inference.py
  backend/mlx_manager/mlx_server/services/response_processor.py
  backend/mlx_manager/mlx_server/utils/metal.py
  backend/mlx_manager/mlx_server/utils/request_helpers.py
  backend/tests/mlx_server/test_pool_coverage.py
  docs/plans/MLX_SERVER_HARDENING.md
Due: backend-tests

feat(P2-2): Request ID propagation middleware for MLX Server
  backend/mlx_manager/mlx_server/errors/handlers.py
  backend/mlx_manager/mlx_server/main.py
  backend/mlx_manager/mlx_server/middleware/__init__.py
  backend/mlx_manager/mlx_server/middleware/request_id.py
  backend/tests/mlx_server/test_request_id.py
Due: backend-tests

fix(P2-2): add response_model=None to health endpoint for Union return type
  backend/mlx_manager/mlx_server/main.py
Due: backend-tests

feat(mlx-server): add graceful shutdown with connection draining
  backend/mlx_manager/mlx_server/config.py
  backend/mlx_manager/mlx_server/middleware/shutdown.py
  backend/tests/mlx_server/test_graceful_shutdown.py
Due: backend-tests

feat(P2-5): Model Loading Progress SSE endpoint for MLX Server
  backend/mlx_manager/mlx_server/api/v1/admin.py
  backend/mlx_manager/mlx_server/models/pool.py
  backend/mlx_manager/mlx_server/services/loading_progress.py
  backend/tests/mlx_server/test_loading_progress.py
Due: backend-tests
