Repository tumma72/mlx-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, svelte-check, backend-tests, frontend-tests

.pre-commit-config.yaml:

# Pre-commit hooks for MLX Model Manager
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # Python - Ruff (linting + formatting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Python - Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        files: ^backend/mlx_manager/
        additional_dependencies:
          - types-psutil
          - pydantic
          - sqlmodel
        args: [--ignore-missing-imports]

  # Frontend - Prettier
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: ^frontend/
        types_or: [javascript, typescript, svelte, css, json]
        additional_dependencies:
          - prettier
          - prettier-plugin-svelte

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(js|ts|svelte)$
        pass_filenames: false

      - id: svelte-check
        name: svelte-check
        entry: bash -c 'cd frontend && npm run check'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

  # Run tests
  - repo: local
    hooks:
      - id: backend-tests
        name: backend-tests
        entry: bash -c 'cd backend && source .venv/bin/activate && pytest -x -q'
        language: system
        files: ^backend/
        pass_filenames: false
        stages: [pre-push]

      - id: frontend-tests
        name: frontend-tests
        entry: bash -c 'cd frontend && npm run test'
        language: system
        files: ^frontend/
        pass_filenames: false
        stages: [pre-push]

# Configuration
default_stages: [pre-commit]

fix(frontend): resolve TypeScript and ESLint errors in test suite
  frontend/src/lib/api/client.test.ts
  frontend/src/lib/components/models/DownloadProgressTile.test.ts
  frontend/src/lib/components/models/FilterChips.test.ts
  frontend/src/lib/components/models/FilterModal.test.ts
  frontend/src/lib/components/models/ModelBadges.test.ts
  frontend/src/lib/components/models/ModelCard.test.ts
  frontend/src/lib/components/models/ModelSpecs.test.ts
  frontend/src/lib/components/models/ModelToggle.test.ts
  frontend/src/lib/components/profiles/ProfileCard.test.ts
  frontend/src/lib/components/profiles/ProfileForm.test.ts
  frontend/src/lib/components/settings/ProviderForm.test.ts
  frontend/src/lib/components/settings/RuleCard.test.ts
  frontend/src/lib/components/settings/RuleForm.test.ts
  frontend/src/lib/components/settings/RuleTestInput.test.ts
  frontend/src/lib/stores/settings.svelte.test.ts
  frontend/src/lib/stores/system.svelte.test.ts
  frontend/src/tests/setup.ts
Due: eslint, svelte-check, frontend-tests

feat(12-02): add RFC 7807 Problem Details models
  backend/mlx_manager/mlx_server/errors/__init__.py
  backend/mlx_manager/mlx_server/errors/problem_details.py
  backend/mlx_manager/mlx_server/observability/__init__.py
  backend/mlx_manager/mlx_server/observability/logfire_config.py
  backend/mlx_manager/observability/__init__.py
  backend/mlx_manager/observability/logfire_config.py
  backend/pyproject.toml
Due: backend-tests

feat(12-02): add RFC 7807 exception handlers
  backend/mlx_manager/mlx_server/errors/handlers.py
Due: backend-tests

feat(12-02): integrate error handlers and add tests
  backend/mlx_manager/mlx_server/errors/handlers.py
  backend/mlx_manager/mlx_server/main.py
  backend/tests/mlx_server/test_error_handlers.py
Due: backend-tests

feat(12-01): integrate LogFire into MLX Server startup
  backend/mlx_manager/mlx_server/config.py
  backend/mlx_manager/mlx_server/observability/logfire_config.py
Due: backend-tests

docs(12-02): complete RFC 7807 Error Responses plan
  .planning/STATE.md
  .planning/phases/12-production-hardening/12-02-SUMMARY.md
Due: none

feat(12-01): integrate LogFire into MLX Manager startup
  backend/mlx_manager/main.py
  backend/pyproject.toml
Due: backend-tests

docs(12-01): complete LogFire Integration plan
  .planning/STATE.md
  .planning/phases/12-production-hardening/12-01-SUMMARY.md
Due: none

feat(12-03): add timeout settings and decorator
  backend/mlx_manager/mlx_server/config.py
  backend/mlx_manager/mlx_server/middleware/__init__.py
  backend/mlx_manager/mlx_server/middleware/timeout.py
Due: backend-tests

feat(12-04): add AuditLog model and database setup for MLX server
  backend/mlx_manager/mlx_server/database.py
  backend/mlx_manager/mlx_server/models/audit.py
Due: backend-tests

feat(12-04): create audit service with background writes
  backend/mlx_manager/mlx_server/services/audit.py
Due: backend-tests

feat(12-03): apply timeout handling to inference endpoints
  backend/mlx_manager/mlx_server/api/v1/chat.py
  backend/mlx_manager/mlx_server/api/v1/completions.py
  backend/mlx_manager/mlx_server/api/v1/embeddings.py
Due: backend-tests

test(12-03): add timeout decorator and settings tests
  backend/tests/mlx_server/api/v1/test_chat_routing.py
  backend/tests/mlx_server/test_timeout.py
Due: backend-tests

feat(12-04): integrate audit logging into all inference endpoints
  backend/mlx_manager/mlx_server/api/v1/chat.py
  backend/mlx_manager/mlx_server/api/v1/completions.py
  backend/mlx_manager/mlx_server/api/v1/embeddings.py
  backend/mlx_manager/mlx_server/api/v1/messages.py
  backend/mlx_manager/mlx_server/main.py
  backend/mlx_manager/mlx_server/services/audit.py
  backend/tests/mlx_server/test_audit.py
Due: backend-tests

style(12-03): apply linting fixes to timeout code
  backend/mlx_manager/mlx_server/middleware/timeout.py
Due: backend-tests

docs(12-03): complete Request Timeouts plan
  .planning/STATE.md
  .planning/phases/12-production-hardening/12-03-SUMMARY.md
Due: none

docs(12-04): complete audit logging plan
  .planning/STATE.md
  .planning/phases/12-production-hardening/12-04-SUMMARY.md
Due: none

feat(12-05): add audit log API endpoints to MLX Server
  backend/mlx_manager/mlx_server/api/v1/admin.py
Due: backend-tests

feat(12-06): add timeout API endpoints and frontend client
  backend/mlx_manager/routers/settings.py
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/types.ts
Due: eslint, svelte-check, backend-tests, frontend-tests

feat(12-05): add WebSocket proxy for audit logs in manager API
  backend/mlx_manager/routers/system.py
Due: backend-tests

feat(12-06): create TimeoutSettings UI component
  frontend/src/lib/components/settings/TimeoutSettings.svelte
  frontend/src/lib/components/settings/index.ts
Due: eslint, svelte-check, frontend-tests

feat(12-05): add AuditLog, AuditLogFilter, AuditStats types
  frontend/src/lib/api/types.ts
Due: eslint, svelte-check, frontend-tests

feat(12-05): add audit log API client and proxy endpoints
  backend/mlx_manager/routers/system.py
  frontend/src/lib/api/client.ts
Due: eslint, svelte-check, backend-tests, frontend-tests

feat(12-05): create AuditLogPanel component
  frontend/src/lib/components/settings/AuditLogPanel.svelte
  frontend/src/lib/components/settings/index.ts
Due: eslint, svelte-check, frontend-tests

feat(12-06): integrate timeout settings into settings page
  backend/tests/test_settings_router.py
  frontend/src/lib/components/settings/TimeoutSettings.svelte
  frontend/src/routes/(protected)/settings/+page.svelte
Due: eslint, svelte-check, backend-tests, frontend-tests

feat(12-05): integrate AuditLogPanel into settings page
  frontend/src/lib/components/settings/AuditLogPanel.svelte
  frontend/src/routes/(protected)/settings/+page.svelte
Due: eslint, svelte-check, frontend-tests

docs(12-06): complete timeout settings UI plan
  .planning/STATE.md
  .planning/phases/12-production-hardening/12-06-SUMMARY.md
Due: none

docs(12-05): complete admin panel for audit logs
  .planning/phases/12-production-hardening/12-05-SUMMARY.md
Due: none

feat(12-07): add benchmark runner module
  backend/mlx_manager/mlx_server/benchmark/__init__.py
  backend/mlx_manager/mlx_server/benchmark/runner.py
Due: backend-tests

feat(12-07): add CLI for benchmarks
  backend/mlx_manager/mlx_server/benchmark/cli.py
  backend/pyproject.toml
Due: backend-tests

docs(12-07): add PERFORMANCE.md documentation
  docs/PERFORMANCE.md
Due: none

docs(12-07): complete CLI benchmarks and performance documentation plan
  .planning/STATE.md
  .planning/phases/12-production-hardening/12-07-SUMMARY.md
Due: none

docs(12): complete Phase 12 Production Hardening
  .planning/ROADMAP.md
Due: none

docs(13): research MLX Server integration patterns
  .planning/phases/13-mlx-server-integration/13-RESEARCH.md
Due: none

docs(13): create Phase 13 MLX Server Integration plans
  .planning/ROADMAP.md
  .planning/phases/13-mlx-server-integration/13-01-PLAN.md
  .planning/phases/13-mlx-server-integration/13-02-PLAN.md
  .planning/phases/13-mlx-server-integration/13-03-PLAN.md
  .planning/phases/13-mlx-server-integration/13-04-PLAN.md
  .planning/phases/13-mlx-server-integration/13-05-PLAN.md
Due: none

fix(13): revise plans based on checker feedback
  .planning/phases/13-mlx-server-integration/13-02-PLAN.md
  .planning/phases/13-mlx-server-integration/13-03-PLAN.md
  .planning/phases/13-mlx-server-integration/13-04-PLAN.md
  .planning/phases/13-mlx-server-integration/13-05-PLAN.md
Due: none

feat(13-01): add create_app factory for embedded MLX Server mode
  backend/mlx_manager/mlx_server/main.py
Due: backend-tests

chore(13-02): delete legacy subprocess management files
  backend/mlx_manager/routers/models.py
  backend/mlx_manager/routers/system.py
  backend/mlx_manager/services/__init__.py
  backend/mlx_manager/services/launchd.py
  backend/mlx_manager/services/parser_options.py
  backend/mlx_manager/services/server_manager.py
  backend/mlx_manager/utils/__init__.py
  backend/mlx_manager/utils/command_builder.py
  backend/mlx_manager/utils/fuzzy_matcher.py
Due: backend-tests

feat(13-01): mount MLX Server as sub-application in MLX Manager
  backend/mlx_manager/main.py
  backend/mlx_manager/mlx_server/api/v1/chat.py
  backend/mlx_manager/mlx_server/api/v1/completions.py
  backend/mlx_manager/mlx_server/api/v1/messages.py
  backend/mlx_manager/mlx_server/api/v1/models.py
  backend/mlx_manager/services/parser_options.py
  backend/mlx_manager/services/server_manager.py
  backend/mlx_manager/utils/command_builder.py
Due: backend-tests

chore(13-02): remove RunningInstance model and cleanup_stale_instances
  backend/mlx_manager/models.py
  backend/mlx_manager/services/health_checker.py
Due: backend-tests
