Repository tumma72/mlx-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, svelte-check, backend-tests, frontend-tests

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

svelte-check:
  name: svelte-check
  entry: bash -c 'cd frontend && npm run check'
  language: system
  pass_filenames: false

backend-tests:
  name: backend-tests
  entry: bash -c 'cd backend && source .venv/bin/activate && pytest -x -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: frontend-tests
  entry: bash -c 'cd frontend && npm run test'
  language: system
  pass_filenames: false
  stages:
  - pre-push

feat(06-11): add frontend MCP types and API client
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/types.ts
Due: eslint, svelte-check, frontend-tests

feat(06-12): harden thinking extraction and add diagnostic logging
  backend/mlx_manager/routers/chat.py
Due: backend-tests

feat(06-09): pass tags through API client and store to backend
  frontend/src/lib/stores/models.svelte.ts
Due: eslint, svelte-check, frontend-tests

docs(06-10): complete text-file-attachments plan
  .planning/STATE.md
  .planning/phases/06-bug-fixes-stability/06-10-SUMMARY.md
Due: none

feat(06-08): replace chat input with auto-growing textarea
  frontend/src/routes/(protected)/chat/+page.svelte
Due: eslint, svelte-check, frontend-tests

docs(06-11): complete MCP tools backend plan
  .planning/STATE.md
  .planning/phases/06-bug-fixes-stability/06-11-SUMMARY.md
Due: none

docs(06-12): complete glm4-thinking-robustness plan
  .planning/STATE.md
  .planning/phases/06-bug-fixes-stability/06-12-SUMMARY.md
Due: none

docs(06-09): complete tool-use-badge-fix plan
  .planning/phases/06-bug-fixes-stability/06-09-SUMMARY.md
Due: none

docs(06-08): complete quick-fixes plan
  .planning/STATE.md
  .planning/phases/06-bug-fixes-stability/06-08-SUMMARY.md
Due: none

feat(06-13): add tools toggle UI and state
  frontend/src/routes/(protected)/chat/+page.svelte
Due: eslint, svelte-check, frontend-tests

feat(06-13): implement tool-use execution loop with depth limit
  frontend/src/routes/(protected)/chat/+page.svelte
Due: eslint, svelte-check, frontend-tests

docs(06-13): complete mcp-tools-frontend plan
  .planning/STATE.md
  .planning/phases/06-bug-fixes-stability/06-13-SUMMARY.md
Due: none

docs(06): complete bug-fixes-stability phase
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/06-bug-fixes-stability/06-RE-VERIFICATION.md
Due: none

docs(06): create gap closure plans for UAT fixes
  .planning/ROADMAP.md
  .planning/phases/06-bug-fixes-stability/06-14-PLAN.md
  .planning/phases/06-bug-fixes-stability/06-15-PLAN.md
  .planning/phases/06-bug-fixes-stability/06-16-PLAN.md
Due: none

fix(06): revise plans based on checker feedback
  .planning/phases/06-bug-fixes-stability/06-14-PLAN.md
  .planning/phases/06-bug-fixes-stability/06-15-PLAN.md
Due: none

fix(06-15): extension-based text file validation
  frontend/src/routes/(protected)/chat/+page.svelte
Due: eslint, svelte-check, frontend-tests

fix(06-15): include is_tool_use in hasAnyCharacteristic check
  frontend/src/lib/stores/models.svelte.ts
Due: eslint, svelte-check, frontend-tests

feat(06-16): create ToolCallBubble component with collapsible UI
  frontend/src/lib/components/servers/StartingTile.svelte
  frontend/src/lib/components/ui/index.ts
  frontend/src/lib/components/ui/tool-call-bubble.svelte
Due: eslint, svelte-check, frontend-tests

fix(06-14): use backend health API for startup polling
  frontend/src/lib/components/servers/StartingTile.svelte
Due: eslint, svelte-check, frontend-tests

docs(06-15): complete text file attachment & tool-use badge fixes plan
  .planning/STATE.md
  .planning/phases/06-bug-fixes-stability/06-15-SUMMARY.md
Due: none

docs(06-14): complete health check console errors plan
  .planning/STATE.md
  .planning/phases/06-bug-fixes-stability/06-14-SUMMARY.md
Due: none

refactor(06-16): use structured tool call data with ToolCallBubble display
  frontend/src/routes/(protected)/chat/+page.svelte
Due: eslint, svelte-check, frontend-tests

docs(06-16): complete tool call display UX plan
  .planning/STATE.md
  .planning/phases/06-bug-fixes-stability/06-16-SUMMARY.md
Due: none

docs(06): complete bug-fixes-stability phase (gap closure)
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/06-bug-fixes-stability/06-RE-VERIFICATION-2.md
Due: none

docs(06): complete gap closure UAT - 3/5 pass, 2 issues diagnosed
  .planning/phases/06-bug-fixes-stability/06-gap-closure-UAT.md
Due: none

docs(06): create gap closure plans 17-18
  .planning/ROADMAP.md
  .planning/phases/06-bug-fixes-stability/06-17-PLAN.md
  .planning/phases/06-bug-fixes-stability/06-18-PLAN.md
Due: none

fix(06-18): return 204 instead of 404 for missing model configs
  backend/mlx_manager/routers/models.py
Due: backend-tests

feat(06-17): add extensionless text file detection
  frontend/src/routes/(protected)/chat/+page.svelte
Due: eslint, svelte-check, frontend-tests

feat(06-18): add model family allowlist for backend tool-use detection
  backend/mlx_manager/utils/model_detection.py
Due: backend-tests

docs(06-17): complete extensionless text file detection plan
  .planning/STATE.md
  .planning/phases/06-bug-fixes-stability/06-17-SUMMARY.md
Due: none

feat(06-18): add model family allowlist for frontend tool-use detection
  frontend/src/lib/stores/models.svelte.ts
Due: eslint, svelte-check, frontend-tests

docs(06-18): complete tool-use badge + console errors fix plan
  .planning/STATE.md
  .planning/phases/06-bug-fixes-stability/06-18-SUMMARY.md
Due: none

docs(06): complete bug-fixes-stability phase
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/06-bug-fixes-stability/06-RE-VERIFICATION-3.md
Due: none

docs: prepare v1.1.0 release
  .planning/v1.1-MILESTONE-AUDIT.md
  CHANGELOG.md
  README.md
  backend/tests/conftest.py
  backend/tests/test_auth_service.py
  backend/tests/test_chat.py
  backend/tests/test_dependencies.py
  backend/tests/test_hf_api.py
  frontend/src/lib/components/servers/ServerCard.test.ts
  frontend/src/lib/components/servers/ServerTile.test.ts
  frontend/src/lib/stores/models.svelte.test.ts
Due: eslint, svelte-check, backend-tests, frontend-tests

chore: bump version to 1.1.0
  Formula/mlx-manager.rb
  VERSION
  backend/mlx_manager/__init__.py
  backend/pyproject.toml
  frontend/package.json
Due: backend-tests, frontend-tests

chore(homebrew): update formula to v1.1.0
  Formula/mlx-manager.rb
Due: none

docs: archive milestone v1.1 after successful release
  .planning/PROJECT.md
  .planning/STATE.md
  .planning/milestones/v1.1-REQUIREMENTS.md
  .planning/milestones/v1.1-ROADMAP.md
Due: none

docs: start milestone v1.2 — Unified API Gateway
  .planning/PROJECT.md
  .planning/STATE.md
Due: none

docs: v1.2 research complete — unified API gateway
  .planning/research/ARCHITECTURE.md
  .planning/research/FEATURES.md
  .planning/research/PITFALLS.md
  .planning/research/STACK.md
  .planning/research/SUMMARY.md
Due: none

Path conditions:
  eslint: any of: ^frontend/.*\.(js|ts|svelte)$
  svelte-check: any of: ^frontend/.*\.(ts|svelte)$
  backend-tests: any of: ^backend/
  frontend-tests: any of: ^frontend/
