Repository tumma72/mlx-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, svelte-check, backend-tests, frontend-tests

.pre-commit-config.yaml:

# Pre-commit hooks for MLX Model Manager
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # Python - Ruff (linting + formatting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Python - Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        files: ^backend/mlx_manager/
        additional_dependencies:
          - types-psutil
          - pydantic
          - sqlmodel
        args: [--ignore-missing-imports]

  # Frontend - Prettier
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: ^frontend/
        types_or: [javascript, typescript, svelte, css, json]
        additional_dependencies:
          - prettier
          - prettier-plugin-svelte

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(js|ts|svelte)$
        pass_filenames: false

      - id: svelte-check
        name: svelte-check
        entry: bash -c 'cd frontend && npm run check'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

  # Run tests
  - repo: local
    hooks:
      - id: backend-tests
        name: backend-tests
        entry: bash -c 'cd backend && source .venv/bin/activate && pytest -x -q'
        language: system
        files: ^backend/
        pass_filenames: false
        stages: [pre-push]

      - id: frontend-tests
        name: frontend-tests
        entry: bash -c 'cd frontend && npm run test'
        language: system
        files: ^frontend/
        pass_filenames: false
        stages: [pre-push]

# Configuration
default_stages: [pre-commit]

docs(15-01): complete Dead Parser Code Removal plan
  .planning/phases/15-code-cleanup-integration-tests/15-01-SUMMARY.md
Due: none

test(15-03): create golden file directory structure and tool call files
  backend/tests/fixtures/golden/gemma/tool_calls.txt
  backend/tests/fixtures/golden/glm4/duplicate_tools.txt
  backend/tests/fixtures/golden/glm4/tool_calls.txt
  backend/tests/fixtures/golden/hermes/tool_calls.txt
  backend/tests/fixtures/golden/llama/python_tag.txt
  backend/tests/fixtures/golden/llama/tool_calls.txt
  backend/tests/fixtures/golden/minimax/tool_calls.txt
  backend/tests/fixtures/golden/qwen/tool_calls.txt
Due: backend-tests

test(15-03): create thinking and streaming golden files
  backend/tests/fixtures/golden/qwen/stream/thinking_chunks.txt
  backend/tests/fixtures/golden/qwen/stream/tool_call_chunks.txt
  backend/tests/fixtures/golden/qwen/thinking.txt
Due: backend-tests

test(15-03): create parametrized integration tests for ResponseProcessor
  backend/tests/mlx_server/test_response_processor_golden.py
Due: backend-tests

docs(15-03): complete Integration Tests for ResponseProcessor plan
  .planning/STATE.md
  .planning/phases/15-code-cleanup-integration-tests/15-03-SUMMARY.md
Due: none

docs(15): complete Code Cleanup & Integration Tests phase
  .planning/ROADMAP.md
  .planning/phases/15-code-cleanup-integration-tests/15-VERIFICATION.md
  backend/tests/mlx_server/test_response_processor_golden.py
Due: backend-tests

feat(15-04): add StreamEvent dataclass for OpenAI-compatible streaming
  backend/mlx_manager/mlx_server/services/response_processor.py
Due: backend-tests

fix(15-05): fix per-model memory display and add limit percentage
  backend/mlx_manager/routers/servers.py
Due: backend-tests

feat(15-04): redesign StreamingProcessor.feed() for OpenAI-compatible streaming
  backend/mlx_manager/mlx_server/services/response_processor.py
Due: backend-tests

feat(15-04): update inference.py to use StreamEvent
  backend/mlx_manager/mlx_server/services/inference.py
Due: backend-tests

fix(15-07): add comprehensive logging and timeout to model downloads
  backend/mlx_manager/services/hf_client.py
Due: backend-tests

fix(15-07): yield immediate SSE status before dry_run
  backend/mlx_manager/services/hf_client.py
Due: backend-tests

refactor(15-04): remove duplicate tag parsing from chat.py
  backend/mlx_manager/routers/chat.py
Due: backend-tests

feat(15-05): implement actual model unload on stop button
  backend/mlx_manager/routers/servers.py
  backend/tests/test_servers.py
Due: backend-tests

feat(15-07): add download status endpoint for polling fallback
  backend/mlx_manager/routers/models.py
  backend/tests/test_models.py
Due: backend-tests

feat(15-05): update frontend for memory limit gauge
  frontend/src/lib/api/types.ts
  frontend/src/lib/components/profiles/ProfileCard.test.ts
  frontend/src/lib/components/servers/ServerCard.test.ts
  frontend/src/lib/components/servers/ServerTile.svelte
  frontend/src/lib/components/servers/ServerTile.test.ts
  frontend/src/lib/stores/servers.svelte.test.ts
Due: eslint, svelte-check, frontend-tests

test(15-07): update hf_client tests for immediate yield pattern
  backend/tests/test_services_hf_client.py
Due: backend-tests

docs(15-05): complete memory metrics and stop button plan
  .planning/phases/15-code-cleanup-integration-tests/15-05-SUMMARY.md
Due: none

docs(15-07): complete hanging downloads fix plan
  .planning/STATE.md
  .planning/phases/15-code-cleanup-integration-tests/15-07-SUMMARY.md
Due: none

test(15-04): update tests for StreamEvent return type
  backend/mlx_manager/routers/chat.py
  backend/tests/mlx_server/test_response_processor.py
  backend/tests/mlx_server/test_response_processor_golden.py
  backend/tests/test_chat.py
Due: backend-tests

docs(15-04): complete StreamingProcessor redesign plan
  .planning/STATE.md
  .planning/phases/15-code-cleanup-integration-tests/15-04-SUMMARY.md
Due: none

feat(15-06): add Gemma 3 to vision name patterns
  backend/mlx_manager/mlx_server/models/detection.py
Due: backend-tests

fix(15-06): improve config loading reliability and Gemma detection
  backend/mlx_manager/mlx_server/models/detection.py
  backend/mlx_manager/utils/model_detection.py
  backend/tests/test_model_detection.py
Due: backend-tests

fix(15-06): add graceful handling for model type mismatch
  backend/mlx_manager/mlx_server/services/vision.py
Due: backend-tests

refactor(15-06): synchronize detection logic with shared utility
  backend/mlx_manager/mlx_server/models/detection.py
Due: backend-tests

feat(15-06): add model reload capability with type override
  backend/mlx_manager/mlx_server/models/pool.py
Due: backend-tests

docs(15-06): complete vision model detection fix plan
  .planning/STATE.md
  .planning/phases/15-code-cleanup-integration-tests/15-06-SUMMARY.md
Due: none

docs(15): complete Code Cleanup & Integration Tests phase
  .planning/ROADMAP.md
  .planning/phases/15-code-cleanup-integration-tests/15-VERIFICATION.md
Due: none

fix(15): handle Qwen3 nested think tags and unclosed tool calls
  backend/mlx_manager/mlx_server/services/response_processor.py
  backend/tests/mlx_server/test_response_processor.py
  backend/tests/mlx_server/test_vision.py
Due: backend-tests

fix(15): handle GLM-4.7 prompt-embedded thinking tags
  backend/mlx_manager/mlx_server/services/inference.py
  backend/mlx_manager/mlx_server/services/response_processor.py
  backend/tests/mlx_server/test_response_processor.py
Due: backend-tests

fix(15): add GLM-4.7 compact tool call parser
  backend/mlx_manager/mlx_server/services/response_processor.py
  backend/tests/mlx_server/test_response_processor.py
Due: backend-tests

fix(15): persist thinking duration for stored messages
  frontend/src/routes/(protected)/chat/+page.svelte
Due: eslint, svelte-check, frontend-tests

feat(15): add Copy Chat button for easy transcript sharing
  frontend/src/routes/(protected)/chat/+page.svelte
Due: eslint, svelte-check, frontend-tests

fix(15): update GLM4 tool format to Hermes/JSON style
  backend/mlx_manager/mlx_server/models/adapters/glm4.py
Due: backend-tests

debug(15): add logging for tool prompts and raw model output
  backend/mlx_manager/mlx_server/services/inference.py
Due: backend-tests

feat(15): add MLX_MANAGER_LOG_LEVEL environment variable
  backend/mlx_manager/main.py
Due: backend-tests

fix(15): lower temperature for tool calling reliability
  backend/mlx_manager/routers/chat.py
Due: backend-tests

fix(15): add tool message conversion for GLM-4.7 follow-up
  backend/mlx_manager/mlx_server/models/adapters/glm4.py
  backend/mlx_manager/mlx_server/services/inference.py
  frontend/src/routes/(protected)/chat/+page.svelte
Due: eslint, svelte-check, backend-tests, frontend-tests

feat(15): add Stop button to cancel long-running generations
  frontend/src/routes/(protected)/chat/+page.svelte
Due: eslint, svelte-check, frontend-tests

docs(15): update research with verified codebase findings
  .planning/phases/15-code-cleanup-integration-tests/15-RESEARCH.md
Due: none
