Repository tumma72/mlx-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, svelte-check, backend-tests, frontend-tests

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

svelte-check:
  name: svelte-check
  entry: bash -c 'cd frontend && npm run check'
  language: system
  pass_filenames: false

backend-tests:
  name: backend-tests
  entry: bash -c 'cd backend && source .venv/bin/activate && pytest -x -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: frontend-tests
  entry: bash -c 'cd frontend && npm run test'
  language: system
  pass_filenames: false
  stages:
  - pre-push

refactor: quick wins - enum enforcement, alias removal, type narrowing
  backend/mlx_manager/database.py
  backend/mlx_manager/models/__init__.py
  backend/mlx_manager/models/dto/models.py
  backend/mlx_manager/models/dto/settings.py
  backend/mlx_manager/models/entities.py
  backend/mlx_manager/routers/models.py
  backend/mlx_manager/services/hf_client.py
  backend/mlx_manager/shared/cloud_entities.py
  backend/tests/test_settings_router.py
  frontend/src/lib/api/types.ts
  frontend/src/lib/components/profiles/ProfileForm.test.ts
Due: eslint, svelte-check, backend-tests, frontend-tests

test: improve coverage for backend model_registry and frontend branch paths
  backend/tests/test_model_registry.py
  frontend/src/lib/services/polling-coordinator.test.ts
  frontend/src/lib/stores/downloads-internal.test.ts
  frontend/src/lib/stores/downloads.svelte.test.ts
  frontend/src/lib/stores/models.svelte.test.ts
  frontend/src/lib/stores/probe.svelte.test.ts
  frontend/src/lib/stores/servers-ssr.test.ts
  frontend/src/lib/stores/servers.svelte.test.ts
Due: eslint, svelte-check, backend-tests, frontend-tests

feat: add LiquidAI adapter and LiquidPythonParser for LFM2/LFM2.5 models
  backend/mlx_manager/cli.py
  backend/mlx_manager/mlx_server/models/adapters/composable.py
  backend/mlx_manager/mlx_server/models/adapters/registry.py
  backend/mlx_manager/mlx_server/parsers/__init__.py
  backend/mlx_manager/mlx_server/parsers/registry.py
  backend/mlx_manager/mlx_server/parsers/tool_call.py
  backend/tests/mlx_server/test_composable_adapters.py
  backend/tests/mlx_server/test_parsers.py
  backend/tests/mlx_server/test_tool_call_parsers_coverage.py
Due: backend-tests

refactor: adapter pipeline Phase 0+1 - IR types and StreamProcessor
  backend/mlx_manager/mlx_server/models/adapters/composable.py
  backend/mlx_manager/mlx_server/models/ir.py
  backend/mlx_manager/mlx_server/services/inference.py
  backend/mlx_manager/mlx_server/services/response_processor.py
  backend/tests/mlx_server/test_inference.py
  backend/tests/mlx_server/test_ir.py
Due: backend-tests

refactor: adapter pipeline Phase 2+3 - ProtocolFormatter and PreparedInput
  backend/mlx_manager/mlx_server/api/v1/chat.py
  backend/mlx_manager/mlx_server/api/v1/messages.py
  backend/mlx_manager/mlx_server/models/adapters/composable.py
  backend/mlx_manager/mlx_server/services/__init__.py
  backend/mlx_manager/mlx_server/services/formatters/__init__.py
  backend/mlx_manager/mlx_server/services/formatters/anthropic.py
  backend/mlx_manager/mlx_server/services/formatters/base.py
  backend/mlx_manager/mlx_server/services/formatters/openai.py
  backend/mlx_manager/mlx_server/services/inference.py
  backend/tests/mlx_server/api/v1/test_chat_routing.py
  backend/tests/mlx_server/api/v1/test_messages.py
  backend/tests/mlx_server/test_formatters.py
  backend/tests/mlx_server/test_inference.py
  backend/tests/mlx_server/test_vision.py
  docs/ADAPTER_PIPELINE_PLAN.md
Due: backend-tests

docs: update ARCHITECTURE.md files and pipeline plan with current state
  backend/mlx_manager/ARCHITECTURE.md
  backend/mlx_manager/mlx_server/ARCHITECTURE.md
  docs/ADAPTER_PIPELINE_PLAN.md
  docs/ARCHITECTURE.md
  docs/FEEDBACK.md
Due: backend-tests

refactor: convert all dataclasses to Pydantic BaseModel + add coverage tests
  backend/mlx_manager/mlx_server/models/ir.py
  backend/mlx_manager/mlx_server/models/pool.py
  backend/mlx_manager/mlx_server/services/batching/block.py
  backend/mlx_manager/mlx_server/services/batching/priority_queue.py
  backend/mlx_manager/mlx_server/services/batching/request.py
  backend/mlx_manager/mlx_server/services/inference.py
  backend/tests/mlx_server/api/v1/test_messages.py
  backend/tests/mlx_server/services/formatters/test_anthropic_protocol.py
  backend/tests/mlx_server/services/formatters/test_base.py
  backend/tests/mlx_server/test_inference.py
  backend/tests/mlx_server/test_ir.py
  backend/tests/mlx_server/test_response_processor.py
  backend/tests/test_chat.py
  backend/tests/test_probe_audio.py
  backend/tests/test_probe_base.py
  backend/tests/test_probe_service_coverage.py
  docs/DATA_MODEL_REDESIGN.md
Due: backend-tests

refactor: adapter pipeline Phases 4-6 - vision unification and cleanup
  backend/mlx_manager/mlx_server/ARCHITECTURE.md
  backend/mlx_manager/mlx_server/api/v1/chat.py
  backend/mlx_manager/mlx_server/api/v1/embeddings.py
  backend/mlx_manager/mlx_server/api/v1/messages.py
  backend/mlx_manager/mlx_server/api/v1/speech.py
  backend/mlx_manager/mlx_server/api/v1/transcriptions.py
  backend/mlx_manager/mlx_server/models/adapters/composable.py
  backend/mlx_manager/mlx_server/services/audio.py
  backend/mlx_manager/mlx_server/services/cloud/anthropic.py
  backend/mlx_manager/mlx_server/services/embeddings.py
  backend/mlx_manager/mlx_server/services/formatters/__init__.py
  backend/mlx_manager/mlx_server/services/formatters/anthropic.py
  backend/mlx_manager/mlx_server/services/protocol.py
  backend/mlx_manager/mlx_server/services/response_processor.py
  backend/mlx_manager/mlx_server/services/vision.py
  backend/mlx_manager/routers/chat.py
  backend/tests/e2e/test_vision_e2e.py
  backend/tests/mlx_server/api/v1/test_chat_routing.py
  backend/tests/mlx_server/services/formatters/__init__.py
  backend/tests/mlx_server/services/test_protocol.py
  backend/tests/mlx_server/test_audio.py
  backend/tests/mlx_server/test_composable_adapters.py
  backend/tests/mlx_server/test_embeddings.py
  backend/tests/mlx_server/test_response_processor_coverage.py
  backend/tests/mlx_server/test_vision.py
  docs/ADAPTER_PIPELINE_PLAN.md
Due: backend-tests

docs: mark adapter pipeline refactor as done in FEEDBACK.md
  docs/FEEDBACK.md
Due: none

feat: diagnostic probing system with structured warnings, CLI report, and frontend UI
  backend/mlx_manager/cli.py
  backend/mlx_manager/mlx_server/models/detection.py
  backend/mlx_manager/services/probe/__init__.py
  backend/mlx_manager/services/probe/base.py
  backend/mlx_manager/services/probe/report.py
  backend/mlx_manager/services/probe/service.py
  backend/mlx_manager/services/probe/steps.py
  backend/mlx_manager/services/probe/text_gen.py
  backend/mlx_manager/services/probe/vision.py
  backend/tests/test_probe_base.py
  backend/tests/test_probe_diagnostics.py
  backend/tests/test_probe_package.py
  backend/tests/test_probe_service_coverage.py
  frontend/src/lib/api/types.ts
  frontend/src/lib/components/models/ProbeModal.svelte
  frontend/src/lib/components/models/ProbeProgress.svelte
  frontend/src/lib/components/models/ProbeProgress.test.ts
  frontend/src/lib/stores/probe.svelte.test.ts
  frontend/src/lib/stores/probe.svelte.ts
Due: eslint, svelte-check, backend-tests, frontend-tests

fix: detect CausalLM architectures instead of falling back to default
  backend/mlx_manager/mlx_server/models/detection.py
Due: backend-tests

refactor: unified adapter architecture — single ModelAdapter with FamilyConfig
  backend/mlx_manager/ARCHITECTURE.md
  backend/mlx_manager/mlx_server/ARCHITECTURE.md
  backend/mlx_manager/mlx_server/api/v1/chat.py
  backend/mlx_manager/mlx_server/models/adapters/__init__.py
  backend/mlx_manager/mlx_server/models/adapters/composable.py
  backend/mlx_manager/mlx_server/models/adapters/configs.py
  backend/mlx_manager/mlx_server/models/adapters/strategies.py
  backend/mlx_manager/mlx_server/services/audio.py
  backend/mlx_manager/mlx_server/services/embeddings.py
  backend/mlx_manager/mlx_server/services/inference.py
  backend/mlx_manager/mlx_server/utils/__init__.py
  backend/mlx_manager/mlx_server/utils/kv_cache.py
  backend/mlx_manager/services/model_probe.py
  backend/mlx_manager/services/probe/audio.py
  backend/mlx_manager/services/probe/base.py
  backend/mlx_manager/services/probe/embeddings.py
  backend/mlx_manager/services/probe/text_gen.py
  backend/mlx_manager/services/probe/vision.py
  backend/tests/mlx_server/test_adapters.py
  backend/tests/mlx_server/test_audio.py
  backend/tests/mlx_server/test_composable_adapters.py
  backend/tests/mlx_server/test_embeddings.py
  backend/tests/mlx_server/test_inference.py
  backend/tests/mlx_server/test_inference_coverage.py
  backend/tests/mlx_server/test_strategies.py
  backend/tests/mlx_server/test_tool_calling.py
  backend/tests/test_database_coverage.py
  backend/tests/test_probe_audio.py
  backend/tests/test_probe_package.py
  docs/ADAPTER_PIPELINE_PLAN.md
  docs/FEEDBACK.md
Due: backend-tests

refactor: Alembic-only database schema management + template params & model options
  backend/alembic/env.py
  backend/alembic/versions/9fc5d838420b_initial_schema_with_parser_fields.py
  backend/alembic/versions/d8e3f5a7b912_add_template_params_and_model_options.py
  backend/alembic/versions/e1a2b3c4d5f6_add_missing_tables_for_existing_users.py
  backend/mlx_manager/database.py
  backend/mlx_manager/mlx_server/models/adapters/composable.py
  backend/mlx_manager/mlx_server/models/adapters/configs.py
  backend/mlx_manager/mlx_server/models/adapters/strategies.py
  backend/mlx_manager/mlx_server/services/inference.py
  backend/mlx_manager/mlx_server/utils/template_params.py
  backend/mlx_manager/mlx_server/utils/template_tools.py
  backend/mlx_manager/models/capabilities.py
  backend/mlx_manager/models/profiles.py
  backend/mlx_manager/routers/chat.py
  backend/mlx_manager/routers/profiles.py
  backend/mlx_manager/services/probe/base.py
  backend/mlx_manager/services/probe/service.py
  backend/mlx_manager/services/probe/steps.py
  backend/mlx_manager/services/probe/vision.py
  backend/tests/mlx_server/test_composable_adapters.py
  backend/tests/mlx_server/test_strategies.py
  backend/tests/mlx_server/test_template_params.py
  backend/tests/mlx_server/test_template_tools.py
  backend/tests/test_database.py
  backend/tests/test_database_coverage.py
  backend/tests/test_probe_base.py
  backend/tests/test_probe_package.py
  backend/tests/test_profiles.py
  docs/FEEDBACK.md
  frontend/src/lib/api/types.ts
  frontend/src/lib/components/profiles/ProfileCard.test.ts
  frontend/src/lib/components/profiles/ProfileForm.svelte
  frontend/src/lib/components/profiles/ProfileForm.test.ts
  frontend/src/lib/components/servers/ProfileSelector.test.ts
  frontend/src/lib/components/servers/ServerCard.test.ts
  frontend/src/lib/components/servers/StartingTile.test.ts
  frontend/src/lib/stores/profiles.svelte.test.ts
Due: eslint, svelte-check, backend-tests, frontend-tests

chore: unnecessary commit this document was temporary in nature
  docs/PROBE_RESULTS.md
Due: none

fix: Settings panel 500 error + tabbed UI layout
  backend/alembic/versions/a1b2c3d4e5f6_fix_enum_value_casing.py
  frontend/src/routes/(protected)/settings/+page.svelte
Due: eslint, svelte-check, backend-tests, frontend-tests

refactor: Chat panel hardening — direct protocol endpoints + dual OpenAI/Anthropic support
  backend/mlx_manager/main.py
  backend/mlx_manager/mlx_server/api/v1/messages.py
  backend/mlx_manager/mlx_server/schemas/anthropic.py
  backend/mlx_manager/mlx_server/services/formatters/anthropic.py
  backend/mlx_manager/models/dto/__init__.py
  backend/mlx_manager/models/dto/chat.py
  backend/mlx_manager/routers/__init__.py
  backend/mlx_manager/routers/chat.py
  backend/tests/mlx_server/services/formatters/test_anthropic_protocol.py
  backend/tests/test_chat.py
  frontend/src/lib/components/profiles/ProfileCard.svelte
  frontend/src/lib/components/profiles/ProfileCard.test.ts
  frontend/src/lib/utils/index.ts
  frontend/src/routes/(protected)/chat/+page.svelte
Due: eslint, svelte-check, backend-tests, frontend-tests

docs: separated plans which are completed and transactional documents from guides and living documents
  docs/FEEDBACK.md
  docs/plans/ADAPTER_OWNS_EVERYTHING.md
  docs/plans/ADAPTER_PIPELINE_PLAN.md
  docs/plans/DATA_MODEL_REDESIGN.md
Due: none

refactor: adapter owns everything — Profile settings at creation, zero runtime flags
  backend/mlx_manager/ARCHITECTURE.md
  backend/mlx_manager/mlx_server/ARCHITECTURE.md
  backend/mlx_manager/mlx_server/models/adapters/composable.py
  backend/mlx_manager/mlx_server/models/adapters/configs.py
  backend/mlx_manager/mlx_server/models/pool.py
  backend/mlx_manager/mlx_server/services/inference.py
  backend/mlx_manager/routers/servers.py
  backend/mlx_manager/services/probe/base.py
  backend/mlx_manager/services/probe/vision.py
  backend/tests/mlx_server/test_composable_adapters.py
  backend/tests/mlx_server/test_inference.py
  backend/tests/mlx_server/test_inference_coverage.py
  backend/tests/test_probe_package.py
Due: backend-tests

refactor: probe coordinator extraction + restrict Use button to probed models
  .gitignore
  backend/alembic/versions/9fc5d838420b_initial_schema_with_parser_fields.py
  backend/alembic/versions/e1a2b3c4d5f6_add_missing_tables_for_existing_users.py
  backend/mlx_manager/database.py
  backend/mlx_manager/mlx_server/models/adapters/composable.py
  backend/mlx_manager/mlx_server/models/pool.py
  backend/mlx_manager/routers/__init__.py
  backend/mlx_manager/services/model_probe.py
  backend/mlx_manager/services/probe/coordinator.py
  backend/mlx_manager/services/probe/service.py
  backend/mlx_manager/services/probe/text_gen.py
  backend/mlx_manager/services/probe/vision.py
  backend/tests/mlx_server/test_composable_adapters.py
  backend/tests/test_database.py
  backend/tests/test_model_probe.py
  backend/tests/test_model_probe_coverage.py
  backend/tests/test_probe_package.py
  backend/tests/test_probe_service_coverage.py
  docs/FEEDBACK.md
  frontend/src/lib/components/models/ModelCard.svelte
  frontend/src/lib/components/profiles/ProfileForm.svelte
  frontend/src/routes/(protected)/models/+page.svelte
Due: eslint, svelte-check, backend-tests, frontend-tests

fix: improve probe diagnostic for unsupported model architectures
  backend/mlx_manager/services/probe/base.py
  backend/mlx_manager/services/probe/coordinator.py
Due: backend-tests

fix: pure protocol compliance for Chat client + fix 21 broken frontend tests
  backend/mlx_manager/mlx_server/models/adapters/strategies.py
  frontend/src/lib/components/models/ModelCard.test.ts
  frontend/src/lib/components/profiles/ProfileForm.test.ts
  frontend/src/routes/(protected)/chat/+page.svelte
Due: eslint, svelte-check, backend-tests, frontend-tests

test: boost backend coverage from 94.47% to 98.10%
  backend/tests/mlx_server/test_anthropic_formatter_coverage.py
  backend/tests/mlx_server/test_composable_coverage.py
  backend/tests/mlx_server/test_pool_coverage.py
  backend/tests/test_detection_detailed.py
  backend/tests/test_probe_coverage_new.py
  backend/tests/test_profiles.py
  backend/tests/test_servers.py
  backend/tests/test_settings_router.py
Due: backend-tests

fix: _generate returns TextResult instead of str in probe strategies
  backend/mlx_manager/services/probe/base.py
  backend/mlx_manager/services/probe/coordinator.py
  backend/mlx_manager/services/probe/vision.py
  backend/tests/test_probe_base.py
  backend/tests/test_probe_coverage_new.py
  backend/tests/test_probe_package.py
Due: backend-tests

fix: probe thinking detection + client thinking display overhaul
  backend/mlx_manager/mlx_server/models/adapters/strategies.py
  backend/mlx_manager/mlx_server/utils/template_params.py
  backend/mlx_manager/services/probe/base.py
  backend/mlx_manager/services/probe/coordinator.py
  backend/tests/mlx_server/test_anthropic_formatter_coverage.py
  backend/tests/mlx_server/test_composable_coverage.py
  backend/tests/mlx_server/test_pool_coverage.py
  backend/tests/mlx_server/test_template_params.py
  backend/tests/test_detection_detailed.py
  backend/tests/test_probe_base.py
  backend/tests/test_probe_coverage_new.py
  backend/tests/test_probe_package.py
  backend/tests/test_profiles.py
  backend/tests/test_servers.py
  backend/tests/test_settings_router.py
  backend/uv.lock
  frontend/src/lib/components/models/ModelBadges.svelte
  frontend/src/lib/components/models/badges/ThinkingBadge.svelte
  frontend/src/lib/components/models/badges/ThinkingBadge.test.ts
  frontend/src/routes/(protected)/chat/+page.svelte
Due: eslint, svelte-check, backend-tests, frontend-tests

refactor: model-type-aware adapter + parser ABC unification + probe tag-first discovery
  backend/mlx_manager/mlx_server/api/v1/chat.py
  backend/mlx_manager/mlx_server/models/adapters/composable.py
  backend/mlx_manager/mlx_server/models/adapters/configs.py
  backend/mlx_manager/mlx_server/models/adapters/registry.py
  backend/mlx_manager/mlx_server/models/adapters/strategies.py
  backend/mlx_manager/mlx_server/models/pool.py
  backend/mlx_manager/mlx_server/parsers/__init__.py
  backend/mlx_manager/mlx_server/parsers/base.py
  backend/mlx_manager/mlx_server/parsers/registry.py
  backend/mlx_manager/mlx_server/parsers/thinking.py
  backend/mlx_manager/mlx_server/parsers/tool_call.py
  backend/mlx_manager/mlx_server/services/inference.py
  backend/mlx_manager/services/probe/base.py
  backend/mlx_manager/services/probe/coordinator.py
  backend/mlx_manager/services/probe/steps.py
  backend/mlx_manager/services/probe/text_gen.py
  backend/tests/mlx_server/test_adapters.py
  backend/tests/mlx_server/test_composable_adapters.py
  backend/tests/mlx_server/test_composable_coverage.py
  backend/tests/mlx_server/test_inference.py
  backend/tests/mlx_server/test_inference_coverage.py
  backend/tests/mlx_server/test_parsers.py
  backend/tests/mlx_server/test_pool.py
  backend/tests/mlx_server/test_response_processor_coverage.py
  backend/tests/mlx_server/test_tool_call_parsers_coverage.py
  backend/tests/mlx_server/test_tool_calling.py
  backend/tests/test_probe_base.py
  backend/tests/test_probe_coverage_new.py
  backend/tests/test_probe_package.py
Due: backend-tests

fix: null parsers during probing + Anthropic tool streaming + missing parsers
  backend/mlx_manager/mlx_server/parsers/__init__.py
  backend/mlx_manager/mlx_server/parsers/registry.py
  backend/mlx_manager/mlx_server/parsers/tool_call.py
  backend/mlx_manager/mlx_server/schemas/anthropic.py
  backend/mlx_manager/mlx_server/services/formatters/anthropic.py
  backend/mlx_manager/services/probe/base.py
  backend/mlx_manager/services/probe/coordinator.py
  backend/tests/mlx_server/test_anthropic_formatter_coverage.py
  backend/tests/mlx_server/test_formatters.py
  backend/tests/mlx_server/test_parsers.py
  backend/tests/test_probe_base.py
  backend/tests/test_probe_coverage_new.py
  backend/tests/test_probe_package.py
Due: backend-tests

fix: Phase 3 full sweep runs even when no tags discovered
  backend/mlx_manager/services/probe/coordinator.py
  backend/tests/test_probe_coverage_new.py
Due: backend-tests

fix: enable_tool_injection during probing + Phase 4 always runs as fallback
  backend/mlx_manager/services/probe/coordinator.py
Due: backend-tests

fix: template_options passthrough + thinking tag reconstruction in probe
  backend/mlx_manager/mlx_server/models/adapters/strategies.py
  backend/mlx_manager/services/probe/coordinator.py
Due: backend-tests

feat: add Qwen3CoderXmlParser + Nemotron family config
  backend/mlx_manager/mlx_server/models/adapters/configs.py
  backend/mlx_manager/mlx_server/models/adapters/registry.py
  backend/mlx_manager/mlx_server/parsers/__init__.py
  backend/mlx_manager/mlx_server/parsers/registry.py
  backend/mlx_manager/mlx_server/parsers/tool_call.py
  backend/tests/mlx_server/test_composable_adapters.py
  backend/tests/mlx_server/test_parsers.py
Due: backend-tests

feat: fix auto_start profile loading + refactor Model Pool to Profiles Pool
  backend/mlx_manager/main.py
  backend/mlx_manager/models/dto/settings.py
  backend/mlx_manager/routers/settings.py
  backend/tests/test_main.py
  backend/tests/test_settings_router.py
  frontend/src/lib/api/types.ts
  frontend/src/lib/components/settings/ModelPoolSettings.svelte
  frontend/src/routes/(protected)/settings/+page.svelte
Due: eslint, svelte-check, backend-tests, frontend-tests

feat: add FunctionGemmaParser for Google FunctionGemma models
  backend/mlx_manager/mlx_server/models/adapters/configs.py
  backend/mlx_manager/mlx_server/models/adapters/registry.py
  backend/mlx_manager/mlx_server/parsers/__init__.py
  backend/mlx_manager/mlx_server/parsers/registry.py
  backend/mlx_manager/mlx_server/parsers/tool_call.py
  backend/tests/mlx_server/test_composable_adapters.py
  backend/tests/mlx_server/test_parsers.py
Due: backend-tests

feat: download management improvements (pause/resume/cancel)
  backend/mlx_manager/database.py
  backend/mlx_manager/routers/models.py
  backend/mlx_manager/services/hf_client.py
  backend/tests/test_download_management.py
  frontend/src/lib/api/client.ts
  frontend/src/lib/stores/downloads.svelte.ts
  frontend/src/routes/(protected)/models/+page.svelte
Due: eslint, svelte-check, backend-tests, frontend-tests

chore: remove obsolete FEEDBACK.md tracking file
  docs/FEEDBACK.md
Due: none

fix: enable Logfire instrumentation on embedded MLX server + prevent transcript.txt leak
  .gitignore
  backend/mlx_manager/mlx_server/main.py
  backend/mlx_manager/mlx_server/models/adapters/composable.py
Due: backend-tests

fix(offline): removed unnecessary check for offline mode when listing local models, and reformatted logs using Loguru template approach
  backend/mlx_manager/services/hf_client.py
Due: backend-tests

fix(logging): updated logging statements to support loguru templating format
  backend/mlx_manager/mlx_server/parsers/tool_call.py
  backend/mlx_manager/services/probe/base.py
  backend/mlx_manager/services/probe/coordinator.py
Due: backend-tests

test: add failing tests for StepContext and probe_step (RED)
  backend/tests/test_probe_step_context.py
Due: backend-tests

feat: implement StepContext and probe_step async context manager (GREEN)
  backend/mlx_manager/services/probe/__init__.py
  backend/mlx_manager/services/probe/steps.py
Due: backend-tests

refactor(probe): simplify text_gen.py step-yielding with probe_step context manager
  backend/mlx_manager/services/probe/text_gen.py
Due: backend-tests

Path conditions:
  eslint: any of: ^frontend/.*\.(js|ts|svelte)$
  svelte-check: any of: ^frontend/.*\.(ts|svelte)$
  backend-tests: any of: ^backend/
  frontend-tests: any of: ^frontend/
