Repository tumma72/mlx-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, svelte-check, backend-tests, frontend-tests

.pre-commit-config.yaml:

# Pre-commit hooks for MLX Model Manager
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # Python - Ruff (linting + formatting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Python - Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        files: ^backend/mlx_manager/
        additional_dependencies:
          - types-psutil
          - pydantic
          - sqlmodel
        args: [--ignore-missing-imports]

  # Frontend - Prettier
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: ^frontend/
        types_or: [javascript, typescript, svelte, css, json]
        additional_dependencies:
          - prettier
          - prettier-plugin-svelte

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(js|ts|svelte)$
        pass_filenames: false

      - id: svelte-check
        name: svelte-check
        entry: bash -c 'cd frontend && npm run check'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

  # Run tests
  - repo: local
    hooks:
      - id: backend-tests
        name: backend-tests
        entry: bash -c 'cd backend && source .venv/bin/activate && pytest -x -q'
        language: system
        files: ^backend/
        pass_filenames: false
        stages: [pre-push]

      - id: frontend-tests
        name: frontend-tests
        entry: bash -c 'cd frontend && npm run test'
        language: system
        files: ^frontend/
        pass_filenames: false
        stages: [pre-push]

# Configuration
default_stages: [pre-commit]

docs(15-11): complete cross-protocol E2E tests plan
  .planning/STATE.md
  .planning/phases/15-code-cleanup-integration-tests/15-11-SUMMARY.md
Due: none

feat(15-12): add embeddings model type to ProfileForm UI
  frontend/src/lib/components/profiles/ProfileForm.svelte
Due: eslint, svelte-check, frontend-tests

docs(15-12): complete Embeddings E2E tests plan
  .planning/STATE.md
  .planning/phases/15-code-cleanup-integration-tests/15-12-SUMMARY.md
Due: none

feat(15-13): add AUDIO model type and detection
  backend/mlx_manager/mlx_server/models/detection.py
  backend/mlx_manager/mlx_server/models/types.py
  backend/tests/mlx_server/models/__init__.py
  backend/tests/mlx_server/models/test_detection_audio.py
Due: backend-tests

feat(15-13): add audio model loading to pool
  backend/mlx_manager/mlx_server/models/pool.py
Due: backend-tests

feat(15-13): create audio inference service
  backend/mlx_manager/mlx_server/services/audio.py
Due: backend-tests

feat(15-13): create TTS and STT API endpoints
  backend/mlx_manager/mlx_server/api/v1/__init__.py
  backend/mlx_manager/mlx_server/api/v1/speech.py
  backend/mlx_manager/mlx_server/api/v1/transcriptions.py
  backend/mlx_manager/mlx_server/schemas/openai.py
Due: backend-tests

test(15-13): create unit tests for audio endpoints and service
  backend/tests/mlx_server/test_audio.py
Due: backend-tests

test(15-13): create audio E2E tests
  backend/tests/e2e/conftest.py
  backend/tests/e2e/test_audio_e2e.py
Due: backend-tests

feat(15-13): add audio model type to Profile UI
  frontend/src/lib/components/profiles/ProfileForm.svelte
Due: eslint, svelte-check, frontend-tests

style(15-13): format audio files with ruff
  backend/mlx_manager/mlx_server/api/v1/speech.py
  backend/mlx_manager/mlx_server/api/v1/transcriptions.py
  backend/mlx_manager/mlx_server/models/detection.py
  backend/mlx_manager/mlx_server/services/audio.py
  backend/tests/e2e/test_audio_e2e.py
  backend/tests/mlx_server/models/test_detection_audio.py
Due: backend-tests

docs(15-13): complete Audio integration plan
  .planning/STATE.md
  .planning/phases/15-code-cleanup-integration-tests/15-13-SUMMARY.md
Due: none

docs(15): complete Code Cleanup & Integration Tests phase
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

refactor: centralize port configuration with DEFAULT_PORT/DEV_PORT constants
  backend/mlx_manager/cli.py
  backend/mlx_manager/config.py
  backend/mlx_manager/main.py
  backend/mlx_manager/menubar.py
  backend/mlx_manager/mlx_server/benchmark/cli.py
  backend/mlx_manager/mlx_server/benchmark/runner.py
  backend/mlx_manager/mlx_server/config.py
  backend/mlx_manager/routers/servers.py
  backend/mlx_manager/routers/system.py
  backend/mlx_manager/services/launchd.py
  backend/tests/test_servers.py
  backend/tests/test_services_launchd.py
  frontend/vite.config.ts
  scripts/dev.sh
Due: eslint, svelte-check, backend-tests, frontend-tests

fix: models page background color and download resume progress updates
  backend/mlx_manager/routers/models.py
  frontend/src/lib/api/client.ts
  frontend/src/lib/stores/downloads.svelte.test.ts
  frontend/src/lib/stores/downloads.svelte.ts
  frontend/src/routes/(protected)/models/+page.svelte
Due: eslint, svelte-check, backend-tests, frontend-tests

refactor(15-16): delete dead ReasoningExtractor module
  backend/mlx_manager/mlx_server/services/reasoning.py
  backend/tests/mlx_server/test_adapters.py
  backend/tests/mlx_server/test_reasoning.py
Due: backend-tests

refactor(15-16): unify ToolCall models to single canonical type
  backend/mlx_manager/mlx_server/api/v1/chat.py
  backend/mlx_manager/mlx_server/services/response_processor.py
  backend/tests/mlx_server/test_response_processor.py
Due: backend-tests

fix(15-16): preserve tool_calls and tool_call_id in message conversion
  backend/mlx_manager/mlx_server/api/v1/chat.py
Due: backend-tests

fix(15-16): add convert_messages() to tool-capable adapters
  backend/mlx_manager/mlx_server/models/adapters/base.py
  backend/mlx_manager/mlx_server/models/adapters/llama.py
  backend/mlx_manager/mlx_server/models/adapters/qwen.py
  backend/tests/mlx_server/test_adapters.py
Due: backend-tests

refactor(15-16): family-aware StreamingProcessor pattern configuration
  backend/mlx_manager/mlx_server/services/response_processor.py
  backend/tests/mlx_server/test_response_processor.py
Due: backend-tests

docs(15-16): complete architecture compliance plan
  .planning/STATE.md
  .planning/phases/15-code-cleanup-integration-tests/15-16-SUMMARY.md
Due: none

docs(15): complete Code Cleanup & Integration Tests phase
  .planning/ROADMAP.md
  .planning/phases/15-code-cleanup-integration-tests/15-VERIFICATION.md
Due: none

chore: remove obsolete .encryption_salt file
  backend/.encryption_salt
Due: backend-tests

docs(16): research phase domain
  .planning/phases/16-mlx-manager-architecture-compliance/16-RESEARCH.md
Due: none

docs(16): create phase plan
  .planning/ROADMAP.md
  .planning/phases/16-mlx-manager-architecture-compliance/16-01-PLAN.md
  .planning/phases/16-mlx-manager-architecture-compliance/16-02-PLAN.md
Due: none

feat(16-01): add query-param auth dependency, JWT warning, and pool public method
  backend/mlx_manager/dependencies.py
  backend/mlx_manager/main.py
  backend/mlx_manager/mlx_server/models/pool.py
Due: backend-tests

feat(16-01): SSE/WS auth, remove deprecated endpoints, fix router decoupling
  backend/mlx_manager/routers/models.py
  backend/mlx_manager/routers/servers.py
  backend/mlx_manager/routers/system.py
Due: backend-tests

test(16-01): update tests for auth changes, removed endpoints, and pool API
  backend/tests/test_models.py
  backend/tests/test_servers.py
  backend/tests/test_system.py
Due: backend-tests

docs(16-01): complete backend auth & housekeeping plan
  .planning/STATE.md
  .planning/phases/16-mlx-manager-architecture-compliance/16-01-SUMMARY.md
Due: none

feat(16-02): add JWT token to SSE/WebSocket URLs, remove deprecated parser APIs
  frontend/src/lib/api/client.ts
  frontend/src/lib/stores/downloads.svelte.ts
Due: eslint, svelte-check, frontend-tests

test(16-02): update tests for token-injected URLs, remove deprecated parser tests
  frontend/e2e/app.spec.ts
  frontend/src/lib/api/client.test.ts
  frontend/src/lib/api/types.ts
  frontend/src/lib/stores/downloads.svelte.test.ts
Due: eslint, svelte-check, frontend-tests

docs(16-02): complete Frontend SSE/WS Auth & Parser Cleanup plan
  .planning/STATE.md
  .planning/phases/16-mlx-manager-architecture-compliance/16-02-SUMMARY.md
Due: none

docs(16): complete MLX Manager Architecture Compliance phase
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/16-mlx-manager-architecture-compliance/16-VERIFICATION.md
Due: none

fix: resolve profile creation crash, Metal OOM, and add pool observability
  backend/mlx_manager/database.py
  backend/mlx_manager/main.py
  backend/mlx_manager/mlx_server/config.py
  backend/mlx_manager/mlx_server/main.py
  backend/mlx_manager/mlx_server/models/pool.py
  backend/mlx_manager/mlx_server/utils/memory.py
  backend/tests/mlx_server/test_pool.py
Due: backend-tests

feat: auto-generate and persist JWT secret per installation
  backend/mlx_manager/config.py
  backend/mlx_manager/main.py
  backend/tests/test_config.py
Due: backend-tests

feat: add has_thinking_support() and clear_thinking_cache() to template_tools
  backend/mlx_manager/mlx_server/utils/template_tools.py
Due: backend-tests

feat: add model probe service for capability detection
  backend/mlx_manager/services/model_probe.py
Due: backend-tests

feat: add probe and capabilities endpoints to models router
  backend/mlx_manager/routers/models.py
Due: backend-tests

feat: rename force_tool_injection to enable_prompt_injection, add probe store and capabilities API
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/types.ts
  frontend/src/lib/components/profiles/ProfileCard.test.ts
  frontend/src/lib/components/profiles/ProfileForm.svelte
  frontend/src/lib/components/profiles/ProfileForm.test.ts
  frontend/src/lib/components/servers/ProfileSelector.test.ts
  frontend/src/lib/components/servers/ServerCard.test.ts
  frontend/src/lib/components/servers/StartingTile.test.ts
  frontend/src/lib/stores/index.ts
  frontend/src/lib/stores/probe.svelte.ts
  frontend/src/lib/stores/profiles.svelte.test.ts
  frontend/src/lib/stores/profiles.svelte.ts
Due: eslint, svelte-check, frontend-tests
