Repository tumma72/mlx-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, svelte-check, backend-tests, frontend-tests

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

svelte-check:
  name: svelte-check
  entry: bash -c 'cd frontend && npm run check'
  language: system
  pass_filenames: false

backend-tests:
  name: backend-tests
  entry: bash -c 'cd backend && source .venv/bin/activate && pytest -x -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: frontend-tests
  entry: bash -c 'cd frontend && npm run test'
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(05): strip thinking tags from reasoning_content and fix Svelte warnings
  backend/mlx_manager/routers/chat.py
  frontend/src/lib/components/ui/error-message.svelte
  frontend/src/lib/components/ui/thinking-bubble.svelte
  frontend/src/routes/(protected)/chat/+page.svelte
Due: eslint, svelte-check, backend-tests, frontend-tests

docs(05-04): complete error handling and verification plan
  .planning/phases/05-chat-multimodal-support/05-04-SUMMARY.md
Due: none

docs(05): complete chat multimodal phase
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/05-chat-multimodal-support/05-VERIFICATION.md
Due: none

test(05): complete UAT - 6 passed, 3 issues
  .planning/phases/05-chat-multimodal-support/05-UAT.md
Due: none

docs(05): create gap closure plan for text file support
  .planning/ROADMAP.md
  .planning/phases/05-chat-multimodal-support/05-05-PLAN.md
Due: none

docs(05): diagnose UAT gaps and create fix plan 05-05
  .planning/phases/05-chat-multimodal-support/05-UAT.md
Due: none

feat(05-05): add 'text' type to Attachment interface
  frontend/src/lib/api/types.ts
Due: eslint, svelte-check, frontend-tests

feat(05-05): add universal text file support to chat page
  frontend/src/routes/(protected)/chat/+page.svelte
Due: eslint, svelte-check, frontend-tests

docs(05-05): complete text file support gap closure plan
  .planning/STATE.md
  .planning/phases/05-chat-multimodal-support/05-05-SUMMARY.md
Due: none

docs(05): complete chat multimodal & enhancements phase
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/05-chat-multimodal-support/05-VERIFICATION.md
Due: none

docs(06): capture phase context
  .planning/phases/06-bug-fixes-stability/06-CONTEXT.md
Due: none

docs(06): create phase plan
  .planning/ROADMAP.md
  .planning/phases/06-bug-fixes-stability/06-01-PLAN.md
  .planning/phases/06-bug-fixes-stability/06-02-PLAN.md
  .planning/phases/06-bug-fixes-stability/06-03-PLAN.md
  .planning/phases/06-bug-fixes-stability/06-04-PLAN.md
  .planning/phases/06-bug-fixes-stability/06-05-PLAN.md
  .planning/phases/06-bug-fixes-stability/06-06-PLAN.md
  .planning/phases/06-bug-fixes-stability/06-07-PLAN.md
Due: none

feat(06-04): fix CPU and memory metrics accuracy
  backend/mlx_manager/services/server_manager.py
Due: backend-tests

chore(06-02): remove all console.log debug statements
  backend/mlx_manager/types.py
  backend/mlx_manager/utils/model_detection.py
  frontend/src/lib/components/profiles/ProfileCard.svelte
  frontend/src/lib/stores/servers.svelte.ts
Due: eslint, svelte-check, backend-tests, frontend-tests

feat(06-04): ensure log file cleanup on process exit
  backend/mlx_manager/services/server_manager.py
Due: backend-tests

refactor(06-01): add logging to silent exception handlers
  backend/mlx_manager/database.py
  backend/mlx_manager/menubar.py
  backend/mlx_manager/routers/system.py
  backend/mlx_manager/services/auth_service.py
  backend/mlx_manager/services/health_checker.py
  backend/mlx_manager/services/hf_client.py
  backend/mlx_manager/services/launchd.py
Due: backend-tests

fix(06-01): replace assertions with HTTPException in routers
  backend/mlx_manager/routers/servers.py
  backend/mlx_manager/services/server_manager.py
  frontend/src/lib/stores/servers.svelte.test.ts
  frontend/src/lib/stores/servers.svelte.ts
Due: eslint, svelte-check, backend-tests, frontend-tests

refactor(06-02): optimize polling to prevent unnecessary re-renders
  frontend/src/lib/api/types.ts
  frontend/src/lib/components/models/ModelBadges.svelte
  frontend/src/lib/components/models/badges/ToolUseBadge.svelte
Due: eslint, svelte-check, frontend-tests

docs(06-04): complete server metrics accuracy & log cleanup plan
  .planning/STATE.md
  .planning/phases/06-bug-fixes-stability/06-04-SUMMARY.md
Due: none

docs(06-02): complete frontend cleanup & polling optimization plan
  .planning/STATE.md
  .planning/phases/06-bug-fixes-stability/06-02-SUMMARY.md
Due: none

docs(06-03): complete tool-use badge plan
  .planning/STATE.md
  .planning/phases/06-bug-fixes-stability/06-03-SUMMARY.md
Due: none

docs(06-01): complete error handling & logging improvements plan
  .planning/STATE.md
  .planning/phases/06-bug-fixes-stability/06-01-SUMMARY.md
Due: none

feat(06-05): add system_prompt field to ServerProfile model
  backend/mlx_manager/database.py
  backend/mlx_manager/models.py
  backend/mlx_manager/routers/profiles.py
Due: backend-tests

feat(06-07): add MCP mock router with get_weather and calculate tools
  backend/mlx_manager/main.py
  backend/mlx_manager/routers/__init__.py
  backend/mlx_manager/routers/mcp.py
Due: backend-tests

test(06-07): add comprehensive tests for MCP mock endpoints
  backend/tests/test_mcp.py
Due: backend-tests

feat(06-05): update ProfileForm with system prompt and textarea description
  frontend/src/lib/api/types.ts
  frontend/src/lib/components/profiles/ProfileForm.svelte
  frontend/src/lib/components/servers/ProfileSelector.test.ts
  frontend/src/lib/components/servers/ServerCard.test.ts
  frontend/src/lib/components/servers/StartingTile.test.ts
  frontend/src/lib/stores/profiles.svelte.test.ts
Due: eslint, svelte-check, frontend-tests

docs(06-07): complete MCP mock service plan
  .planning/STATE.md
  .planning/phases/06-bug-fixes-stability/06-07-SUMMARY.md
Due: none

feat(06-05): display system prompt as pinned message in chat
  frontend/src/routes/(protected)/chat/+page.svelte
Due: eslint, svelte-check, frontend-tests

docs(06-05): complete profile system prompt & textarea plan
  .planning/STATE.md
  .planning/phases/06-bug-fixes-stability/06-05-SUMMARY.md
Due: none

feat(06-06): add retry-with-backoff for chat model loading
  frontend/src/routes/(protected)/chat/+page.svelte
Due: eslint, svelte-check, frontend-tests

docs(06-06): complete chat retry-with-backoff plan
  .planning/STATE.md
  .planning/phases/06-bug-fixes-stability/06-06-SUMMARY.md
Due: none

docs(06): complete bug fixes & stability phase
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/06-bug-fixes-stability/06-VERIFICATION.md
Due: none

test(06): complete UAT - 7 passed, 4 issues (+3 additional bugs)
  .planning/phases/06-bug-fixes-stability/06-UAT.md
Due: none

test(06): diagnose 7 UAT gaps with root causes
  .planning/phases/06-bug-fixes-stability/06-UAT.md
Due: none

docs(06): create gap closure plans for UAT-identified issues
  .planning/ROADMAP.md
  .planning/phases/06-bug-fixes-stability/06-08-PLAN.md
  .planning/phases/06-bug-fixes-stability/06-09-PLAN.md
  .planning/phases/06-bug-fixes-stability/06-10-PLAN.md
  .planning/phases/06-bug-fixes-stability/06-11-PLAN.md
  .planning/phases/06-bug-fixes-stability/06-12-PLAN.md
Due: none

docs(06): revise plan 06-11, add plan 06-13 for MCP chat integration
  .planning/ROADMAP.md
  .planning/phases/06-bug-fixes-stability/06-11-PLAN.md
  .planning/phases/06-bug-fixes-stability/06-13-PLAN.md
Due: none

feat(06-09): accept tags query parameter in model config endpoint
  backend/mlx_manager/routers/models.py
Due: backend-tests

fix(06-10): handle text attachments as readable text content
  frontend/src/routes/(protected)/chat/+page.svelte
Due: eslint, svelte-check, frontend-tests

feat(06-11): add tool forwarding to chat proxy
  backend/mlx_manager/routers/chat.py
Due: backend-tests

fix(06-08): improve memory display and health check timing
  frontend/src/lib/components/servers/ServerCard.svelte
  frontend/src/lib/components/servers/ServerTile.svelte
  frontend/src/lib/components/servers/StartingTile.svelte
Due: eslint, svelte-check, frontend-tests

Path conditions:
  eslint: any of: ^frontend/.*\.(js|ts|svelte)$
  svelte-check: any of: ^frontend/.*\.(ts|svelte)$
  backend-tests: any of: ^backend/
  frontend-tests: any of: ^frontend/
