Repository tumma72/mlx-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, svelte-check, backend-tests, frontend-tests

.pre-commit-config.yaml:

# Pre-commit hooks for MLX Model Manager
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # Python - Ruff (linting + formatting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Python - Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        files: ^backend/mlx_manager/
        additional_dependencies:
          - types-psutil
          - pydantic
          - sqlmodel
        args: [--ignore-missing-imports]

  # Frontend - Prettier
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: ^frontend/
        types_or: [javascript, typescript, svelte, css, json]
        additional_dependencies:
          - prettier
          - prettier-plugin-svelte

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(js|ts|svelte)$
        pass_filenames: false

      - id: svelte-check
        name: svelte-check
        entry: bash -c 'cd frontend && npm run check'
        language: system
        files: ^frontend/.*\.(ts|svelte)$
        pass_filenames: false

  # Run tests
  - repo: local
    hooks:
      - id: backend-tests
        name: backend-tests
        entry: bash -c 'cd backend && source .venv/bin/activate && pytest -x -q'
        language: system
        files: ^backend/
        pass_filenames: false
        stages: [pre-push]

      - id: frontend-tests
        name: frontend-tests
        entry: bash -c 'cd frontend && npm run test'
        language: system
        files: ^frontend/
        pass_filenames: false
        stages: [pre-push]

# Configuration
default_stages: [pre-commit]

feat(13-01): add embedded mode support to MLX Server config
  backend/mlx_manager/mlx_server/config.py
Due: backend-tests

fix(13-01): restore RunningInstance model for backward compatibility
  backend/mlx_manager/models.py
Due: backend-tests

chore(13-02): complete cleanup of legacy subprocess management
  backend/mlx_manager/models.py
  backend/mlx_manager/services/parser_options.py
  backend/mlx_manager/services/server_manager.py
  backend/mlx_manager/utils/command_builder.py
Due: backend-tests

docs(13-01): complete mount MLX Server as sub-application plan
  .planning/STATE.md
  .planning/phases/13-mlx-server-integration/13-01-SUMMARY.md
Due: none

refactor(13-02): simplify servers router for embedded MLX Server
  backend/mlx_manager/routers/servers.py
Due: backend-tests

docs(13-02): complete legacy subprocess removal plan
  .planning/STATE.md
  .planning/phases/13-mlx-server-integration/13-02-SUMMARY.md
Due: none

feat(13-03): rewrite chat router for embedded inference
  backend/mlx_manager/routers/chat.py
Due: backend-tests

feat(13-04): add dynamic configuration to ModelPoolManager
  backend/mlx_manager/mlx_server/models/pool.py
  backend/mlx_manager/mlx_server/utils/memory.py
Due: backend-tests

feat(13-03): update chat UI for embedded server model
  backend/mlx_manager/routers/chat.py
  frontend/src/routes/(protected)/chat/+page.svelte
Due: eslint, svelte-check, backend-tests, frontend-tests

feat(13-04): wire settings router to embedded server
  backend/mlx_manager/routers/settings.py
Due: backend-tests

feat(13-04): add refresh_rules to cloud router
  backend/mlx_manager/mlx_server/services/cloud/router.py
  backend/mlx_manager/routers/settings.py
Due: backend-tests

docs(13-03): complete Chat UI Integration plan
  .planning/STATE.md
  .planning/phases/13-mlx-server-integration/13-03-SUMMARY.md
Due: none

docs(13-04): complete settings wiring plan
  .planning/STATE.md
  .planning/phases/13-mlx-server-integration/13-04-SUMMARY.md
Due: none

chore(13-05): remove mlx-openai-server references
  CLAUDE.md
  README.md
  backend/mlx_manager/models.py
  backend/mlx_manager/routers/models.py
  backend/mlx_manager/routers/system.py
  backend/mlx_manager/services/launchd.py
  backend/mlx_manager/utils/fuzzy_matcher.py
  backend/mlx_manager/utils/model_detection.py
  backend/tests/conftest.py
  backend/tests/test_parser_options.py
  backend/tests/test_services_launchd.py
  backend/tests/test_services_server_manager.py
  backend/tests/test_system.py
  backend/tests/test_utils_command_builder.py
  frontend/src/lib/components/profiles/ProfileForm.svelte
Due: eslint, svelte-check, backend-tests, frontend-tests

test(13-05): update tests for embedded MLX Server architecture
  backend/tests/mlx_server/test_inference.py
  backend/tests/test_chat.py
  backend/tests/test_fuzzy_matcher.py
  backend/tests/test_main.py
  backend/tests/test_model_detection.py
  backend/tests/test_models.py
  backend/tests/test_routers_servers_direct.py
  backend/tests/test_servers.py
  backend/tests/test_services_health_checker.py
  backend/tests/test_services_launchd.py
Due: backend-tests

test(13-05): increase coverage for system, settings, and fuzzy_matcher modules
  backend/tests/test_fuzzy_matcher.py
  backend/tests/test_settings_router.py
  backend/tests/test_system.py
Due: backend-tests

fix(13-05): resolve pytest warnings in test suite
  backend/mlx_manager/config.py
  backend/tests/mlx_server/api/v1/test_chat_routing.py
  backend/tests/test_auth_service.py
Due: backend-tests

fix(servers): return empty list for UI compatibility with embedded mode
  backend/mlx_manager/routers/servers.py
  backend/tests/test_servers.py
Due: backend-tests

fix(observability): reduce LogFire console verbosity
  backend/mlx_manager/observability/logfire_config.py
Due: backend-tests

fix: add missing /api/servers/{profile_id}/status and /health endpoints
  backend/mlx_manager/routers/servers.py
  backend/tests/test_servers.py
Due: backend-tests

fix(chat): properly await async generator from inference service
  backend/mlx_manager/routers/chat.py
Due: backend-tests

fix(frontend): remove per-profile port URLs, use embedded server
  frontend/src/lib/components/profiles/ProfileCard.svelte
  frontend/src/lib/components/profiles/ProfileCard.test.ts
  frontend/src/lib/components/profiles/ProfileForm.svelte
  frontend/src/lib/components/profiles/ProfileForm.test.ts
  frontend/src/lib/components/servers/ServerCard.svelte
  frontend/src/lib/components/servers/ServerCard.test.ts
  frontend/vite.config.ts
Due: eslint, svelte-check, frontend-tests

fix(servers): implement proper model loading status for embedded server
  backend/mlx_manager/routers/servers.py
  backend/tests/test_servers.py
Due: backend-tests

docs(14): research phase domain
  .planning/phases/14-model-adapter-enhancements/14-RESEARCH.md
Due: none

docs(14): create phase plan for Model Adapter Enhancements
  .planning/ROADMAP.md
  .planning/phases/14-model-adapter-enhancements/14-01-PLAN.md
  .planning/phases/14-model-adapter-enhancements/14-02-PLAN.md
  .planning/phases/14-model-adapter-enhancements/14-03-PLAN.md
  .planning/phases/14-model-adapter-enhancements/14-04-PLAN.md
  .planning/phases/14-model-adapter-enhancements/14-05-PLAN.md
  .planning/phases/14-model-adapter-enhancements/14-06-PLAN.md
Due: none

feat(14-01): add tool calling schemas to openai.py
  backend/mlx_manager/mlx_server/schemas/openai.py
Due: backend-tests

feat(14-01): extend ModelAdapter protocol with optional methods
  backend/mlx_manager/mlx_server/models/adapters/base.py
Due: backend-tests

chore(14-01): ensure adapters inherit from DefaultAdapter for protocol compliance
  backend/mlx_manager/mlx_server/models/adapters/gemma.py
  backend/mlx_manager/mlx_server/models/adapters/llama.py
  backend/mlx_manager/mlx_server/models/adapters/mistral.py
  backend/mlx_manager/mlx_server/models/adapters/qwen.py
  backend/mlx_manager/mlx_server/schemas/openai.py
Due: backend-tests

docs(14-01): complete Extended OpenAI schemas & ModelAdapter protocol plan
  .planning/STATE.md
  .planning/phases/14-model-adapter-enhancements/14-01-SUMMARY.md
Due: none

feat(14-02): create tool parser base and Llama parser
  backend/mlx_manager/mlx_server/models/adapters/parsers/__init__.py
  backend/mlx_manager/mlx_server/models/adapters/parsers/base.py
  backend/mlx_manager/mlx_server/models/adapters/parsers/llama.py
Due: backend-tests

feat(14-03): add ReasoningExtractor service for chain-of-thought extraction
  backend/mlx_manager/mlx_server/services/reasoning.py
Due: backend-tests

chore(14-04): add jsonschema dependency for structured output validation
  backend/pyproject.toml
  backend/uv.lock
Due: backend-tests

feat(14-05): add AdapterInfo type and extend LoadedModel
  backend/mlx_manager/mlx_server/models/pool.py
  backend/mlx_manager/mlx_server/models/types.py
Due: backend-tests

feat(14-04): implement StructuredOutputValidator service
  backend/mlx_manager/mlx_server/services/structured_output.py
Due: backend-tests

feat(14-05): add adapter loading support to ModelPoolManager
  backend/mlx_manager/mlx_server/models/pool.py
Due: backend-tests

feat(14-02): add Qwen and GLM4 tool call parsers
  backend/mlx_manager/mlx_server/models/adapters/parsers/__init__.py
  backend/mlx_manager/mlx_server/models/adapters/parsers/glm4.py
  backend/mlx_manager/mlx_server/models/adapters/parsers/qwen.py
Due: backend-tests

feat(14-03): add reasoning mode support to Llama and Qwen adapters
  backend/mlx_manager/mlx_server/models/adapters/llama.py
  backend/mlx_manager/mlx_server/models/adapters/qwen.py
Due: backend-tests

fix(14-05): add type annotation for mypy compliance
  backend/mlx_manager/mlx_server/models/pool.py
Due: backend-tests

style(14-04): format structured_output.py with ruff
  backend/mlx_manager/mlx_server/services/structured_output.py
Due: backend-tests

feat(14-03): add reasoning_content field to OpenAI schemas
  backend/mlx_manager/mlx_server/schemas/openai.py
Due: backend-tests
