Repository tumma72/mlx-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, svelte-check, backend-tests, frontend-tests

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

svelte-check:
  name: svelte-check
  entry: bash -c 'cd frontend && npm run check'
  language: system
  pass_filenames: false

backend-tests:
  name: backend-tests
  entry: bash -c 'cd backend && source .venv/bin/activate && pytest -x -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: frontend-tests
  entry: bash -c 'cd frontend && npm run test'
  language: system
  pass_filenames: false
  stages:
  - pre-push

feat: Add Makefile build system and deployment documentation
  .claude/settings.local.json
  CLAUDE.md
  Makefile
  docs/ARCHITECTURE.md
Due: none

fix: Model pre-fill on 'Use' button and mlx-openai-server startup
  backend/mlx_manager/services/launchd.py
  backend/mlx_manager/services/server_manager.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/src/lib/components/profiles/ProfileForm.svelte
  frontend/src/routes/profiles/new/+page.svelte
Due: eslint, svelte-check, backend-tests, frontend-tests

feat: Fix server startup, consolidate UI, add Chat panel
  backend/mlx_manager/services/launchd.py
  backend/mlx_manager/services/server_manager.py
  backend/tests/test_services_launchd.py
  backend/tests/test_services_server_manager.py
  frontend/src/lib/components/layout/Navbar.svelte
  frontend/src/lib/components/profiles/ProfileCard.svelte
  frontend/src/lib/components/profiles/ProfileForm.svelte
  frontend/src/lib/components/profiles/index.ts
  frontend/src/routes/chat/+page.svelte
  frontend/src/routes/profiles/+page.svelte
  frontend/src/routes/servers/+page.svelte
Due: eslint, svelte-check, backend-tests, frontend-tests

refactor: Improve code quality and add offline development support
  Makefile
  backend/mlx_manager/dependencies.py
  backend/mlx_manager/main.py
  backend/mlx_manager/menubar.py
  backend/mlx_manager/routers/models.py
  backend/mlx_manager/routers/profiles.py
  backend/mlx_manager/routers/servers.py
  backend/mlx_manager/routers/system.py
  backend/mlx_manager/services/health_checker.py
  backend/mlx_manager/services/hf_client.py
  backend/mlx_manager/services/launchd.py
  backend/mlx_manager/services/server_manager.py
  backend/mlx_manager/types.py
  backend/mlx_manager/utils/__init__.py
  backend/mlx_manager/utils/command_builder.py
  backend/tests/test_services_server_manager.py
  scripts/auto_dev.sh
  scripts/check_deps.sh
  scripts/dev.sh
  scripts/offline_detector.sh
  scripts/offline_dev.sh
Due: backend-tests

chore: Remove deprecated offline scripts
  scripts/auto_dev.sh
  scripts/offline_detector.sh
  scripts/offline_dev.sh
Due: none

fix: Resolve CI pipeline issues (lint, type-check, tests)
  backend/mlx_manager/database.py
  backend/mlx_manager/menubar.py
  backend/mlx_manager/routers/profiles.py
  backend/mlx_manager/routers/servers.py
  backend/mlx_manager/routers/system.py
  backend/mlx_manager/services/server_manager.py
  backend/tests/test_services_hf_client.py
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/components/layout/Navbar.svelte
  frontend/src/lib/components/models/ModelCard.svelte
  frontend/src/lib/components/profiles/ProfileCard.svelte
  frontend/src/lib/components/servers/ServerCard.svelte
  frontend/src/lib/components/ui/button.svelte
  frontend/src/lib/components/ui/markdown.svelte
  frontend/src/lib/stores/servers.svelte.ts
  frontend/src/routes/+page.svelte
  frontend/src/routes/chat/+page.svelte
  frontend/src/routes/models/+page.svelte
  frontend/src/routes/profiles/[id]/+page.svelte
  frontend/src/routes/profiles/new/+page.svelte
  scripts/dev.sh
Due: eslint, svelte-check, backend-tests, frontend-tests

fix: Resolve mlx-openai-server startup blocking issue
  backend/mlx_manager/services/server_manager.py
  backend/mlx_manager/utils/__init__.py
  backend/mlx_manager/utils/command_builder.py
Due: backend-tests

fix: Resolve dev server cleanup and Svelte warning
  frontend/src/lib/components/ui/thinking-bubble.svelte
  scripts/dev.sh
Due: eslint, svelte-check, frontend-tests

test: Increase backend test coverage to 98%
  backend/mlx_manager/config.py
  backend/pyproject.toml
  backend/tests/test_database.py
  backend/tests/test_dependencies.py
  backend/tests/test_main.py
  backend/tests/test_models.py
  backend/tests/test_profiles.py
  backend/tests/test_routers_profiles_direct.py
  backend/tests/test_routers_servers_direct.py
  backend/tests/test_servers.py
  backend/tests/test_services_hf_client.py
  backend/tests/test_services_server_manager.py
  backend/tests/test_utils_command_builder.py
  backend/tests/test_utils_security.py
  frontend/package-lock.json
  frontend/package.json
Due: backend-tests, frontend-tests

test: Fix slow tests and eliminate AsyncMock warnings
  backend/tests/test_models.py
  backend/tests/test_routers_profiles_direct.py
  backend/tests/test_routers_servers_direct.py
  backend/tests/test_services_health_checker.py
Due: backend-tests

docs: Add comprehensive README, CI workflow, and Homebrew formula
  .github/workflows/ci.yml
  .gitignore
  LICENSE
  README.md
  codecov.yml
  frontend/vitest.config.ts
  homebrew/Formula/mlx-manager.rb
  homebrew/README.md
Due: eslint, svelte-check, frontend-tests

fix(ci): Add platform markers for macOS-only dependencies
  backend/pyproject.toml
  backend/uv.lock
Due: backend-tests

style: Fix formatting in health checker tests
  backend/tests/test_services_health_checker.py
Due: backend-tests

fix(ci): Handle import-not-found for macOS-only rumps module
  backend/mlx_manager/menubar.py
Due: backend-tests

fix(ci): Mock find_mlx_openai_server globally in tests
  backend/tests/conftest.py
Due: backend-tests

fix(ci): Skip mlx-openai-server mock for command_builder tests
  backend/tests/conftest.py
Due: backend-tests

fix(ci): Fix E2E test strict mode and disable WebKit in CI
  frontend/e2e/app.spec.ts
  frontend/playwright.config.ts
Due: eslint, svelte-check, frontend-tests

feat: Switch to Gist-based coverage badge (free alternative to Codecov)
  .github/workflows/ci.yml
  README.md
  codecov.yml
Due: none

fix: Use unique filename for coverage badge (mlx-manager-coverage.json)
  .github/workflows/ci.yml
  README.md
Due: none

fix: Use repository variable for GIST_ID (public, not secret)
  .github/workflows/ci.yml
Due: none

Updated with Gist ID
  README.md
Due: none

docs: Add language and framework badges to README
  README.md
Due: none

docs: Update Homebrew formula with correct SHA256 and instructions
  homebrew/Formula/mlx-manager.rb
  homebrew/README.md
Due: none

fix: Update Homebrew formula with correct SHA256 and URL
  Formula/mlx-manager.rb
Due: none

chore: Remove redundant homebrew folder
  homebrew/Formula/mlx-manager.rb
  homebrew/README.md
Due: none

docs: Update Homebrew install instructions to use repo as tap
  README.md
Due: none

fix: Update Homebrew formula to properly install dependencies
  Formula/mlx-manager.rb
Due: none

fix: Add missing virtualenv include to formula
  Formula/mlx-manager.rb
Due: none

fix: Use system pip install to properly fetch dependencies
  Formula/mlx-manager.rb
Due: none

fix: Use venv.pip_install buildpath to install with dependencies
  Formula/mlx-manager.rb
Due: none

fix: Use GitHub tarball URL and pip install from PyPI for deps
  Formula/mlx-manager.rb
Due: none

fix: Move pip install to post_install to avoid dylib relocation
  Formula/mlx-manager.rb
Due: none

fix(homebrew): Remove deprecated bottle :unneeded syntax
  Formula/mlx-manager.rb
Due: none

fix: Server startup and error handling improvements
  Formula/mlx-manager.rb
  backend/mlx_manager/__init__.py
  backend/mlx_manager/main.py
  backend/mlx_manager/models.py
  backend/mlx_manager/routers/servers.py
  backend/mlx_manager/services/server_manager.py
  backend/mlx_manager/utils/command_builder.py
  backend/pyproject.toml
  backend/tests/test_utils_command_builder.py
  frontend/package.json
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/types.ts
  frontend/src/lib/components/profiles/ProfileCard.svelte
Due: eslint, svelte-check, backend-tests, frontend-tests

fix(frontend): Eliminate UI flickering with reconciliation and centralized polling
  frontend/src/lib/components/layout/Navbar.svelte
  frontend/src/lib/components/profiles/ProfileCard.svelte
  frontend/src/lib/services/index.ts
  frontend/src/lib/services/polling-coordinator.svelte.ts
  frontend/src/lib/services/polling-coordinator.test.ts
  frontend/src/lib/stores/index.ts
  frontend/src/lib/stores/profiles.svelte.ts
  frontend/src/lib/stores/servers.svelte.ts
  frontend/src/lib/stores/system.svelte.ts
  frontend/src/lib/utils/index.ts
  frontend/src/lib/utils/reconcile.test.ts
  frontend/src/lib/utils/reconcile.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/chat/+page.svelte
  frontend/src/routes/profiles/+page.svelte
  frontend/src/routes/servers/+page.svelte
Due: eslint, svelte-check, frontend-tests

fix(backend): Improve server failure detection for exit code 0 errors
  backend/mlx_manager/services/server_manager.py
  backend/tests/test_services_server_manager.py
  frontend/eslint.config.js
Due: eslint, backend-tests, frontend-tests

feat: Add parser options support and pre-release fixes
  backend/alembic.ini
  backend/alembic/README
  backend/alembic/env.py
  backend/alembic/script.py.mako
  backend/alembic/versions/9fc5d838420b_initial_schema_with_parser_fields.py
  backend/mlx_manager/database.py
  backend/mlx_manager/models.py
  backend/mlx_manager/routers/models.py
  backend/mlx_manager/routers/profiles.py
  backend/mlx_manager/routers/system.py
  backend/mlx_manager/utils/__init__.py
  backend/mlx_manager/utils/command_builder.py
  backend/mlx_manager/utils/model_detection.py
  backend/pyproject.toml
  backend/tests/test_model_detection.py
  backend/tests/test_models.py
  backend/tests/test_profiles.py
  backend/tests/test_system.py
  backend/tests/test_utils_command_builder.py
  backend/uv.lock
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/types.ts
  frontend/src/lib/components/models/ModelCard.svelte
  frontend/src/lib/components/profiles/ProfileForm.svelte
  frontend/src/lib/components/ui/confirm-dialog.svelte
  frontend/src/lib/components/ui/index.ts
  frontend/src/routes/models/+page.svelte
Due: eslint, svelte-check, backend-tests, frontend-tests

feat(v1.0.2): MiniMax model support and UI improvements
  Formula/mlx-manager.rb
  README.md
  backend/mlx_manager/__init__.py
  backend/mlx_manager/services/server_manager.py
  backend/mlx_manager/utils/__init__.py
  backend/mlx_manager/utils/model_detection.py
  backend/pyproject.toml
  backend/tests/test_model_detection.py
  backend/uv.lock
  frontend/package.json
  frontend/src/lib/components/profiles/ProfileCard.svelte
  frontend/src/lib/stores/servers.svelte.ts
Due: eslint, svelte-check, backend-tests, frontend-tests

Path conditions:
  eslint: any of: ^frontend/.*\.(js|ts|svelte)$
  svelte-check: any of: ^frontend/.*\.(ts|svelte)$
  backend-tests: any of: ^backend/
  frontend-tests: any of: ^frontend/
