Repository tumma72/mlx-manager: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%

flags:
  backend:
    paths:
      - backend/mlx_manager/
    carryforward: true
  frontend:
    paths:
      - frontend/src/
    carryforward: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

fix(04): add ModelBadges to local models display
  frontend/src/routes/(protected)/models/+page.svelte
Due: frontend

fix(04): add ModelBadges to local models display
  .planning/phases/04-model-discovery-badges/04-UAT.md
  frontend/src/lib/api/client.test.ts
  frontend/src/lib/api/client.ts
  frontend/src/lib/components/models/ModelCard.svelte
  frontend/src/lib/stores/models.svelte.test.ts
  frontend/src/lib/stores/models.svelte.ts
  frontend/src/routes/(protected)/models/+page.svelte
Due: frontend

docs: close todo - fix auth tests and restore coverage
  .planning/STATE.md
  .planning/todos/done/2026-01-20-fix-auth-tests-and-coverage.md
Due: none

docs: close todo - local model characteristics now shown
  .planning/STATE.md
  .planning/todos/done/2026-01-20-local-model-characteristics-not-shown.md
Due: none

docs: capture todo - navbar user profile dropdown
  .planning/STATE.md
  .planning/todos/pending/2026-01-20-navbar-user-profile-dropdown.md
Due: none

docs: capture todo - model delete custom confirm dialog
  .planning/STATE.md
  .planning/todos/pending/2026-01-20-model-delete-use-custom-confirm-dialog.md
Due: none

docs: capture todo - disable last admin deactivate button
  .planning/STATE.md
  .planning/todos/pending/2026-01-20-disable-last-admin-deactivate-button.md
Due: none

fix(ui): standardize ProfileCard buttons to match ServerTile style
  frontend/src/lib/components/profiles/ProfileCard.svelte
Due: frontend

fix(ui): replace navbar email+logout with profile dropdown
  frontend/src/lib/components/layout/Navbar.svelte
Due: frontend

fix(ui): use custom ConfirmDialog for profile deletion
  frontend/src/lib/components/profiles/ProfileCard.svelte
Due: frontend

fix(ui): disable deactivate button for last admin
  frontend/src/routes/(protected)/users/+page.svelte
Due: frontend

docs: complete all UI polish todos
  .planning/STATE.md
  .planning/todos/done/2026-01-20-disable-last-admin-deactivate-button.md
  .planning/todos/done/2026-01-20-model-delete-use-custom-confirm-dialog.md
  .planning/todos/done/2026-01-20-navbar-user-profile-dropdown.md
  .planning/todos/done/2026-01-20-standardize-profile-server-tile-buttons.md
Due: none

test: improve branch coverage for MetricGauge, StartingTile, and auth store
  frontend/src/lib/components/servers/MetricGauge.test.ts
  frontend/src/lib/components/servers/StartingTile.test.ts
  frontend/src/lib/stores/auth.svelte.test.ts
  frontend/src/lib/stores/auth.svelte.ts
Due: frontend

test: improve StartingTile branch coverage from 77% to 79%
  frontend/src/lib/components/servers/StartingTile.test.ts
Due: frontend

docs: update README and CHANGELOG for v1.0.4 release
  CHANGELOG.md
  README.md
Due: none

fix: resolve linting errors in backend tests
  Formula/mlx-manager.rb
  VERSION
  backend/mlx_manager/__init__.py
  backend/pyproject.toml
  backend/tests/conftest.py
  backend/tests/test_auth.py
  backend/tests/test_profiles.py
  backend/tests/test_routers_auth_direct.py
  backend/tests/test_routers_profiles_direct.py
  backend/tests/test_routers_servers_direct.py
  frontend/package.json
Due: backend

fix: remove unused ts-expect-error directive in auth tests
  frontend/src/lib/stores/auth.svelte.test.ts
Due: frontend

chore: update Homebrew formula for v1.0.4
  Formula/mlx-manager.rb
Due: none

fix(ci): fix E2E tests and coverage badge calculation
  .github/workflows/ci.yml
  frontend/e2e/app.spec.ts
Due: none

fix(ci): use awk for more reliable coverage extraction
  .github/workflows/ci.yml
Due: none

fix(ci): strip ANSI codes before coverage extraction
  .github/workflows/ci.yml
Due: none

chore(ci): add debug output for coverage extraction
  .github/workflows/ci.yml
Due: none

fix: add missing python-multipart dependency and fix CI
  .github/workflows/ci.yml
  backend/pyproject.toml
Due: none

fix(ci): restore full workflow and fix coverage step
  .github/workflows/ci.yml
Due: none

docs(05): capture phase context
  .planning/phases/05-chat-multimodal-support/05-CONTEXT.md
Due: none

docs(05): research phase domain
  .planning/phases/05-chat-multimodal-support/05-RESEARCH.md
Due: none

docs(05): create phase 5 plans for chat multimodal support
  .planning/ROADMAP.md
  .planning/phases/05-chat-multimodal-support/05-01-PLAN.md
  .planning/phases/05-chat-multimodal-support/05-02-PLAN.md
  .planning/phases/05-chat-multimodal-support/05-03-PLAN.md
Due: none

fix(05): revise plans based on checker feedback
  .planning/ROADMAP.md
  .planning/phases/05-chat-multimodal-support/05-01-PLAN.md
  .planning/phases/05-chat-multimodal-support/05-02-PLAN.md
  .planning/phases/05-chat-multimodal-support/05-03-PLAN.md
  .planning/phases/05-chat-multimodal-support/05-04-PLAN.md
Due: none

feat(05-01): add multimodal message types
  frontend/src/lib/api/types.ts
Due: frontend

feat(05-01): add attachment UI to chat page
  frontend/src/routes/(protected)/chat/+page.svelte
Due: frontend

docs(05-01): complete media attachment UI plan
  .planning/STATE.md
  .planning/phases/05-chat-multimodal-support/05-01-SUMMARY.md
Due: none

feat(05-03): add streaming support to ThinkingBubble
  frontend/src/lib/components/ui/thinking-bubble.svelte
Due: frontend

feat(05-02): create chat streaming endpoint with thinking tag parsing
  backend/mlx_manager/routers/chat.py
Due: backend

feat(05-02): register chat router in main app
  backend/mlx_manager/main.py
  backend/mlx_manager/routers/__init__.py
Due: backend

feat(05-03): add SSE streaming and multimodal support to chat
  frontend/src/routes/(protected)/chat/+page.svelte
Due: frontend

docs(05-02): complete chat streaming endpoint plan
  .planning/STATE.md
  .planning/phases/05-chat-multimodal-support/05-02-SUMMARY.md
Due: none

docs(05-03): complete streaming chat UI plan
  .planning/STATE.md
  .planning/phases/05-chat-multimodal-support/05-03-SUMMARY.md
Due: none

feat(05-04): create ErrorMessage component
  frontend/src/lib/components/ui/error-message.svelte
  frontend/src/lib/components/ui/index.ts
Due: frontend

feat(05-04): integrate ErrorMessage in chat page
  frontend/src/routes/(protected)/chat/+page.svelte
Due: frontend

fix(05-02): handle reasoning_content field from mlx-openai-server
  backend/mlx_manager/routers/chat.py
Due: backend
