Repository tumma72/mlx-manager: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

docs(14-05): complete LoRA Adapter Loading plan
  .planning/STATE.md
  .planning/phases/14-model-adapter-enhancements/14-05-SUMMARY.md
  backend/mlx_manager/mlx_server/models/adapters/glm4.py
  backend/mlx_manager/mlx_server/models/adapters/llama.py
  backend/mlx_manager/mlx_server/models/adapters/qwen.py
  backend/mlx_manager/mlx_server/models/adapters/registry.py
Due: backend

docs(14-03): complete Reasoning Extraction plan
  .planning/STATE.md
  .planning/phases/14-model-adapter-enhancements/14-03-SUMMARY.md
Due: none

docs(14-04): complete Structured Output Validation plan
  .planning/STATE.md
  .planning/phases/14-model-adapter-enhancements/14-04-SUMMARY.md
Due: none

docs(14-02): complete Tool Parsers plan
  .planning/STATE.md
  .planning/phases/14-model-adapter-enhancements/14-02-SUMMARY.md
Due: none

feat(14-06): extend inference service for tools and reasoning
  backend/mlx_manager/mlx_server/services/inference.py
Due: backend

feat(14-06): extend chat endpoint for tools and structured output
  backend/mlx_manager/mlx_server/api/v1/chat.py
Due: backend

test(14-06): add tests for tool calling, reasoning, and structured output
  backend/tests/mlx_server/test_reasoning.py
  backend/tests/mlx_server/test_structured_output.py
  backend/tests/mlx_server/test_tool_calling.py
Due: none

docs(14-06): complete Chat Endpoint Integration plan
  .planning/STATE.md
  .planning/phases/14-model-adapter-enhancements/14-06-SUMMARY.md
Due: none

docs(14): complete Model Adapter Enhancements phase
  .planning/ROADMAP.md
  .planning/phases/14-model-adapter-enhancements/14-VERIFICATION.md
Due: none

fix(13-05): remove mlx_openai_server_version references from frontend
  frontend/e2e/app.spec.ts
  frontend/src/lib/api/types.ts
  frontend/src/lib/stores/system.svelte.test.ts
  frontend/src/lib/stores/system.svelte.ts
Due: frontend

fix(13-05): fix linting issues and remove stale exports
  backend/mlx_manager/main.py
  backend/mlx_manager/mlx_server/api/v1/admin.py
  backend/mlx_manager/mlx_server/benchmark/cli.py
  backend/mlx_manager/mlx_server/benchmark/runner.py
  backend/mlx_manager/mlx_server/config.py
  backend/mlx_manager/mlx_server/main.py
  backend/tests/test_fuzzy_matcher.py
  backend/tests/test_settings_router.py
Due: backend

docs(13-05): add summary and update state for verification checkpoint
  .planning/STATE.md
  .planning/phases/13-mlx-server-integration/13-05-SUMMARY.md
Due: none

feat(14-07): create unified ResponseProcessor with Pydantic models
  backend/mlx_manager/mlx_server/services/response_processor.py
Due: backend

fix(14-07): integrate ResponseProcessor into inference service
  backend/mlx_manager/mlx_server/services/inference.py
  backend/mlx_manager/mlx_server/services/response_processor.py
Due: backend

test(14-07): add comprehensive ResponseProcessor tests
  backend/mlx_manager/mlx_server/services/response_processor.py
  backend/tests/mlx_server/test_response_processor.py
Due: backend

style(14-07): format response processor and inference files
  backend/mlx_manager/mlx_server/services/inference.py
  backend/mlx_manager/mlx_server/services/response_processor.py
Due: backend

docs(14-07): complete Unified ResponseProcessor plan
  .planning/STATE.md
  .planning/phases/14-model-adapter-enhancements/14-07-SUMMARY.md
Due: none

feat(14-08): add StreamingProcessor for real-time pattern filtering
  backend/mlx_manager/mlx_server/services/response_processor.py
Due: backend

feat(14-08): integrate StreamingProcessor into streaming inference
  backend/mlx_manager/mlx_server/services/inference.py
Due: backend

test(14-08): add comprehensive StreamingProcessor tests
  backend/tests/mlx_server/test_response_processor.py
Due: none

docs(14-08): complete Streaming Pattern Filtering plan
  .planning/STATE.md
  .planning/phases/14-model-adapter-enhancements/14-08-SUMMARY.md
Due: none

feat(14-09): extend data models for generic provider support
  backend/mlx_manager/models.py
Due: backend

feat(14-09): update backend router for generic provider support
  backend/mlx_manager/mlx_server/services/cloud/router.py
Due: backend

feat(14-09): update settings API for generic provider support
  backend/mlx_manager/routers/settings.py
Due: backend

feat(14-09): update frontend for generic provider support
  frontend/src/lib/api/types.ts
  frontend/src/lib/components/settings/ProviderForm.svelte
  frontend/src/lib/components/settings/ProviderForm.test.ts
  frontend/src/lib/components/settings/ProviderSection.svelte
  frontend/src/lib/stores/settings.svelte.test.ts
Due: frontend

test(14-09): add tests for generic provider support
  backend/tests/mlx_server/services/cloud/test_router.py
Due: none

fix(14-09): fix ProviderForm base_url handling
  frontend/src/lib/components/settings/ProviderForm.svelte
Due: frontend

docs(14-09): complete Generic Provider Support plan
  .planning/STATE.md
  .planning/phases/14-model-adapter-enhancements/14-09-SUMMARY.md
Due: none

fix(tests): comprehensive test fixes and coverage improvements
  backend/mlx_manager/models.py
  backend/mlx_manager/routers/settings.py
  backend/tests/mlx_server/api/v1/test_chat_routing.py
  backend/tests/mlx_server/api/v1/test_messages.py
  backend/tests/mlx_server/batching/test_batch_inference.py
  backend/tests/mlx_server/batching/test_benchmark.py
  backend/tests/mlx_server/batching/test_prefix_cache.py
  backend/tests/mlx_server/batching/test_priority_queue.py
  backend/tests/mlx_server/batching/test_scheduler.py
  backend/tests/mlx_server/batching/test_scheduler_manager.py
  backend/tests/mlx_server/batching/test_types.py
  backend/tests/mlx_server/services/cloud/test_anthropic.py
  backend/tests/mlx_server/services/cloud/test_client.py
  backend/tests/mlx_server/services/cloud/test_openai.py
  backend/tests/mlx_server/services/cloud/test_router.py
  backend/tests/mlx_server/test_adapters.py
  backend/tests/mlx_server/test_admin.py
  backend/tests/mlx_server/test_embeddings.py
  backend/tests/mlx_server/test_error_handlers.py
  backend/tests/mlx_server/test_reasoning.py
  backend/tests/mlx_server/test_structured_output.py
  backend/tests/mlx_server/test_tool_calling.py
  backend/tests/mlx_server/test_vision.py
  backend/tests/test_chat.py
  backend/tests/test_cloud_models.py
  backend/tests/test_encryption_service.py
  backend/tests/test_servers.py
  backend/tests/test_services_health_checker.py
  backend/tests/test_system.py
  frontend/src/lib/api/client.test.ts
Due: backend, frontend

docs(15): capture phase context
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/15-code-cleanup-integration-tests/15-CONTEXT.md
Due: none

docs(15): research phase domain
  .planning/phases/15-code-cleanup-integration-tests/15-RESEARCH.md
Due: none

docs(15): create phase plan
  .planning/ROADMAP.md
  .planning/phases/15-code-cleanup-integration-tests/15-01-PLAN.md
  .planning/phases/15-code-cleanup-integration-tests/15-02-PLAN.md
  .planning/phases/15-code-cleanup-integration-tests/15-03-PLAN.md
Due: none

refactor(15-01): remove dead parser code and delete parsers directory
  backend/mlx_manager/mlx_server/models/adapters/glm4.py
  backend/mlx_manager/mlx_server/models/adapters/llama.py
  backend/mlx_manager/mlx_server/models/adapters/parsers/__init__.py
  backend/mlx_manager/mlx_server/models/adapters/parsers/base.py
  backend/mlx_manager/mlx_server/models/adapters/parsers/glm4.py
  backend/mlx_manager/mlx_server/models/adapters/parsers/llama.py
  backend/mlx_manager/mlx_server/models/adapters/parsers/qwen.py
  backend/mlx_manager/mlx_server/models/adapters/qwen.py
Due: backend

fix(15-02): add database migration for CloudCredential columns
  backend/mlx_manager/database.py
Due: backend

fix(15-02): improve Qwen adapter exception handling and reduce log noise
  backend/mlx_manager/mlx_server/models/adapters/qwen.py
  backend/mlx_manager/routers/chat.py
Due: backend

refactor(15-01): remove parse_tool_calls and extract_reasoning from adapters
  backend/mlx_manager/mlx_server/models/adapters/base.py
  backend/mlx_manager/mlx_server/models/adapters/gemma.py
  backend/mlx_manager/mlx_server/models/adapters/glm4.py
  backend/mlx_manager/mlx_server/models/adapters/llama.py
  backend/mlx_manager/mlx_server/models/adapters/mistral.py
  backend/mlx_manager/mlx_server/models/adapters/qwen.py
Due: backend

test(15-02): fix adapter tests for getattr pattern
  backend/tests/mlx_server/test_adapters.py
Due: none

test(15-01): update tests after parser removal
  backend/tests/mlx_server/test_reasoning.py
  backend/tests/mlx_server/test_tool_calling.py
Due: none

docs(15-02): complete Fix Blocker Bugs plan
  .planning/STATE.md
  .planning/phases/15-code-cleanup-integration-tests/15-02-SUMMARY.md
Due: none

Path conditions:
  backend: any of: backend/mlx_manager/
  frontend: any of: frontend/src/
