Repository tumma72/mlx-manager: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

refactor(15-08): remove obsolete ServerProfile fields, add generation parameters
  backend/mlx_manager/database.py
  backend/mlx_manager/models.py
  backend/mlx_manager/routers/chat.py
  backend/mlx_manager/routers/profiles.py
  backend/tests/conftest.py
  backend/tests/test_profiles.py
  frontend/src/lib/api/client.test.ts
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/types.ts
  frontend/src/lib/components/profiles/ProfileCard.test.ts
  frontend/src/lib/components/profiles/ProfileForm.svelte
  frontend/src/lib/components/profiles/ProfileForm.test.ts
  frontend/src/lib/components/servers/ProfileSelector.test.ts
  frontend/src/lib/components/servers/ServerCard.test.ts
  frontend/src/lib/components/servers/ServerTile.svelte
  frontend/src/lib/components/servers/ServerTile.test.ts
  frontend/src/lib/components/servers/StartingTile.test.ts
  frontend/src/lib/stores/profiles.svelte.test.ts
  frontend/src/lib/stores/profiles.svelte.ts
  frontend/src/lib/stores/servers.svelte.test.ts
  frontend/src/lib/stores/servers.svelte.ts
  frontend/src/routes/(protected)/profiles/new/+page.svelte
Due: backend, frontend

docs(15-08): complete profile model cleanup plan
  .planning/STATE.md
  .planning/phases/15-code-cleanup-integration-tests/15-08-PLAN.md
  .planning/phases/15-code-cleanup-integration-tests/15-08-SUMMARY.md
Due: none

fix(15-08): update tests and launchd for profile model cleanup
  backend/mlx_manager/services/launchd.py
  backend/tests/mlx_server/test_tool_calling.py
  backend/tests/test_dependencies.py
  backend/tests/test_routers_profiles_direct.py
  backend/tests/test_services_launchd.py
Due: backend

docs(15): update verification after test fixes
  .planning/phases/15-code-cleanup-integration-tests/15-VERIFICATION.md
Due: none

fix(15): revert GLM4 tool format to XML style
  backend/mlx_manager/mlx_server/models/adapters/glm4.py
  backend/tests/mlx_server/test_tool_calling.py
Due: backend

docs: add testing models reference to CLAUDE.md
  CLAUDE.md
Due: none

debug(15): add detailed logging for tool call detection
  backend/mlx_manager/mlx_server/services/response_processor.py
Due: backend

feat(15-09): add centralized Loguru logging configuration
  backend/mlx_manager/logging_config.py
Due: backend

feat(15-09): update main.py to use Loguru logging
  backend/mlx_manager/main.py
Due: backend

feat(15-09): update mlx_server/main.py to use Loguru
  backend/mlx_manager/mlx_server/main.py
Due: backend

feat(15-09): replace logger.error with logger.exception in exception blocks
  backend/mlx_manager/database.py
  backend/mlx_manager/main.py
  backend/mlx_manager/mlx_server/api/v1/admin.py
  backend/mlx_manager/mlx_server/api/v1/chat.py
  backend/mlx_manager/mlx_server/api/v1/completions.py
  backend/mlx_manager/mlx_server/api/v1/embeddings.py
  backend/mlx_manager/mlx_server/models/pool.py
  backend/mlx_manager/mlx_server/services/audit.py
  backend/mlx_manager/mlx_server/services/batching/batch_inference.py
  backend/mlx_manager/mlx_server/services/batching/scheduler.py
  backend/mlx_manager/routers/servers.py
  backend/mlx_manager/services/hf_client.py
Due: backend

docs(15-09): document logging env vars in config.py
  backend/mlx_manager/config.py
Due: backend

docs(15-09): complete Loguru migration plan
  .planning/STATE.md
  .planning/phases/15-code-cleanup-integration-tests/15-09-SUMMARY.md
Due: none

feat(15-09): add loguru dependency
  backend/pyproject.toml
  backend/uv.lock
Due: none

docs(15): complete Code Cleanup & Integration Tests phase
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/15-code-cleanup-integration-tests/15-VERIFICATION.md
Due: none

feat: model-family-specific response parsing and debug logging fixes
  backend/mlx_manager/config.py
  backend/mlx_manager/database.py
  backend/mlx_manager/logging_config.py
  backend/mlx_manager/main.py
  backend/mlx_manager/mlx_server/models/adapters/base.py
  backend/mlx_manager/mlx_server/models/adapters/gemma.py
  backend/mlx_manager/mlx_server/models/adapters/glm4.py
  backend/mlx_manager/mlx_server/models/adapters/llama.py
  backend/mlx_manager/mlx_server/models/adapters/mistral.py
  backend/mlx_manager/mlx_server/models/adapters/qwen.py
  backend/mlx_manager/mlx_server/services/inference.py
  backend/mlx_manager/mlx_server/services/response_processor.py
  backend/tests/fixtures/golden/glm4/tool_calls_attr.txt
  backend/tests/fixtures/golden/glm4/tool_calls_attr_multi.txt
  backend/tests/mlx_server/test_response_processor.py
  backend/tests/mlx_server/test_response_processor_golden.py
  scripts/dev.sh
Due: backend

feat(15-14): add download cancellation infrastructure and state fields
  backend/mlx_manager/models.py
  backend/mlx_manager/services/hf_client.py
Due: backend

feat(15-10): configure E2E pytest marker infrastructure
  backend/pyproject.toml
  backend/tests/e2e/__init__.py
  backend/tests/e2e/conftest.py
Due: none

feat(15-14): add pause, resume, and cancel API endpoints
  backend/mlx_manager/routers/models.py
Due: backend

feat(15-10): create test images and vision golden prompt fixtures
  backend/tests/fixtures/golden/vision/compare_images.txt
  backend/tests/fixtures/golden/vision/describe_image.txt
  backend/tests/fixtures/golden/vision/ocr_text.txt
  backend/tests/fixtures/images/blue_circle.png
  backend/tests/fixtures/images/generate_test_images.py
  backend/tests/fixtures/images/red_square.png
  backend/tests/fixtures/images/text_sample.png
Due: none

feat(15-14): handle paused downloads in recovery and active listing
  backend/mlx_manager/database.py
  backend/mlx_manager/routers/models.py
Due: backend

chore(15-15): update dependencies — add authlib, remove pyjwt
  backend/pyproject.toml
  backend/uv.lock
Due: none

feat(15-15): rewrite encryption_service to use AuthLib JWE
  backend/mlx_manager/services/encryption_service.py
Due: backend

feat(15-15): rewrite auth_service to use AuthLib jose JWT
  backend/mlx_manager/services/auth_service.py
Due: backend

feat(15-14): add download management to frontend store and API client
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/types.ts
  frontend/src/lib/stores/downloads.svelte.ts
Due: frontend

fix(15-15): update salt/secret comment in settings router
  backend/mlx_manager/routers/settings.py
Due: backend

feat(15-14): add pause, resume, and cancel buttons to DownloadProgressTile
  frontend/src/lib/components/models/DownloadProgressTile.svelte
Due: frontend

test(15-15): update tests for AuthLib-based auth stack
  backend/tests/test_auth_service.py
  backend/tests/test_encryption_service.py
Due: none

style(15-15): fix import sorting in auth_service
  backend/mlx_manager/services/auth_service.py
Due: backend

test(15-14): add unit tests for download pause/resume/cancel management
  backend/mlx_manager/models.py
  backend/tests/test_download_management.py
  backend/tests/test_models.py
Due: backend

feat(15-10): create tiered vision E2E test suite
  backend/tests/e2e/conftest.py
  backend/tests/e2e/test_vision_e2e.py
Due: none

docs(15-15): complete AuthLib consolidation plan
  .planning/STATE.md
  .planning/phases/15-code-cleanup-integration-tests/15-15-SUMMARY.md
Due: none

docs(15-10): complete Vision E2E Tests plan
  .planning/STATE.md
  .planning/phases/15-code-cleanup-integration-tests/15-10-SUMMARY.md
Due: none

docs(15-14): complete download management plan
  .planning/STATE.md
  .planning/phases/15-code-cleanup-integration-tests/15-14-SUMMARY.md
Due: none

feat(15-11): create shared golden prompt fixtures for cross-protocol tests
  backend/tests/fixtures/golden/prompts/factual_question.txt
  backend/tests/fixtures/golden/prompts/simple_greeting.txt
  backend/tests/fixtures/golden/prompts/system_instruction.txt
  backend/tests/fixtures/golden/prompts/tool_call_request.txt
Due: none

feat(15-11): add cross-protocol fixtures to E2E conftest
  backend/tests/e2e/conftest.py
Due: none

feat(15-12): add embeddings model fixture to E2E conftest
  backend/tests/e2e/conftest.py
Due: none

feat(15-11): create cross-protocol E2E test suite (OpenAI vs Anthropic)
  backend/tests/e2e/conftest.py
  backend/tests/e2e/test_cross_protocol_e2e.py
Due: none

feat(15-12): create embeddings E2E test suite and fix batch tokenization bug
  backend/mlx_manager/mlx_server/services/embeddings.py
  backend/tests/e2e/test_embeddings_e2e.py
Due: backend

Path conditions:
  backend: any of: backend/mlx_manager/
  frontend: any of: frontend/src/
