Repository tumma72/mlx-manager: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

docs(10-08): complete backend router plan
  .planning/phases/10-dual-protocol-cloud-fallback/10-08-SUMMARY.md
Due: none

docs(10): complete dual protocol & cloud fallback phase
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/10-dual-protocol-cloud-fallback/10-VERIFICATION.md
Due: none

docs(11): capture phase context
  .planning/phases/11-configuration-ui/11-CONTEXT.md
Due: none

docs(11): research phase domain
  .planning/phases/11-configuration-ui/11-RESEARCH.md
Due: none

docs(11): create phase plan
  .planning/ROADMAP.md
  .planning/phases/11-configuration-ui/11-01-PLAN.md
  .planning/phases/11-configuration-ui/11-02-PLAN.md
  .planning/phases/11-configuration-ui/11-03-PLAN.md
  .planning/phases/11-configuration-ui/11-04-PLAN.md
  .planning/phases/11-configuration-ui/11-05-PLAN.md
Due: none

fix(11): revise plans based on checker feedback
  .planning/phases/11-configuration-ui/11-01-PLAN.md
  .planning/phases/11-configuration-ui/11-02-PLAN.md
Due: none

feat(11-01): create Fernet-based encryption service for API keys
  backend/mlx_manager/services/encryption_service.py
  backend/tests/test_encryption_service.py
Due: backend

feat(11-01): add ServerConfig model and pattern_type to BackendMapping
  backend/mlx_manager/models.py
Due: backend

feat(11-01): create settings router with full CRUD for providers, rules, pool config
  backend/mlx_manager/main.py
  backend/mlx_manager/routers/__init__.py
  backend/mlx_manager/routers/settings.py
  backend/tests/test_settings_router.py
Due: backend

docs(11-01): complete backend encryption & settings API plan
  .planning/STATE.md
  .planning/phases/11-configuration-ui/11-01-SUMMARY.md
Due: none

feat(11-02): add settings API types and client methods
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/types.ts
Due: frontend

feat(11-04): install drag-drop library and create RuleCard
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/api/client.ts
  frontend/src/lib/components/settings/RuleCard.svelte
Due: frontend

feat(11-02): create ProviderForm component for API key management
  frontend/src/lib/components/settings/ProviderForm.svelte
Due: frontend

feat(11-03): add ModelPoolSettings component
  frontend/src/lib/components/settings/ModelPoolSettings.svelte
Due: frontend

feat(11-03): integrate ModelPoolSettings into settings page
  frontend/src/lib/components/settings/index.ts
  frontend/src/routes/(protected)/settings/+page.svelte
Due: frontend

feat(11-02): create ProviderSection and settings page
  frontend/src/lib/components/index.ts
  frontend/src/lib/components/settings/ProviderSection.svelte
Due: frontend

fix(11-03): fix lint errors in ModelPoolSettings
  frontend/src/lib/components/settings/ModelPoolSettings.svelte
Due: frontend

feat(11-04): create RuleForm and RuleTestInput components
  frontend/src/lib/components/settings/RuleForm.svelte
  frontend/src/lib/components/settings/RuleTestInput.svelte
Due: frontend

docs(11-03): complete Model Pool Settings UI plan
  .planning/STATE.md
  .planning/phases/11-configuration-ui/11-03-SUMMARY.md
Due: none

docs(11-02): complete settings page and provider UI plan
  .planning/phases/11-configuration-ui/11-02-SUMMARY.md
Due: none

feat(11-04): create RoutingRulesSection with drag-drop
  frontend/src/lib/components/settings/RoutingRulesSection.svelte
  frontend/src/lib/components/settings/index.ts
Due: frontend

docs(11-04): complete routing rules UI plan
  .planning/STATE.md
  .planning/phases/11-configuration-ui/11-04-SUMMARY.md
Due: none

feat(11-05): add Settings link to navbar
  frontend/src/lib/components/layout/Navbar.svelte
Due: frontend

feat(11-05): finalize settings page with all sections
  frontend/src/routes/(protected)/settings/+page.svelte
Due: frontend

feat(11-05): create settings store for provider state
  frontend/src/lib/stores/index.ts
  frontend/src/lib/stores/settings.svelte.ts
Due: frontend

docs(11-05): complete settings integration plan
  .planning/STATE.md
  .planning/phases/11-configuration-ui/11-05-SUMMARY.md
Due: none

docs(11): complete Configuration UI phase
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/11-configuration-ui/11-VERIFICATION.md
Due: none

test(11): complete UAT - 10 passed, 4 issues
  .planning/phases/11-configuration-ui/11-UAT.md
Due: none

docs(11): create gap closure plan for UAT bugs
  .planning/phases/11-configuration-ui/11-06-PLAN.md
Due: none

fix(11-06): use shared API client in ModelPoolSettings
  frontend/src/lib/components/settings/ModelPoolSettings.svelte
Due: frontend

fix(11-06): use $derived.by() for RuleForm provider reactivity
  frontend/src/lib/components/settings/RuleForm.svelte
Due: frontend

fix(11-06): replace native confirm() with ConfirmDialog
  frontend/src/lib/components/settings/ProviderForm.svelte
  frontend/src/lib/components/settings/RoutingRulesSection.svelte
Due: frontend

docs(11-06): complete UAT bug fixes plan
  .planning/STATE.md
  .planning/phases/11-configuration-ui/11-06-SUMMARY.md
Due: none

docs(11): complete Configuration UI phase gap closure
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/11-configuration-ui/11-VERIFICATION.md
Due: none

feat(ui): move Settings and Users to profile dropdown menu
  frontend/src/lib/components/layout/Navbar.svelte
Due: frontend

test: improve coverage to 95%+ on backend and frontend
  backend/pyproject.toml
  backend/tests/test_cloud_models.py
  backend/tests/test_fuzzy_matcher.py
  backend/tests/test_main.py
  backend/tests/test_model_detection.py
  backend/tests/test_models.py
  backend/tests/test_servers.py
  backend/tests/test_settings_router.py
  frontend/src/lib/api/client.test.ts
  frontend/src/lib/components/models/DownloadProgressTile.test.ts
  frontend/src/lib/components/models/FilterChips.test.ts
  frontend/src/lib/components/models/FilterModal.test.ts
  frontend/src/lib/components/models/ModelBadges.test.ts
  frontend/src/lib/components/models/ModelCard.test.ts
  frontend/src/lib/components/models/ModelSpecs.test.ts
  frontend/src/lib/components/models/ModelToggle.test.ts
  frontend/src/lib/components/profiles/ProfileCard.test.ts
  frontend/src/lib/components/profiles/ProfileForm.test.ts
  frontend/src/lib/components/settings/ProviderForm.test.ts
  frontend/src/lib/components/settings/RuleCard.test.ts
  frontend/src/lib/components/settings/RuleForm.test.ts
  frontend/src/lib/components/settings/RuleTestInput.test.ts
  frontend/src/lib/stores/settings.svelte.test.ts
  frontend/src/tests/setup.ts
  frontend/vitest.config.ts
Due: frontend

docs(12): capture phase context
  .planning/phases/12-production-hardening/12-CONTEXT.md
Due: none

docs(12): research production hardening domain
  .planning/phases/12-production-hardening/12-RESEARCH.md
Due: none

docs(12): create phase plan for Production Hardening
  .planning/ROADMAP.md
  .planning/phases/12-production-hardening/12-01-PLAN.md
  .planning/phases/12-production-hardening/12-02-PLAN.md
  .planning/phases/12-production-hardening/12-03-PLAN.md
  .planning/phases/12-production-hardening/12-04-PLAN.md
  .planning/phases/12-production-hardening/12-05-PLAN.md
  .planning/phases/12-production-hardening/12-06-PLAN.md
  .planning/phases/12-production-hardening/12-07-PLAN.md
Due: none

fix(12): revise plans based on checker feedback
  .planning/phases/12-production-hardening/12-03-PLAN.md
  .planning/phases/12-production-hardening/12-04-PLAN.md
  .planning/phases/12-production-hardening/12-05-PLAN.md
  .planning/phases/12-production-hardening/12-07-PLAN.md
Due: none

Path conditions:
  backend: any of: backend/mlx_manager/
  frontend: any of: frontend/src/
