Repository tumma72/mlx-manager: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

docs(02-04): complete scroll preservation plan
  .planning/STATE.md
  .planning/phases/02-server-panel-redesign/02-04-SUMMARY.md
Due: none

docs(02): complete Server Panel Redesign phase
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/phases/02-server-panel-redesign/02-VERIFICATION.md
Due: none

fix(stores): prevent 5s flickering by not toggling loading on background polls
  frontend/src/lib/stores/profiles.svelte.ts
  frontend/src/lib/stores/servers.svelte.ts
Due: frontend

fix(servers): eliminate duplicate tiles during server startup
  frontend/src/routes/servers/+page.svelte
Due: frontend

fix(ProfileSelector): enable Start button on keyboard Enter selection
  frontend/src/lib/components/servers/ProfileSelector.svelte
Due: frontend

fix: multiple critical bug fixes
  backend/mlx_manager/services/hf_api.py
  backend/mlx_manager/services/hf_client.py
  backend/tests/test_hf_api.py
  frontend/src/lib/components/servers/ProfileSelector.svelte
  frontend/src/lib/components/servers/StartingTile.svelte
  frontend/src/lib/stores/profiles.svelte.ts
  frontend/src/lib/stores/servers.svelte.ts
Due: backend, frontend

fix: restore asyncio import in hf_api.py
  backend/mlx_manager/services/hf_api.py
Due: backend

chore: quality fixes and documentation updates for v1.1.0 release
  .claude/settings.json
  README.md
  backend/mlx_manager/routers/models.py
  backend/mlx_manager/routers/system.py
  backend/mlx_manager/services/parser_options.py
  backend/mlx_manager/services/server_manager.py
  backend/mlx_manager/utils/fuzzy_matcher.py
  backend/mlx_manager/utils/model_detection.py
  backend/tests/test_database.py
  backend/tests/test_fuzzy_matcher.py
  backend/tests/test_hf_api.py
  backend/tests/test_main.py
  backend/tests/test_models.py
  backend/tests/test_parser_options.py
  backend/tests/test_services_hf_client.py
  backend/tests/test_services_server_manager.py
  backend/tests/test_system.py
  frontend/src/lib/components/models/ModelCard.svelte
  frontend/src/lib/services/polling-coordinator.test.ts
  frontend/src/lib/stores/downloads.svelte.ts
Due: backend, frontend

test: add comprehensive test coverage and fix exception handling
  backend/mlx_manager/routers/system.py
  backend/mlx_manager/services/server_manager.py
  backend/tests/test_model_detection.py
  backend/tests/test_services_hf_client.py
  backend/tests/test_services_server_manager.py
  backend/tests/test_system.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/components/servers/MetricGauge.test.ts
  frontend/src/lib/components/servers/ProfileSelector.test.ts
  frontend/src/lib/components/servers/ServerTile.test.ts
  frontend/src/lib/components/servers/StartingTile.test.ts
  frontend/src/lib/stores/downloads.svelte.test.ts
  frontend/src/lib/stores/servers.svelte.test.ts
  frontend/src/tests/setup.ts
  frontend/vitest.config.ts
Due: backend, frontend

test(e2e): add API mocking for reliable E2E tests
  frontend/e2e/app.spec.ts
Due: none

test(02): complete UAT - 7 passed, 1 issue
  .planning/phases/02-server-panel-redesign/02-UAT.md
Due: none

docs(02): add gap closure plan for restart tile disappearing
  .planning/phases/02-server-panel-redesign/02-05-PLAN.md
Due: none

test(02): diagnose restart gap, create fix plan 02-05
  .planning/debug/server-tile-disappears-restart.md
  .planning/phases/02-server-panel-redesign/02-UAT.md
Due: none

feat(02-05): add restartingProfiles state to server store
  frontend/src/lib/stores/servers.svelte.ts
Due: frontend

feat(02-05): add Restarting badge to ServerTile
  frontend/src/lib/components/servers/ServerTile.svelte
Due: frontend

feat(02-05): update filter logic to keep restarting servers mounted
  frontend/src/lib/components/servers/ServerTile.test.ts
  frontend/src/routes/servers/+page.svelte
Due: frontend

docs(02-05): complete gap closure plan - restart tile fix
  .planning/STATE.md
  .planning/phases/02-server-panel-redesign/02-05-SUMMARY.md
Due: none

docs(02): complete gap closure - restart tile fix verified
  .planning/ROADMAP.md
  .planning/phases/02-server-panel-redesign/02-VERIFICATION.md
Due: none

test: add ServerCard tests, improve StartingTile coverage
  frontend/src/lib/components/servers/ServerCard.test.ts
  frontend/src/lib/components/servers/StartingTile.test.ts
Due: frontend

test: improve servers store coverage to 100%
  frontend/src/lib/stores/servers.svelte.test.ts
Due: frontend

test: improve ProfileSelector coverage to 100% lines
  frontend/src/lib/components/servers/ProfileSelector.test.ts
Due: frontend

chore: adjust coverage thresholds, exclude barrel exports
  frontend/vitest.config.ts
Due: none

chore: add release management infrastructure
  CHANGELOG.md
  Makefile
  VERSION
  scripts/sync_version.sh
  scripts/update_pyproject_version.py
Due: none

chore: bump version to 1.0.3
  Formula/mlx-manager.rb
  backend/mlx_manager/__init__.py
  backend/pyproject.toml
Due: backend

fix: move logger after imports in system.py
  backend/mlx_manager/routers/system.py
Due: backend

fix: remove unused imports in servers store tests
  frontend/src/lib/stores/servers.svelte.test.ts
Due: frontend

fix: resolve mypy and typescript type errors
  backend/mlx_manager/database.py
  backend/mlx_manager/services/hf_client.py
  backend/mlx_manager/services/parser_options.py
  backend/mlx_manager/services/server_manager.py
  backend/mlx_manager/utils/fuzzy_matcher.py
  frontend/src/lib/components/servers/ProfileSelector.test.ts
  frontend/src/lib/stores/servers.svelte.test.ts
Due: backend, frontend

chore: add playwright test artifacts to gitignore
  .gitignore
Due: none

fix: use general type ignore for optional mlx-lm imports
  backend/mlx_manager/services/parser_options.py
Due: backend

chore: update Homebrew formula for v1.0.3
  Formula/mlx-manager.rb
Due: none

test(phase-2): complete UAT - 8 passed, 0 issues
  .planning/phases/02-server-panel-redesign/02-UAT.md
Due: none

docs(03): capture phase context - user-based authentication
  .planning/ROADMAP.md
  .planning/phases/03-user-authentication/03-CONTEXT.md
Due: none

docs: expand v1.1 scope with model discovery and chat multimodal
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

docs(03): research phase domain - user authentication
  .planning/phases/03-user-authentication/03-RESEARCH.md
Due: none

docs(03): create phase plan for user-based authentication
  .planning/ROADMAP.md
  .planning/phases/03-user-authentication/03-01-PLAN.md
  .planning/phases/03-user-authentication/03-02-PLAN.md
  .planning/phases/03-user-authentication/03-03-PLAN.md
  .planning/phases/03-user-authentication/03-04-PLAN.md
  .planning/phases/03-user-authentication/03-05-PLAN.md
Due: none

feat(03-01): add auth dependencies and User model
  backend/mlx_manager/config.py
  backend/mlx_manager/models.py
  backend/pyproject.toml
Due: backend

feat(03-01): create auth service with password hashing and JWT
  backend/mlx_manager/services/auth_service.py
Due: backend

feat(03-01): add auth service and auth dependencies
  backend/mlx_manager/dependencies.py
Due: backend

docs(03-01): complete backend auth foundation plan
  .planning/STATE.md
  .planning/phases/03-user-authentication/03-01-SUMMARY.md
Due: none

feat(03-02): create auth router with registration, login, and admin endpoints
  backend/mlx_manager/models.py
  backend/mlx_manager/routers/auth.py
Due: backend

Path conditions:
  backend: any of: backend/mlx_manager/
  frontend: any of: frontend/src/
