Repository tumma72/mlx-manager: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat(backend): Replace static parser config with fuzzy matching
  backend/mlx_manager/services/parser_options.py
  backend/mlx_manager/utils/__init__.py
  backend/mlx_manager/utils/fuzzy_matcher.py
  backend/mlx_manager/utils/model_detection.py
  backend/pyproject.toml
  backend/tests/test_fuzzy_matcher.py
  backend/tests/test_model_detection.py
  backend/uv.lock
Due: backend

fix: implemented dyamic option and model detection system
  backend/mlx_manager/routers/models.py
  backend/mlx_manager/routers/system.py
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/types.ts
  frontend/src/lib/components/profiles/ProfileForm.svelte
  frontend/src/routes/chat/+page.svelte
Due: backend, frontend

fix: Model download and search improvements
  backend/mlx_manager/routers/models.py
  backend/mlx_manager/services/hf_api.py
  backend/mlx_manager/services/hf_client.py
  backend/tests/test_hf_api.py
  backend/tests/test_models.py
  backend/tests/test_services_hf_client.py
  backend/tests/test_system.py
  frontend/src/lib/api/client.ts
Due: backend, frontend

feat: Download progress tracking and console output suppression
  backend/mlx_manager/database.py
  backend/mlx_manager/models.py
  backend/mlx_manager/services/hf_client.py
  backend/mlx_manager/types.py
  backend/tests/test_services_hf_client.py
  frontend/src/lib/components/models/ModelCard.svelte
Due: backend, frontend

docs: map existing codebase
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
Due: none

fix: Dark mode support and scroll preservation (v1.0.3)
  backend/mlx_manager/database.py
  backend/mlx_manager/main.py
  backend/mlx_manager/routers/models.py
  backend/mlx_manager/services/hf_client.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/package.json
  frontend/src/app.css
  frontend/src/lib/api/client.ts
  frontend/src/lib/components/models/DownloadProgressTile.svelte
  frontend/src/lib/components/models/ModelCard.svelte
  frontend/src/lib/components/models/index.ts
  frontend/src/lib/components/profiles/ProfileCard.svelte
  frontend/src/lib/components/profiles/ProfileForm.svelte
  frontend/src/lib/components/servers/ServerCard.svelte
  frontend/src/lib/stores/downloads.svelte.ts
  frontend/src/lib/stores/index.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/chat/+page.svelte
  frontend/src/routes/models/+page.svelte
  frontend/src/routes/profiles/+page.svelte
  frontend/src/routes/profiles/[id]/+page.svelte
  frontend/src/routes/profiles/new/+page.svelte
  frontend/src/routes/servers/+page.svelte
Due: backend, frontend

docs: initialize MLX Model Manager GSD project
  .planning/PROJECT.md
  .planning/config.json
Due: none

docs: define v1.1 requirements
  .planning/REQUIREMENTS.md
Due: none

docs: create roadmap (4 phases, 15 requirements)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

docs(01): create phase plan for Models Panel UX
  .planning/phases/01-models-panel-ux/01-01-PLAN.md
Due: none

feat(01-01): anchor search bar and hide downloading models from grid
  frontend/src/routes/models/+page.svelte
Due: frontend

feat(01-01): remove progress bar from ModelCard
  frontend/src/lib/components/models/ModelCard.svelte
Due: frontend

fix(tests): fix failing lifespan test and clean up xfail markers
  backend/tests/test_fuzzy_matcher.py
  backend/tests/test_main.py
Due: none

fix(search): use usedStorage for accurate size and expand to all MLX models
  backend/mlx_manager/config.py
  backend/mlx_manager/services/hf_api.py
  backend/mlx_manager/services/hf_client.py
Due: backend

docs(01-01): complete plan execution summary
  .planning/STATE.md
  .planning/phases/01-models-panel-ux/01-01-SUMMARY.md
Due: none

docs(01): complete Models Panel UX phase
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/01-models-panel-ux/01-VERIFICATION.md
Due: none

docs: capture todo - Restore test coverage to 95%+
  .planning/STATE.md
  .planning/todos/pending/2026-01-17-restore-test-coverage-to-95-percent.md
Due: none

test: remove skipped tests and add coverage for hf_api
  backend/tests/test_fuzzy_matcher.py
  backend/tests/test_hf_api.py
  backend/tests/test_models.py
Due: none

docs: update coverage todo with progress
  .planning/todos/pending/2026-01-17-restore-test-coverage-to-95-percent.md
Due: none

test: restore coverage to 95%+ with threshold enforcement
  .planning/todos/pending/2026-01-17-restore-test-coverage-to-95-percent.md
  Makefile
  backend/pyproject.toml
  backend/tests/test_database.py
  backend/tests/test_main.py
  backend/tests/test_models.py
  backend/tests/test_parser_options.py
  frontend/src/lib/api/client.test.ts
  frontend/src/lib/services/polling-coordinator.test.ts
  frontend/src/lib/utils/format.test.ts
  frontend/src/lib/utils/reconcile.test.ts
  frontend/vitest.config.ts
  scripts/coverage_summary.sh
Due: frontend

chore: close coverage restoration todo
  .planning/todos/done/2026-01-17-restore-test-coverage-to-95-percent.md
Due: none

docs(02): capture phase context
  .planning/phases/02-server-panel-redesign/02-CONTEXT.md
Due: none

docs(02): create phase plans for server panel redesign
  .planning/phases/02-server-panel-redesign/02-01-PLAN.md
  .planning/phases/02-server-panel-redesign/02-02-PLAN.md
  .planning/phases/02-server-panel-redesign/02-03-PLAN.md
  .planning/phases/02-server-panel-redesign/02-04-PLAN.md
  .planning/phases/02-server-panel-redesign/02-RESEARCH.md
Due: none

feat(02-01): extend backend types with memory_percent and cpu_percent
  backend/mlx_manager/models.py
  backend/mlx_manager/types.py
Due: backend

feat(02-02): create ProfileSelector component
  frontend/src/lib/components/servers/ProfileSelector.svelte
Due: frontend

feat(02-01): calculate memory_percent in server_manager
  backend/mlx_manager/services/server_manager.py
Due: backend

chore(02-02): export ProfileSelector from servers index
  frontend/src/lib/components/servers/index.ts
Due: frontend

feat(02-01): include cpu_percent and memory_percent in API response
  backend/mlx_manager/routers/servers.py
Due: backend

feat(02-01): add memory_percent and cpu_percent to RunningServer type
  frontend/src/lib/api/types.ts
Due: frontend

feat(02-02): integrate ProfileSelector into server page
  frontend/src/routes/servers/+page.svelte
Due: frontend

docs(02-01): complete extended server metrics API plan
  .planning/phases/02-server-panel-redesign/02-01-SUMMARY.md
Due: none

docs(02-02): complete ProfileSelector plan
  .planning/STATE.md
  .planning/phases/02-server-panel-redesign/02-02-SUMMARY.md
Due: none

feat(02-03): create MetricGauge SVG circular progress component
  frontend/src/lib/components/servers/MetricGauge.svelte
Due: frontend

feat(02-03): create ServerTile component with metrics and controls
  frontend/src/lib/components/servers/ServerTile.svelte
Due: frontend

feat(02-03): export MetricGauge and ServerTile from servers barrel
  frontend/src/lib/components/servers/index.ts
Due: frontend

feat(02-03): integrate ServerTile into server dashboard page
  frontend/src/lib/components/servers/ServerTile.svelte
  frontend/src/routes/servers/+page.svelte
Due: frontend

fix(02-03): resolve regressions in server panel redesign
  frontend/src/lib/components/servers/ProfileSelector.svelte
  frontend/src/lib/components/servers/StartingTile.svelte
  frontend/src/lib/components/servers/index.ts
  frontend/src/routes/chat/+page.svelte
  frontend/src/routes/servers/+page.svelte
Due: frontend

docs(02-03): complete ServerTile with metrics gauges plan
  .planning/STATE.md
  .planning/phases/02-server-panel-redesign/02-03-SUMMARY.md
Due: none

feat(02-04): refactor scroll preservation to container-scoped approach
  frontend/src/routes/servers/+page.svelte
Due: frontend

perf(02-04): add CSS containment for layout stability
  frontend/src/routes/servers/+page.svelte
Due: frontend

Path conditions:
  backend: any of: backend/mlx_manager/
  frontend: any of: frontend/src/
