Repository tumma72/mlx-manager: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%

flags:
  backend:
    paths:
      - backend/mlx_manager/
    carryforward: true
  frontend:
    paths:
      - frontend/src/
    carryforward: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

feat: P2-7 input validation hardening for MLX Server
  backend/mlx_manager/mlx_server/api/v1/chat.py
  backend/mlx_manager/mlx_server/api/v1/completions.py
  backend/mlx_manager/mlx_server/api/v1/embeddings.py
  backend/mlx_manager/mlx_server/api/v1/messages.py
  backend/mlx_manager/mlx_server/api/v1/speech.py
  backend/mlx_manager/mlx_server/api/v1/transcriptions.py
  backend/mlx_manager/mlx_server/utils/request_helpers.py
  backend/mlx_manager/mlx_server/utils/validation.py
  backend/tests/mlx_server/conftest.py
  backend/tests/mlx_server/test_validation.py
Due: backend

feat(P2-3): structured error responses with ErrorCode enum
  backend/mlx_manager/mlx_server/api/v1/chat.py
  backend/mlx_manager/mlx_server/api/v1/completions.py
  backend/mlx_manager/mlx_server/api/v1/embeddings.py
  backend/mlx_manager/mlx_server/api/v1/messages.py
  backend/mlx_manager/mlx_server/errors/__init__.py
  backend/mlx_manager/mlx_server/errors/handlers.py
  backend/mlx_manager/mlx_server/errors/problem_details.py
  backend/tests/mlx_server/test_error_codes.py
Due: backend

feat(P2-1): per-IP rate limiting middleware for MLX Server
  backend/mlx_manager/mlx_server/config.py
  backend/mlx_manager/mlx_server/main.py
  backend/mlx_manager/mlx_server/middleware/__init__.py
  backend/mlx_manager/mlx_server/middleware/rate_limit.py
  backend/tests/mlx_server/test_mlx_server_main.py
  backend/tests/mlx_server/test_rate_limit.py
Due: backend

feat(P2-6): Prometheus metrics endpoint for MLX Server
  backend/mlx_manager/mlx_server/api/v1/admin.py
  backend/mlx_manager/mlx_server/middleware/metrics.py
  backend/mlx_manager/mlx_server/services/metrics.py
  backend/tests/mlx_server/test_metrics.py
Due: backend

docs: add MLX Server operations guide and update README configuration
  README.md
  backend/pyproject.toml
  backend/tests/conftest.py
  backend/tests/test_profiles.py
  backend/tests/test_servers.py
  backend/uv.lock
  docs/MLX_SERVER.md
  docs/REMINDERS.md
  docs/plans/MLX_SERVER_HARDENING.md
Due: none

feat(P3-5): startup model preload warming for MLX Server
  backend/mlx_manager/mlx_server/config.py
  backend/mlx_manager/mlx_server/main.py
  backend/tests/mlx_server/test_mlx_server_main.py
Due: backend

docs(P3-5): complete model preload warming plan
  .planning/STATE.md
  .planning/todos/P3-5-SUMMARY.md
Due: none

feat(P3-2): audit log rotation scheduling and size-based rotation
  backend/mlx_manager/mlx_server/config.py
  backend/mlx_manager/mlx_server/database.py
  backend/mlx_manager/mlx_server/main.py
  backend/tests/mlx_server/test_mlx_server_database.py
Due: backend

docs(P3-2): complete audit log rotation scheduling plan
  .planning/STATE.md
  .planning/todos/P3-2-SUMMARY.md
Due: none

docs(P3-1): enrich OpenAPI spec with request examples and response descriptions
  backend/mlx_manager/mlx_server/api/v1/admin.py
  backend/mlx_manager/mlx_server/api/v1/chat.py
  backend/mlx_manager/mlx_server/api/v1/completions.py
  backend/mlx_manager/mlx_server/api/v1/messages.py
  backend/mlx_manager/mlx_server/api/v1/speech.py
  backend/mlx_manager/mlx_server/schemas/anthropic.py
  backend/mlx_manager/mlx_server/schemas/openai.py
Due: backend

docs(P3-1): complete OpenAPI spec enrichment plan
  .planning/STATE.md
  .planning/todos/P3-1-SUMMARY.md
Due: none

feat(P3-3): config hot-reload via SIGHUP and admin endpoint
  backend/mlx_manager/mlx_server/api/v1/admin.py
  backend/mlx_manager/mlx_server/config.py
  backend/mlx_manager/mlx_server/main.py
  backend/tests/mlx_server/test_config_hot_reload.py
Due: backend

docs(P3-3): complete config hot-reload plan
  .planning/STATE.md
  .planning/todos/P3-3-SUMMARY.md
Due: none

feat(P3-4): connection pooling for embedded mode
  backend/mlx_manager/main.py
  backend/mlx_manager/mlx_server/database.py
  backend/tests/mlx_server/test_mlx_server_database.py
Due: backend

docs(P3-4): complete connection pooling for embedded mode plan
  .planning/STATE.md
  .planning/todos/P3-4-SUMMARY.md
Due: none

test(P3-6): add coverage for 5 critical untested paths in mlx_server
  backend/tests/mlx_server/test_admin_auth.py
  backend/tests/mlx_server/test_body_limits.py
  backend/tests/mlx_server/test_run_in_executor_tokenizer.py
  backend/tests/mlx_server/test_streaming_timeout_sse.py
Due: none

docs(P3-6): complete test coverage for critical untested paths plan
  .planning/STATE.md
  .planning/todos/P3-6-SUMMARY.md
Due: none

style: fix line-length lint errors in P3 OpenAPI annotations
  backend/mlx_manager/mlx_server/api/v1/admin.py
  backend/mlx_manager/mlx_server/api/v1/chat.py
  backend/tests/mlx_server/test_config_hot_reload.py
Due: backend

docs: mark MLX Server Hardening plan as fully complete (P0-P3)
  docs/plans/MLX_SERVER_HARDENING.md
Due: none

fix: clear stale polling state on component unmount and HMR reload
  frontend/src/lib/components/profiles/ProfileCard.svelte
  frontend/src/lib/components/servers/StartingTile.svelte
  frontend/src/lib/stores/servers.svelte.ts
Due: frontend

fix: clean shutdown — dispose database engine and suppress resource_tracker warning
  backend/mlx_manager/main.py
  backend/mlx_manager/mlx_server/main.py
Due: backend

release: v1.2.0 — fix broken tests, expand coverage, prepare release
  backend/mlx_manager/mlx_server/models/adapters/registry.py
  backend/mlx_manager/mlx_server/models/detection.py
  backend/mlx_manager/mlx_server/schemas/anthropic.py
  backend/mlx_manager/mlx_server/schemas/openai.py
  backend/mlx_manager/mlx_server/services/formatters/anthropic.py
  backend/mlx_manager/mlx_server/utils/request_helpers.py
  backend/mlx_manager/services/probe/sweeps.py
  backend/pyproject.toml
  backend/tests/mlx_server/test_anthropic_formatter_coverage.py
  backend/tests/mlx_server/test_body_limits.py
  backend/tests/mlx_server/test_config_hot_reload.py
  backend/tests/mlx_server/test_formatters.py
  backend/tests/mlx_server/test_inference_coverage.py
  backend/tests/mlx_server/test_streaming_timeout_sse.py
  backend/tests/mlx_server/test_tool_call_parsers_coverage.py
  backend/tests/test_probe_sweep_capabilities.py
  backend/tests/test_settings_router.py
  backend/uv.lock
  frontend/package.json
  frontend/src/lib/components/servers/StartingTile.svelte
  frontend/src/lib/components/servers/StartingTile.test.ts
  frontend/src/lib/components/settings/AuditLogPanel.test.ts
  frontend/src/lib/components/settings/HuggingFaceSettings.test.ts
  frontend/src/lib/components/settings/ModelPoolSettings.test.ts
  frontend/src/lib/components/settings/RoutingRulesSection.svelte
  frontend/src/lib/components/settings/RuleCard.svelte
  frontend/src/lib/components/settings/RuleCard.test.ts
  frontend/src/lib/components/settings/RuleForm.svelte
  frontend/src/lib/components/settings/TimeoutSettings.test.ts
Due: backend, frontend

docs: add README and CHANGELOG for v1.2.0; boost frontend coverage to 99.75%
  CHANGELOG.md
  README.md
  frontend/src/lib/api/client.test.ts
  frontend/src/lib/services/polling-coordinator.test.ts
  frontend/src/lib/stores/downloads-internal.test.ts
  frontend/src/lib/stores/models.svelte.test.ts
  frontend/src/lib/stores/probe.svelte.test.ts
Due: frontend

fix: resolve unawaited coroutine warning in vision timeout test
  backend/tests/test_probe_generation_timeout.py
Due: none

fix: v1.2 code review — performance, security, and clean shutdown
  backend/mlx_manager/cli.py
  backend/mlx_manager/main.py
  backend/mlx_manager/mlx_server/models/adapters/composable.py
  backend/mlx_manager/mlx_server/models/adapters/strategies.py
  backend/mlx_manager/mlx_server/services/image_processor.py
  backend/mlx_manager/mlx_server/services/inference.py
  backend/mlx_manager/mlx_server/services/response_processor.py
  backend/mlx_manager/mlx_server/utils/__init__.py
  backend/mlx_manager/mlx_server/utils/metal.py
  backend/mlx_manager/routers/models.py
  backend/mlx_manager/routers/settings.py
  backend/tests/mlx_server/test_image_processor.py
  docs/CODE_REVIEW_v1.2.md
Due: backend

fix: input validation on auth DTOs and stop leaking exception details
  backend/mlx_manager/models/dto/auth.py
  backend/mlx_manager/routers/models.py
  backend/mlx_manager/routers/system.py
  backend/tests/test_models.py
  backend/tests/test_system.py
Due: backend

docs: update release docs, version files, and Homebrew formula for v1.2.0
  CHANGELOG.md
  Formula/mlx-manager.rb
  README.md
  VERSION
  backend/mlx_manager/__init__.py
  backend/uv.lock
Due: backend

fix: annotate middleware call_next returns to satisfy mypy no-any-return
  backend/mlx_manager/mlx_server/middleware/metrics.py
  backend/mlx_manager/mlx_server/middleware/rate_limit.py
  backend/mlx_manager/mlx_server/middleware/request_id.py
  backend/mlx_manager/mlx_server/middleware/shutdown.py
Due: backend

fix(ci): run backend tests on macOS, split lint to ubuntu
  .github/workflows/ci.yml
  backend/tests/conftest.py
Due: none

chore(homebrew): update formula sha256 for v1.2.0
  Formula/mlx-manager.rb
Due: none

fix: add ty type checker config, remove unused deps, fix type errors
  backend/mlx_manager/main.py
  backend/mlx_manager/menubar.py
  backend/mlx_manager/mlx_server/api/v1/admin.py
  backend/mlx_manager/mlx_server/errors/handlers.py
  backend/mlx_manager/mlx_server/main.py
  backend/mlx_manager/mlx_server/middleware/metrics.py
  backend/mlx_manager/mlx_server/middleware/rate_limit.py
  backend/mlx_manager/mlx_server/middleware/request_id.py
  backend/mlx_manager/mlx_server/middleware/shutdown.py
  backend/mlx_manager/mlx_server/middleware/timeout.py
  backend/mlx_manager/mlx_server/models/adapters/composable.py
  backend/mlx_manager/mlx_server/models/adapters/strategies.py
  backend/mlx_manager/mlx_server/models/audit.py
  backend/mlx_manager/mlx_server/models/pool.py
  backend/mlx_manager/mlx_server/schemas/anthropic.py
  backend/mlx_manager/mlx_server/schemas/openai.py
  backend/mlx_manager/mlx_server/services/cloud/router.py
  backend/mlx_manager/mlx_server/services/formatters/anthropic.py
  backend/mlx_manager/mlx_server/services/inference.py
  backend/mlx_manager/mlx_server/utils/metal.py
  backend/mlx_manager/models/__init__.py
  backend/mlx_manager/models/dto/models.py
  backend/mlx_manager/models/entities.py
  backend/mlx_manager/models/profiles.py
  backend/mlx_manager/routers/auth.py
  backend/mlx_manager/routers/mcp.py
  backend/mlx_manager/routers/models.py
  backend/mlx_manager/routers/settings.py
  backend/mlx_manager/routers/system.py
  backend/mlx_manager/services/model_registry.py
  backend/mlx_manager/shared/cloud_entities.py
  backend/mlx_manager/utils/fuzzy_matcher.py
  backend/pyproject.toml
  backend/uv.lock
Due: backend

chore: bump version to v1.2.1
  CHANGELOG.md
  backend/mlx_manager/__init__.py
  backend/pyproject.toml
  frontend/package.json
Due: backend

chore(homebrew): update formula for v1.2.1
  Formula/mlx-manager.rb
Due: none

fix(homebrew): use uv for dependency resolution with overrides
  Formula/mlx-manager.rb
Due: none

chore: add release automation script
  scripts/release.sh
Due: none

chore: release v1.2.2
  CHANGELOG.md
  Formula/mlx-manager.rb
  VERSION
  backend/mlx_manager/__init__.py
  backend/pyproject.toml
  frontend/package.json
Due: backend

chore(homebrew): update formula sha256 for v1.2.2
  Formula/mlx-manager.rb
Due: none

fix: resolve mypy type-checking errors failing CI
  backend/mlx_manager/menubar.py
  backend/mlx_manager/mlx_server/errors/handlers.py
  backend/mlx_manager/mlx_server/utils/metal.py
  backend/mlx_manager/models/dto/models.py
  backend/mlx_manager/routers/auth.py
  backend/mlx_manager/routers/system.py
Due: backend
