Repository tumma72/mlx-manager: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: add explicit int() casts for mypy no-any-return in model_probe
  backend/mlx_manager/services/model_probe.py
Due: backend

refactor: replace model_settings with capabilities-based tool dispatch
  backend/mlx_manager/mlx_server/models/adapters/base.py
  backend/mlx_manager/mlx_server/models/adapters/glm4.py
  backend/mlx_manager/mlx_server/models/adapters/llama.py
  backend/mlx_manager/mlx_server/models/adapters/qwen.py
  backend/mlx_manager/mlx_server/models/pool.py
  backend/mlx_manager/mlx_server/services/inference.py
  backend/mlx_manager/models.py
  backend/mlx_manager/routers/chat.py
  backend/mlx_manager/routers/profiles.py
  backend/tests/mlx_server/test_adapters.py
  backend/tests/mlx_server/test_inference.py
Due: backend

test: add probe service, capabilities endpoint, and template_tools tests
  backend/tests/mlx_server/test_template_tools.py
  backend/tests/test_capabilities_endpoint.py
  backend/tests/test_model_probe.py
  scripts/probe_model.py
Due: none

fix: resolve all 20 mypy errors across 8 source files
  backend/mlx_manager/database.py
  backend/mlx_manager/mlx_server/api/v1/admin.py
  backend/mlx_manager/mlx_server/api/v1/chat.py
  backend/mlx_manager/mlx_server/database.py
  backend/mlx_manager/mlx_server/utils/memory.py
  backend/mlx_manager/routers/settings.py
  backend/mlx_manager/routers/system.py
  backend/mlx_manager/services/hf_client.py
  backend/tests/test_download_management.py
Due: backend

fix: disable LogFire telemetry during test runs
  Makefile
  backend/mlx_manager/mlx_server/observability/logfire_config.py
  backend/mlx_manager/observability/logfire_config.py
  backend/tests/conftest.py
  backend/tests/mlx_server/test_logfire_config.py
Due: backend

test: add probe store and API client tests to restore frontend coverage
  frontend/src/lib/api/client.test.ts
  frontend/src/lib/stores/probe.svelte.test.ts
Due: frontend

feat: wire model probing into UI with capability badges
  .planning/PROJECT.md
  frontend/src/lib/components/models/ModelBadges.svelte
  frontend/src/lib/components/models/ModelBadges.test.ts
  frontend/src/lib/components/models/ProbeProgress.svelte
  frontend/src/lib/components/models/ProbeProgress.test.ts
  frontend/src/lib/components/models/badges/ThinkingBadge.svelte
  frontend/src/lib/components/models/badges/ThinkingBadge.test.ts
  frontend/src/lib/components/models/badges/ToolUseBadge.svelte
  frontend/src/lib/components/models/badges/ToolUseBadge.test.ts
  frontend/src/lib/components/models/index.ts
  frontend/src/routes/(protected)/models/+page.svelte
Due: frontend

feat: add Metal thread affinity utilities for MLX operations
  backend/mlx_manager/mlx_server/utils/__init__.py
  backend/mlx_manager/mlx_server/utils/metal.py
  backend/tests/mlx_server/test_metal_utils.py
Due: backend

refactor: migrate audio/embeddings/vision to Metal thread utilities
  backend/mlx_manager/mlx_server/services/audio.py
  backend/mlx_manager/mlx_server/services/embeddings.py
  backend/mlx_manager/mlx_server/services/vision.py
Due: backend

fix: improve audio model detection and tool support patterns
  backend/mlx_manager/mlx_server/models/detection.py
  backend/mlx_manager/utils/model_detection.py
  backend/tests/mlx_server/models/test_detection_audio.py
  docs/FEEDBACK.md
Due: backend

feat: extend ModelCapabilities schema for type-specific probing
  backend/mlx_manager/database.py
  backend/mlx_manager/mlx_server/models/types.py
  backend/mlx_manager/models.py
  backend/tests/test_models.py
Due: backend

feat: add strategy-based model capability probing service
  backend/mlx_manager/services/probe/__init__.py
  backend/mlx_manager/services/probe/audio.py
  backend/mlx_manager/services/probe/embeddings.py
  backend/mlx_manager/services/probe/service.py
  backend/mlx_manager/services/probe/steps.py
  backend/mlx_manager/services/probe/strategy.py
  backend/mlx_manager/services/probe/text_gen.py
  backend/mlx_manager/services/probe/vision.py
  backend/tests/test_probe_package.py
Due: backend

feat: integrate probe service with model pool, API, and CLI
  backend/mlx_manager/cli.py
  backend/mlx_manager/mlx_server/models/pool.py
  backend/mlx_manager/routers/models.py
Due: backend

test: add comprehensive MLX server test suite
  backend/tests/e2e/test_embeddings_e2e.py
  backend/tests/e2e/test_vision_e2e.py
  backend/tests/mlx_server/api/v1/test_chat_routing.py
  backend/tests/mlx_server/api/v1/test_completions.py
  backend/tests/mlx_server/api/v1/test_models.py
  backend/tests/mlx_server/test_adapters.py
  backend/tests/mlx_server/test_admin.py
  backend/tests/mlx_server/test_audio.py
  backend/tests/mlx_server/test_audit.py
  backend/tests/mlx_server/test_embeddings.py
  backend/tests/mlx_server/test_error_handlers.py
  backend/tests/mlx_server/test_pool.py
  backend/tests/mlx_server/test_response_processor.py
  backend/tests/mlx_server/test_structured_output.py
  backend/tests/mlx_server/test_vision.py
Due: none

test: add supporting test infrastructure and coverage
  backend/tests/mlx_server/batching/test_benchmark.py
  backend/tests/mlx_server/batching/test_scheduler.py
  backend/tests/mlx_server/test_image_processor.py
  backend/tests/mlx_server/test_memory.py
  backend/tests/mlx_server/test_mlx_server_database.py
  backend/tests/mlx_server/test_mlx_server_main.py
  backend/tests/test_fuzzy_matcher.py
  backend/tests/test_logging_config.py
  backend/tests/test_services_hf_client.py
  backend/tests/test_system.py
Due: none

chore: update build config, coverage settings, and docs
  .gitignore
  backend/mlx_manager/ARCHITECTURE.md
  backend/mlx_manager/mlx_server/services/batching/benchmark.py
  backend/mlx_manager/mlx_server/services/batching/scheduler.py
  backend/pyproject.toml
  docs/PROBE_RESULTS.md
Due: backend

fix: audio model references, torchvision lockfile, and TTS encoding
  CLAUDE.md
  backend/mlx_manager/mlx_server/models/pool.py
  backend/mlx_manager/mlx_server/services/audio.py
  backend/tests/e2e/conftest.py
  backend/tests/e2e/test_audio_e2e.py
  backend/tests/mlx_server/test_audio.py
  backend/uv.lock
Due: backend

feat: probe modal with audio playback, capability badges, and TTS improvements
  backend/mlx_manager/services/probe/audio.py
  frontend/src/lib/api/types.ts
  frontend/src/lib/components/models/ModelBadges.svelte
  frontend/src/lib/components/models/ProbeModal.svelte
  frontend/src/lib/components/models/badges/EmbeddingsBadge.svelte
  frontend/src/lib/components/models/badges/STTBadge.svelte
  frontend/src/lib/components/models/badges/TTSBadge.svelte
  frontend/src/lib/components/models/index.ts
  frontend/src/routes/(protected)/models/+page.svelte
Due: backend, frontend

fix: gate audio controls on step completion and derive tool badge from tool_format
  backend/mlx_manager/services/probe/audio.py
  frontend/src/lib/components/models/ProbeModal.svelte
Due: backend, frontend

fix: use correct audio_path parameter for mlx-audio generate_transcription
  backend/mlx_manager/mlx_server/services/audio.py
  backend/tests/mlx_server/test_audio.py
Due: backend

feat: use static Kokoro WAV fixture for STT probe and show audio in modal
  backend/mlx_manager/services/probe/audio.py
  backend/mlx_manager/services/probe/stt_test.wav
  frontend/src/lib/components/models/ProbeModal.svelte
Due: backend, frontend

fix: show full STT transcript in wrapped block, remove leftover .txt
  frontend/src/lib/components/models/ProbeModal.svelte
Due: frontend

chore(inspect): added local Pydantic logfire MCP to allow Claude Code to check traces
  .mcp.json
Due: none

chore: updated dependencies for mlx libraries to support newer models.
  backend/uv.lock
Due: none

docs: blueprint composable adapter architecture in both ARCHITECTURE.md files
  backend/mlx_manager/ARCHITECTURE.md
  backend/mlx_manager/mlx_server/ARCHITECTURE.md
Due: backend

refactor: implement composable adapter architecture with dependency-injected parsers
  backend/mlx_manager/database.py
  backend/mlx_manager/mlx_server/api/v1/chat.py
  backend/mlx_manager/mlx_server/models/adapters/__init__.py
  backend/mlx_manager/mlx_server/models/adapters/base.py
  backend/mlx_manager/mlx_server/models/adapters/composable.py
  backend/mlx_manager/mlx_server/models/adapters/gemma.py
  backend/mlx_manager/mlx_server/models/adapters/glm4.py
  backend/mlx_manager/mlx_server/models/adapters/llama.py
  backend/mlx_manager/mlx_server/models/adapters/mistral.py
  backend/mlx_manager/mlx_server/models/adapters/qwen.py
  backend/mlx_manager/mlx_server/models/adapters/registry.py
  backend/mlx_manager/mlx_server/models/pool.py
  backend/mlx_manager/mlx_server/parsers/__init__.py
  backend/mlx_manager/mlx_server/parsers/base.py
  backend/mlx_manager/mlx_server/parsers/registry.py
  backend/mlx_manager/mlx_server/parsers/thinking.py
  backend/mlx_manager/mlx_server/parsers/tool_call.py
  backend/mlx_manager/mlx_server/services/batching/batch_inference.py
  backend/mlx_manager/mlx_server/services/batching/scheduler.py
  backend/mlx_manager/mlx_server/services/inference.py
  backend/mlx_manager/mlx_server/services/response_processor.py
  backend/mlx_manager/models.py
  backend/mlx_manager/services/probe/service.py
  backend/mlx_manager/services/probe/steps.py
  backend/mlx_manager/services/probe/text_gen.py
  backend/tests/fixtures/golden/glm4/tool_calls.txt
  backend/tests/mlx_server/api/v1/test_chat_routing.py
  backend/tests/mlx_server/batching/test_batch_inference.py
  backend/tests/mlx_server/batching/test_scheduler_manager.py
  backend/tests/mlx_server/test_adapters.py
  backend/tests/mlx_server/test_composable_adapters.py
  backend/tests/mlx_server/test_embeddings.py
  backend/tests/mlx_server/test_inference.py
  backend/tests/mlx_server/test_parsers.py
  backend/tests/mlx_server/test_pool.py
  backend/tests/mlx_server/test_response_processor.py
  backend/tests/mlx_server/test_response_processor_golden.py
  backend/tests/mlx_server/test_tool_calling.py
  backend/tests/test_probe_package.py
Due: backend

fix: use loguru {} placeholders instead of printf %s in logger calls
  backend/mlx_manager/mlx_server/models/adapters/composable.py
  backend/mlx_manager/mlx_server/models/adapters/registry.py
  backend/mlx_manager/mlx_server/models/pool.py
  backend/mlx_manager/mlx_server/parsers/tool_call.py
  backend/mlx_manager/mlx_server/utils/template_tools.py
  backend/mlx_manager/services/probe/text_gen.py
Due: backend

refactor: rewrite probe tool verification with adapter-driven 2-attempt approach
  Makefile
  backend/mlx_manager/ARCHITECTURE.md
  backend/mlx_manager/cli.py
  backend/mlx_manager/mlx_server/ARCHITECTURE.md
  backend/mlx_manager/mlx_server/services/inference.py
  backend/mlx_manager/services/probe/service.py
  backend/mlx_manager/services/probe/steps.py
  backend/mlx_manager/services/probe/text_gen.py
  backend/tests/mlx_server/test_inference.py
  backend/tests/test_probe_package.py
  scripts/probe_model.py
Due: backend

chore(dependencies): updated mlx related dependencies
  backend/uv.lock
Due: none

fix: drop return_tensors="np" from vision probe processor check
  backend/mlx_manager/services/probe/vision.py
Due: backend

feat: smart memory limit auto-detection based on Apple's macOS guidelines
  backend/mlx_manager/cli.py
  backend/mlx_manager/main.py
  backend/mlx_manager/mlx_server/main.py
  backend/mlx_manager/mlx_server/utils/memory.py
  backend/tests/mlx_server/test_memory.py
Due: backend

feat: unify probe hierarchy and extend vision models with thinking/tool probing
  backend/mlx_manager/mlx_server/models/pool.py
  backend/mlx_manager/services/probe/audio.py
  backend/mlx_manager/services/probe/base.py
  backend/mlx_manager/services/probe/embeddings.py
  backend/mlx_manager/services/probe/text_gen.py
  backend/mlx_manager/services/probe/vision.py
  backend/tests/test_probe_package.py
  frontend/src/lib/components/models/ModelBadges.svelte
  frontend/src/lib/components/models/ModelBadges.test.ts
  frontend/src/lib/components/models/badges/VisionImageBadge.svelte
  frontend/src/lib/components/models/badges/VisionVideoBadge.svelte
Due: backend, frontend

feat: extend adapter pattern to audio models with post_load_configure and boost test coverage to 96.6%
  backend/mlx_manager/mlx_server/models/adapters/composable.py
  backend/mlx_manager/mlx_server/models/adapters/registry.py
  backend/mlx_manager/mlx_server/models/pool.py
  backend/mlx_manager/mlx_server/services/audio.py
  backend/mlx_manager/mlx_server/utils/memory.py
  backend/mlx_manager/services/probe/audio.py
  backend/mlx_manager/services/probe/base.py
  backend/mlx_manager/services/probe/service.py
  backend/pyproject.toml
  backend/tests/mlx_server/test_adapters.py
  backend/tests/mlx_server/test_audio.py
  backend/tests/mlx_server/test_composable_adapters.py
  backend/tests/mlx_server/test_response_processor_coverage.py
  backend/tests/mlx_server/test_template_tools.py
  backend/tests/mlx_server/test_tool_call_parsers_coverage.py
  backend/tests/test_model_probe_coverage.py
  backend/tests/test_probe_package.py
  backend/uv.lock
  frontend/src/lib/components/models/ProbeModal.svelte
Due: backend, frontend

refactor: move tool delivery logic into adapter, simplify inference to 2 cases
  backend/mlx_manager/mlx_server/models/adapters/composable.py
  backend/mlx_manager/mlx_server/services/inference.py
  backend/tests/mlx_server/test_inference.py
Due: backend

refactor: phase 1 - clean dead code, fix base classes, merge duplicate status models
  backend/mlx_manager/models.py
  backend/mlx_manager/routers/servers.py
  backend/mlx_manager/services/model_probe.py
  backend/mlx_manager/types.py
  backend/tests/test_model_probe_coverage.py
  backend/tests/test_probe_package.py
  frontend/src/lib/api/types.ts
  frontend/src/lib/components/profiles/ProfileCard.test.ts
  frontend/src/lib/components/servers/ServerCard.test.ts
  frontend/src/lib/components/servers/ServerTile.test.ts
  frontend/src/lib/stores/servers.svelte.test.ts
Due: backend, frontend

refactor: phase 2 - convert models to package, consolidate enums, add value objects
  backend/mlx_manager/mlx_server/api/v1/messages.py
  backend/mlx_manager/mlx_server/models/types.py
  backend/mlx_manager/mlx_server/services/protocol.py
  backend/mlx_manager/models/__init__.py
  backend/mlx_manager/models/_domain.py
  backend/mlx_manager/models/enums.py
  backend/mlx_manager/models/value_objects.py
  backend/tests/mlx_server/api/v1/test_messages.py
  backend/tests/mlx_server/services/test_protocol.py
Due: backend

refactor: phase 6 - runtime model cleanup
  backend/mlx_manager/main.py
  backend/mlx_manager/mlx_server/benchmark/runner.py
  backend/mlx_manager/mlx_server/models/types.py
  backend/mlx_manager/mlx_server/services/audit.py
  backend/mlx_manager/mlx_server/services/batching/benchmark.py
  backend/mlx_manager/mlx_server/services/cloud/router.py
  backend/mlx_manager/mlx_server/services/structured_output.py
  backend/mlx_manager/models/__init__.py
  backend/mlx_manager/models/dto/models.py
  backend/mlx_manager/models/entities.py
  backend/mlx_manager/routers/models.py
  backend/mlx_manager/routers/system.py
  backend/mlx_manager/services/hf_api.py
  backend/mlx_manager/services/hf_client.py
  backend/mlx_manager/services/launchd.py
  backend/mlx_manager/services/model_registry.py
  backend/mlx_manager/services/probe/steps.py
  backend/mlx_manager/shared/__init__.py
  backend/mlx_manager/shared/cloud_entities.py
  backend/mlx_manager/types.py
  backend/mlx_manager/utils/model_detection.py
  backend/tests/test_main.py
  backend/tests/test_model_detection.py
  backend/tests/test_models.py
  backend/tests/test_services_hf_client.py
  backend/tests/test_services_launchd.py
Due: backend

docs: update DATA_MODEL_REDESIGN.md - mark all 6 phases complete
  docs/DATA_MODEL_REDESIGN.md
Due: none

Path conditions:
  backend: any of: backend/mlx_manager/
  frontend: any of: frontend/src/
